Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

fix: do not suggest meta command in the middle of input (#6)
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

chore: add CI workflow for check & test (#7)
  .github/workflows/ci.yml
  tests/test_bash.py
  tests/test_fetch_url.py
  tests/test_load_agent.py
  tests/test_task_subagents.py
  uv.lock
Due: dead-imports

feat: improve ToolRuntimeError message (#9)
  src/kimi_cli/soul/message.py
Due: dead-imports, vulture-changed

feat: add fuzzy file completer (#10)
  src/kimi_cli/ui/shell/prompt.py
  tests/test_file_completer.py
Due: dead-imports, vulture-changed

feat: add bottom status line (#11)
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/event.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

chore: bump version to 0.32
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: suppress warnings and stderr
  src/kimi_cli/__init__.py
  src/kimi_cli/logging.py
Due: dead-imports, vulture-changed

fix: merge consecutively duplicated user input history
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

refactor: simplify StepLiveView finishing
  src/kimi_cli/ui/shell/liveview.py
Due: dead-imports, vulture-changed

chore: add pyinstaller building step in CI workflow (#13)
  .github/workflows/ci.yml
  Makefile
  src/kimi_cli/utils/pyinstaller.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

feat: add `/version` meta command
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

chore: improve help message
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

chore: minor color change
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: add release workflow (#14)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: change release assets naming
  .github/workflows/release.yml
Due: none

chore: pack ripgrep into kimi-cli binary (#15)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  src/kimi_cli/deps/Makefile
  src/kimi_cli/tools/file/grep.py
  src/kimi_cli/utils/pyinstaller.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

refactor: change session infomation in welcome message
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

chore: disable macos ci runner (#18)
  .github/workflows/ci.yml
Due: none

chore: add todo
  src/kimi_cli/soul/denwarenji.py
Due: dead-imports, vulture-changed

feat: support toggling between agent mode and shell mode (#19)
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

feat: refresh status line periodically to make it up to date (#16)
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

feat: show shortcuts and mode in status bar
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

refactor: move logging module to utils
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/config.py
  src/kimi_cli/metadata.py
  src/kimi_cli/soul/context.py
  src/kimi_cli/soul/event.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/tools/file/grep.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/prompt.py
  src/kimi_cli/utils/logging.py
Due: dead-imports, vulture-changed

chore: bump deps
  pyproject.toml
  tests/test_pyinstaller_utils.py
  uv.lock
Due: dead-imports

chore: bump version to 0.33
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add tool call approval mechanism, part 1 (#12)
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/denwarenji.py
  src/kimi_cli/soul/event.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/tools/dmail/__init__.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/utils.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  tests/conftest.py
  tests/test_load_agent.py
  uv.lock
Due: dead-imports, vulture-changed

refactor: rename `event.py` to `wire.py` (#20)
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

fix: exclude deps from python package distribution
  pyproject.toml
Due: none

feat: approval request in ACP mode (#21)
  src/kimi_cli/agent.py
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/toolset.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  tests/conftest.py
  tests/test_load_agent.py
Due: dead-imports, vulture-changed

feat: add `/update` meta command (#17)
  CHANGELOG.md
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/update.py
Due: dead-imports, vulture-changed

feat: support running interactive command in raw shell mode
  CHANGELOG.md
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: add py.typed
  src/kimi_cli/py.typed
Due: none

chore: run `uv sync` in `make prepare`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  src/kimi_cli/deps/Makefile
Due: none

feat: auto updating in background (#2)
  CHANGELOG.md
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/prompt.py
  src/kimi_cli/ui/shell/update.py
Due: dead-imports, vulture-changed

feat: better welcome message with logo (#3)
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

feat: add `/setup` meta command (#1)
  CHANGELOG.md
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/config.py
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/tools/web/search.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/setup.py
  src/kimi_cli/utils/provider.py
  tests/conftest.py
  tests/test_config.py
  tests/test_load_agent.py
Due: dead-imports, vulture-changed

chore: merge share dir with config dir and move to ~/.kimi
  src/kimi_cli/config.py
  src/kimi_cli/share.py
Due: dead-imports, vulture-changed

chore: bump version to 0.34 (#4)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: none

chore: update changelog
  CHANGELOG.md
Due: none
