Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

dead-imports:
  name: Check for unused imports in changed files
  entry: scripts/run-dead-imports.sh
  language: script
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

naming-conventions:
  name: Check naming conventions
  entry: uv run python scripts/check-naming-conventions.py
  language: system

pylint-duplicates:
  name: Check for duplicate code
  entry: uv run pylint --disable=all --enable=R0801 --min-similarity-lines=15
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore: doc clean up
  memory-bank/research/2026-02-04_15-20-48_core_directory_analysis.md
Due: none

feat: move dependency map generation to GitHub Action
  .github/workflows/dependency-map.yml
  .pre-commit-config.yaml
Due: none

Add TODO/FIXME scanner and tech debt tracking CI (#361)
  .claude/delta/2026-02-05-tech-debt-scanner-markdown-exclusion.md
  .github/workflows/tech-debt.yml
  docs/agent-docs/tech-debt-tracking.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  scripts/todo_baseline.json
  scripts/todo_scanner.py
Due: dead-imports, vulture-changed

chore: make tech debt scan non-blocking on PRs
  .github/workflows/tech-debt.yml
Due: none

refactor: decompose orchestrator into focused modules (#365)
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/agent_components/orchestrator/debug_format.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_returns.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: use simplified token counter for context window display
  scripts/pydantic_usage_baseline.json
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: simplify agent response status bar, add model to resource bar
  scripts/pydantic_usage_baseline.json
  src/tunacode/ui/model_display.py
  src/tunacode/ui/renderers/agent_response.py
  src/tunacode/ui/widgets/resource_bar.py
  tests/unit/ui/test_agent_response.py
  tests/unit/ui/test_model_display.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: docs
  memory-bank/plan/2026-02-05_issue-358_tool-dispatcher-complexity.md
  memory-bank/research/2026-02-05_tool_dispatcher_complexity_358.md
Due: none

refactor: decompose tool_dispatcher into focused modules (#366)
  memory-bank/plan/2026-02-05_issue-358_tool-dispatcher-complexity.md
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_collection.py
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_constants.py
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_execution.py
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_logging.py
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_names.py
  src/tunacode/core/agents/agent_components/orchestrator/_tool_dispatcher_registry.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove mccabe complexity checking from ruff config
  pyproject.toml
Due: none

docs: add tech debt tracking, fix UI dependency layer violation
  .claude/delta/2026-02-05-ui-messaging-layer-facade.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  README.md
  docs/CONTRIBUTING.md
  docs/agent-docs/quality-gates.md
  docs/architecture/agent-loop.md
  docs/codebase-map/architecture/conversation-turns.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/structure/tree-structure.txt
  memory-bank/plan/2026-02-05_issue-358_tool-dispatcher-complexity.md
  memory-bank/research/2026-02-05_tool_dispatcher_complexity_358.md
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/ui_api/messaging.py
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.60
  pyproject.toml
  scripts/pydantic_usage_baseline.json
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: reduce McCabe complexity to ≤10 for 14 functions
  scripts/check-naming-conventions.py
  scripts/pydantic_usage_baseline.json
  src/tunacode/configuration/ignore_patterns.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/logging/handlers.py
  src/tunacode/infrastructure/file_filter.py
  src/tunacode/tools/glob.py
  src/tunacode/tools/grep.py
  src/tunacode/tools/parsing/json_utils.py
  src/tunacode/tools/parsing/tool_parser.py
  src/tunacode/tools/utils/ripgrep.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: reduce cognitive complexity of 13 functions to under 10
  scripts/pydantic_usage_baseline.json
  src/tunacode/tools/utils/text_match.py
  src/tunacode/tools/web_fetch.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/main.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/read_file.py
  src/tunacode/ui/renderers/tools/syntax_utils.py
  src/tunacode/ui/widgets/editor.py
  src/tunacode/utils/messaging/adapter.py
  tests/architecture/test_imports_in_init.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: re-enable Ruff mccabe complexity (max 10)
  pyproject.toml
  scripts/pydantic_usage_baseline.json
Due: none

ci: create PR for dependency map updates
  .github/workflows/dependency-map.yml
Due: none

ci: push dependency map updates to automation branch
  .github/workflows/dependency-map.yml
Due: none

ci: add CodeQL security scanning workflow
  .github/workflows/codeql.yml
Due: none

ci: add CODEOWNERS
  .github/CODEOWNERS
Due: none

docs: add .env.example
  .env.example
Due: none

ci: enforce coverage threshold and add parallel test execution
  .github/workflows/lint.yml
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

ci: add deptry pre-commit hook
  .pre-commit-config.yaml
Due: none

Add strict cache infrastructure with strategies
  scripts/pydantic_usage_baseline.json
  src/tunacode/infrastructure/cache/__init__.py
  src/tunacode/infrastructure/cache/manager.py
  src/tunacode/infrastructure/cache/metadata.py
  src/tunacode/infrastructure/cache/strategies.py
  tests/unit/infrastructure/test_cache_infrastructure.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Add typed cache accessors for agents, context, ignore manager
  scripts/pydantic_usage_baseline.json
  src/tunacode/infrastructure/cache/caches/__init__.py
  src/tunacode/infrastructure/cache/caches/agents.py
  src/tunacode/infrastructure/cache/caches/ignore_manager.py
  src/tunacode/infrastructure/cache/caches/tunacode_context.py
  src/tunacode/infrastructure/cache/manager.py
  src/tunacode/infrastructure/cache/strategies.py
  src/tunacode/tools/ignore.py
  src/tunacode/tools/ignore_manager.py
  tests/unit/infrastructure/test_typed_cache_accessors.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Refactor agent_config to use typed cache accessors
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/agent_components/agent_config.py
  tests/unit/core/test_agent_cache_abort.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Use cache accessor for ignore manager; remove global ignore cache
  scripts/pydantic_usage_baseline.json
  src/tunacode/tools/ignore.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Add end-to-end tests for mtime-driven caches
  scripts/pydantic_usage_baseline.json
  tests/integration/core/test_mtime_caches_end_to_end.py
Due: dead-imports

Document cache layer + typed accessor pattern
  .claude/patterns/cache-layer-typed-accessors.md
Due: none

Migrate remaining lru_cache caches into CacheManager layer
  scripts/pydantic_usage_baseline.json
  src/tunacode/configuration/limits.py
  src/tunacode/configuration/models.py
  src/tunacode/infrastructure/cache/caches/limits_settings.py
  src/tunacode/infrastructure/cache/caches/models_registry.py
  src/tunacode/infrastructure/cache/caches/ripgrep.py
  src/tunacode/infrastructure/cache/caches/xml_prompts.py
  src/tunacode/tools/utils/ripgrep.py
  src/tunacode/tools/xml_helper.py
  tests/unit/infrastructure/test_migrated_lru_cache_replacements.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: save
  .claude/patterns/cache-layer-typed-accessors.md
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/infrastructure/cache/__init__.py
  src/tunacode/infrastructure/cache/caches/tunacode_context.py
  src/tunacode/infrastructure/cache/manager.py
  src/tunacode/infrastructure/cache/metadata.py
  src/tunacode/infrastructure/cache/strategies.py
  src/tunacode/tools/cache_accessors/__init__.py
  src/tunacode/tools/cache_accessors/ignore_manager_cache.py
  src/tunacode/tools/cache_accessors/ripgrep_cache.py
  src/tunacode/tools/cache_accessors/xml_prompts_cache.py
  src/tunacode/tools/ignore.py
  src/tunacode/tools/utils/ripgrep.py
  src/tunacode/tools/xml_helper.py
  tests/unit/infrastructure/test_migrated_lru_cache_replacements.py
  tests/unit/infrastructure/test_typed_cache_accessors.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: add core agent pure-logic unit tests
  tests/unit/core/__init__.py
  tests/unit/core/agents/__init__.py
  tests/unit/core/agents/agent_components/__init__.py
  tests/unit/core/agents/agent_components/orchestrator/__init__.py
  tests/unit/core/agents/agent_components/orchestrator/test_debug_format.py
  tests/unit/core/agents/agent_components/test_streaming_debug.py
  tests/unit/core/agents/resume/__init__.py
  tests/unit/core/agents/resume/test_filter.py
  tests/unit/core/agents/resume/test_sanitize_debug.py
  tests/unit/core/agents/resume/test_summary.py
  tests/unit/core/agents/test_request_logger.py
  tests/unit/tools/parsing/__init__.py
  tests/unit/tools/parsing/test_command_parser.py
Due: dead-imports

test: add UI renderer pure-logic unit tests
  tests/unit/ui/renderers/__init__.py
  tests/unit/ui/renderers/test_errors.py
  tests/unit/ui/renderers/test_panels.py
  tests/unit/ui/renderers/test_search.py
  tests/unit/ui/renderers/test_syntax_utils.py
  tests/unit/ui/renderers/tools/__init__.py
  tests/unit/ui/renderers/tools/test_base_utils.py
  tests/unit/ui/renderers/tools/test_tool_parse_result.py
Due: dead-imports

test: expand tool and utility test coverage
  tests/unit/core/test_text_match.py
  tests/unit/tools/test_web_fetch_helpers.py
  tests/unit/ui/renderers/test_renderer_deep.py
  tests/unit/ui/renderers/tools/test_diagnostics.py
  tests/unit/ui/renderers/tools/test_tool_renderers.py
Due: dead-imports

ci: raise coverage threshold to 70%
  .github/workflows/lint.yml
  pytest.ini
Due: none

refactor: split oversized test files to enforce 600 LOC limit
  tests/unit/ui/renderers/test_errors_render.py
  tests/unit/ui/renderers/test_panels_render.py
  tests/unit/ui/renderers/test_renderer_deep.py
  tests/unit/ui/renderers/test_search_render.py
  tests/unit/ui/renderers/tools/test_renderer_bash_grep_glob.py
  tests/unit/ui/renderers/tools/test_renderer_helpers.py
  tests/unit/ui/renderers/tools/test_renderer_listdir_readfile.py
  tests/unit/ui/renderers/tools/test_renderer_write_web_update.py
  tests/unit/ui/renderers/tools/test_tool_renderers.py
Due: dead-imports

fix: satisfy pre-commit dead code checks
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/resume/summary.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.61
  CHANGELOG.md
  pyproject.toml
  scripts/pydantic_usage_baseline.json
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

ensure changes worked with merge
  .devcontainer/devcontainer.json
  .gitignore
  Makefile
  mkdocs.yml
  pyproject.toml
  src/tunacode/core/logging/__init__.py
  src/tunacode/core/logging/handlers.py
  src/tunacode/core/logging/manager.py
  src/tunacode/core/logging/records.py
  src/tunacode/core/logging/sentry.py
  tests/unit/configuration/__init__.py
  tests/unit/configuration/test_defaults.py
  tests/unit/configuration/test_feature_flags.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/configuration/test_limits.py
  tests/unit/configuration/test_models.py
  tests/unit/configuration/test_paths.py
  tests/unit/configuration/test_pricing.py
  tests/unit/configuration/test_user_config.py
  tests/unit/core/agents/agent_components/test_agent_config.py
  tests/unit/core/agents/agent_components/test_agent_helpers.py
  tests/unit/core/agents/agent_components/test_openai_response_validation.py
  tests/unit/core/agents/agent_components/test_response_state.py
  tests/unit/core/agents/agent_components/test_result_wrapper.py
  tests/unit/core/agents/agent_components/test_state_transition.py
  tests/unit/core/session/__init__.py
  tests/unit/core/session/test_state.py
  tests/unit/infrastructure/__init__.py
  tests/unit/test_exceptions.py
  tests/unit/tools/__init__.py
  tests/unit/tools/test_glob_helpers.py
  tests/unit/tools/test_grep_helpers.py
  tests/unit/tools/test_json_utils.py
  tests/unit/tools/test_list_dir_helpers.py
  tests/unit/tools/test_ripgrep_utils.py
  tests/unit/utils/test_gitignore.py
  tests/unit/utils/test_messaging_adapter.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix precommit
  L4
  scripts/pydantic_usage_baseline.json
  tests/unit/configuration/test_feature_flags.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/configuration/test_limits.py
  tests/unit/configuration/test_models.py
  tests/unit/configuration/test_paths.py
  tests/unit/configuration/test_pricing.py
  tests/unit/configuration/test_user_config.py
  tests/unit/core/agents/agent_components/orchestrator/__init__.py
  tests/unit/core/agents/agent_components/test_agent_helpers.py
  tests/unit/core/agents/agent_components/test_openai_response_validation.py
  tests/unit/core/agents/agent_components/test_response_state.py
  tests/unit/core/agents/agent_components/test_state_transition.py
  tests/unit/core/agents/resume/__init__.py
  tests/unit/core/agents/resume/test_summary.py
  tests/unit/core/agents/test_request_logger.py
  tests/unit/core/session/test_state.py
  tests/unit/tools/test_glob_helpers.py
  tests/unit/tools/test_grep_helpers.py
  tests/unit/tools/test_list_dir_helpers.py
  tests/unit/tools/test_ripgrep_utils.py
  tests/unit/tools/test_web_fetch_helpers.py
  tests/unit/ui/renderers/test_errors_render.py
  tests/unit/ui/renderers/test_panels.py
  tests/unit/ui/renderers/test_search_render.py
  tests/unit/ui/renderers/test_syntax_utils.py
  tests/unit/ui/renderers/tools/test_diagnostics.py
  tests/unit/ui/renderers/tools/test_renderer_bash_grep_glob.py
  tests/unit/ui/renderers/tools/test_renderer_helpers.py
  tests/unit/ui/renderers/tools/test_renderer_listdir_readfile.py
  tests/unit/ui/renderers/tools/test_renderer_write_web_update.py
  tests/unit/ui/renderers/tools/test_tool_parse_result.py
  tests/unit/utils/test_gitignore.py
  tests/unit/utils/test_messaging_adapter.py
Due: dead-imports

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
