Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))

feat(T1,T2): Add PromptVersion and AgentPromptVersions dataclasses
  src/tunacode/types/canonical.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat(T3,T4,T5): Add prompt version computation module and tests
  memory-bank/execute/2026-02-28_16-00-00_prompt_versioning.md
  src/tunacode/prompts/versioning.py
  tests/unit/prompts/test_versioning.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat(T6): Add PromptVersionCache with mtime-aware invalidation
  src/tunacode/infrastructure/cache/caches/prompt_version_cache.py
  src/tunacode/prompts/versioning.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat(T7,T8,T9,T10): Integrate version tracking into agent creation
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/tools/decorators.py
  src/tunacode/tools/xml_helper.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat(T11,T12,T13): Add observability features and documentation
  docs/modules/prompts/versioning.md
  src/tunacode/prompts/version_display.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: Resolve type errors and remove __all__ exports from versioning
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/infrastructure/cache/caches/prompt_version_cache.py
  src/tunacode/prompts/version_display.py
  src/tunacode/prompts/versioning.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: Add execution log for prompt versioning implementation
  memory-bank/execute/2026-02-28_16-00-00_prompt_versioning.md
Due: none

fix: remove original_query reset from _reset_session_state() (#377)
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update changelog for PR #377
  CHANGELOG.md
Due: none

fix: resolve 4 mypy type errors in constants.py
  plan-typefix.md
  plan.md
  src/tunacode/constants.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix thinking panel widget typing
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: remove temporary plan docs
  plan-typefix.md
  plan.md
Due: none

fix: hide tool validation errors from users (#407)
  .claude/delta/2026-03-03-ruff-import-order-determinism.md
  pyproject.toml
  src/tunacode/tools/decorators.py
  src/tunacode/ui/repl_support.py
  tests/integration/core/test_minimax_execution_path.py
  tests/integration/core/test_mtime_caches_end_to_end.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.79
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: align bash timeout contract and add guardrails
  src/tunacode/tools/bash.py
  src/tunacode/tools/prompts/bash_prompt.xml
  tests/unit/tools/test_bash.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.80
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update README with new screenshots
  README.md
  assets/hashline-edit.png
  assets/home.png
Due: none

Refine tinyagent typing and compaction boundaries
  .claude/delta/2026-03-04-request-orchestrator-typed-events.md
  .claude/delta/2026-03-04-session-compaction-model-first-boundaries.md
  .claude/delta/2026-03-04-tiny-agent-os-1-2-7-baseline.md
  .claude/delta/2026-03-04-tool-adapter-typed-agenttoolresult.md
  .claude/delta/2026-03-04-typed-stream-fn-contract.md
  AGENTS.md
  assets/tunacode.png
  assets/tunacode_example.png
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/helpers.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/compaction/controller.py
  src/tunacode/core/compaction/summarizer.py
  src/tunacode/core/session/state.py
  src/tunacode/tools/decorators.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/compact.py
  src/tunacode/ui/headless/output.py
  src/tunacode/ui/main.py
  src/tunacode/utils/messaging/adapter.py
  src/tunacode/utils/messaging/token_counter.py
  tests/integration/core/test_minimax_execution_path.py
  tests/integration/core/test_tinyagent_tool_execution_contract.py
  tests/system/cli/test_startup.py
  tests/test_compaction.py
  tests/unit/core/test_compaction_controller_outcomes.py
  tests/unit/core/test_compaction_summarizer.py
  tests/unit/core/test_request_orchestrator_parallel_tools.py
  tests/unit/core/test_thinking_stream_routing.py
  tests/unit/core/test_tinyagent_openrouter_model_config.py
  tests/unit/core/test_tool_concurrency_limit.py
  tests/unit/tools/test_tinyagent_tool_adapter.py
  tests/unit/types/test_adapter.py
  tests/unit/ui/test_app_latest_response_text.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix(deps): declare pydantic as direct dependency for deptry
  .claude/delta/2026-03-04-deptry-pydantic-direct-dependency.md
  pyproject.toml
  uv.lock
Due: none

test(integration): migrate live alchemy usage contract test to typed chutes flow
  .claude/delta/2026-03-05-live-alchemy-usage-contract-test-typed-chutes.md
  tests/integration/core/test_tinyagent_alchemy_usage_contract_live.py
Due: dead-imports

chore: bump version to 0.1.81
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore(release): bump version to 0.1.82
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan skills feature minimal map
  memory-bank/plan/2026-03-05_18-44-49_skills_feature_minimal_map.md
  memory-bank/research/2026-03-05_skills_feature_minimal_map.md
Due: none

T001: define skill domain models
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/skills/__init__.py
  src/tunacode/skills/models.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: implement skill discovery precedence
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/skills/discovery.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T003: add discovery coverage
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  tests/unit/skills/test_discovery.py
Due: dead-imports

T004: add lazy skill loader
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/skills/loader.py
  tests/unit/skills/test_loader.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T005: enforce fail-loud skill validation
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/skills/loader.py
  tests/unit/skills/test_loader.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T006: add cached skill registry APIs
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/infrastructure/cache/caches/skills.py
  src/tunacode/skills/registry.py
  tests/unit/skills/test_registry.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T007: persist selected skill names
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/core/session/state.py
  src/tunacode/core/types/state.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T008: add skill selection and prompting helpers
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/skills/prompting.py
  src/tunacode/skills/selection.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T009: wire skills into agent prompts
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T010: add skill slash command
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/commands/skill.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T011: show active skills in session inspector
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/ui/app.py
  src/tunacode/ui/context_panel.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T012: add skill command UI coverage
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  tests/unit/ui/test_skill_command.py
Due: dead-imports

T013: add skills integration coverage
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  tests/integration/core/test_skills_integration.py
  tests/unit/core/test_session_state_skills.py
Due: dead-imports

T014: run gates and fix final regressions
  memory-bank/execute/2026-03-05_18-51-12_skills_feature_minimal_map.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/infrastructure/cache/caches/skills.py
  src/tunacode/skills/loader.py
  src/tunacode/skills/registry.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/skill.py
  tests/architecture/test_import_order.py
  tests/unit/skills/test_loader.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix skills loading and replace /skill with /skills
  .claude/debug_history/2026-03-06-skills-legacy-loading-and-casefold-precedence.md
  src/tunacode/skills/discovery.py
  src/tunacode/skills/loader.py
  src/tunacode/skills/registry.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/commands/skill.py
  src/tunacode/ui/commands/skills.py
  src/tunacode/ui/context_panel.py
  tests/integration/core/test_skills_integration.py
  tests/unit/skills/test_discovery.py
  tests/unit/skills/test_loader.py
  tests/unit/skills/test_registry.py
  tests/unit/ui/test_skill_command.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.83
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates
