Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

dead-imports:
  name: Check for unused imports in changed files
  entry: scripts/run-dead-imports.sh
  language: script
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

naming-conventions:
  name: Check naming conventions
  entry: uv run python scripts/check-naming-conventions.py
  language: system

pylint-duplicates:
  name: Check for duplicate code
  entry: uv run pylint --disable=all --enable=R0801 --min-similarity-lines=15
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs: add git safety practices and update agent guidance
  .artifacts/plans/reduce-src-python-files-to-500-lines-plan.md
  AGENTS.md
  docs/git/practices.md
Due: none

chore: doc and cofig clean ups
  .artifacts/plans/consolidate-main-support-plan.md
  AGENTS.md
  docs/CODE-STANDARDS.md
  src/tunacode/configuration/defaults.py
  src/tunacode/core/agents/_main_support.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: doc and cofig clean ups
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

WIP: update main.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: prep for main updates
  .artifacts/plans/consolidate-main-support-plan.md
  docs/CODE-STANDARDS.md
  pyproject.toml
  src/tunacode/core/agents/_main_support.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: storing for time
  .artifacts/README.md
  .artifacts/debug_history/REQUEST_CONTEXT_CUTOVER_LESSON.md
  AGENTS.md
  docs/git/practices.md
  src/tunacode/core/agents/main.py
  tests/unit/core/test_request_orchestrator_parallel_tools.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: storing for time
  .artifacts/README.md
Due: none

chore: slop cleanup for defensive logic
  .artifacts/debug_history/postmortem-defensive-message-typing-2026-03-17.md
  .artifacts/research/2026-03-17_13-01-09_replace_messages-cutover.md
  .artifacts/tunacode_action_audit.md
  docs/CODE-STANDARDS.md
  docs/modules/core/core.md
  src/tunacode/core/agents/helpers.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/session/state.py
  src/tunacode/utils/messaging/adapter.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Enforce strict config source and update quality harness
  .artifacts/debug_history/postmortem-defensive-message-typing-2026-03-17.md
  .artifacts/debug_history/slop_fixture.py
  .artifacts/research/2026-03-17_14-04-53_mypy-main-py-errors-map.md
  .pre-commit-config.yaml
  HARNESS.md
  Makefile
  pyproject.toml
  scripts/check-defensive-slop.py
  src/tunacode/configuration/defaults.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/agent_components/agent_session_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/types/tool_registry.py
  tests/unit/core/test_agent_helpers.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.94
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: add release run artifact for v0.1.94
  .artifacts/release/release-v0.1.94-run.md
Due: none

Skip alchemy live test when binding is unavailable
  tests/integration/core/test_tinyagent_alchemy_usage_contract_live.py
Due: dead-imports

chore: bump tiny-agent-os from 1.2.9 to 1.2.11
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.1.95
  AGENTS.md
  CHANGELOG.md
  pyproject.toml
  scripts/check_unused_modules.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/agent_session_config.py
  src/tunacode/ui/widgets/editor.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: cleanup documentation inconsistencies and add empty dir prevention
  .pre-commit-config.yaml
  AGENTS.md
  docs/README.md
  docs/boundaries/.gitkeep
  docs/docs_audit.html
  docs/exceptions/.gitkeep
  docs/migration/.gitkeep
  docs/quality-gates/.gitkeep
  docs/runbooks/.gitkeep
  docs/tests/.gitkeep
  scripts/utils/check_empty_dirs.py
  src/tunacode/test_dead_code/__init__.py
  src/tunacode/test_dead_code/never_imported.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: add models registry workflow guide
  AGENTS.md
  docs/modules/configuration/configuration.md
  docs/modules/configuration/models-registry.md
Due: none

Fix MiniMax registry normalization after upstream refresh
  .artifacts/release/model-registry-refresh-release-blocker-2026-03-21.md
  docs/modules/configuration/models-registry.md
  scripts/update_models_registry.sh
  src/tunacode/configuration/models_registry.json
Due: none

docs: add tmux suite validation artifact
  .artifacts/release/tmux-suite-validation-2026-03-21.md
Due: none

chore: bump version to 0.1.96
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove prompt versioning plumbing
  docs/codebase-map/structure/tree-structure.txt
  docs/modules/core/core.md
  docs/modules/prompts/versioning.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/infrastructure/cache/caches/prompt_version_cache.py
  src/tunacode/prompts/version_display.py
  src/tunacode/prompts/versioning.py
  src/tunacode/tools/decorators.py
  src/tunacode/types/canonical.py
  tests/integration/core/test_mtime_caches_end_to_end.py
  tests/unit/core/test_agent_cache_abort.py
  tests/unit/core/test_agent_skills_prompt_injection.py
  tests/unit/prompts/test_versioning.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: artifact clean ups
  .artifacts/issue_analysis_report_2026-03-21.md
  .artifacts/research/2026-03-21_14-07-44_prompt-versioning-map.md
Due: none

docs: add research artifacts and implementation plan for native tinyagent tool contract
  .artifacts/plan/2026-03-22_09-58-20_native-tinyagent-tool-contract.md
  .artifacts/research/2026-03-22_09-42-58_tools-implementation.md
  .artifacts/research/2026-03-22_09-43-01_tools-context-synthesis.md
  .artifacts/research/2026-03-22_09-43-03_codebase-locator_tool-system.md
  .artifacts/research/2026-03-22_09-45-29_tools-data-inputs-contracts.md
  .artifacts/research/2026-03-22_09-53-07_tool-result-adapter-runtime.md
  .artifacts/research/2026-03-22_09-53-52_minimax-tinyagent-contract-shape-vs-runtime.md
Due: none

Fix push blockers on new-tools
  AGENTS.md
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Add temporary tinyagent alchemy shim
  src/tunacode/_alchemy_provider.py
  src/tunacode/_tinyagent_alchemy.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/compaction/controller.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: delete test that relied on shimmed tools
  src/tunacode/tools/discover.py
  src/tunacode/tools/write_file.py
  tests/architecture/test_import_order.py
  tests/conftest.py
  tests/integration/core/test_minimax_execution_path.py
  tests/test_dependency_layers.py
  tests/unit/core/test_request_orchestrator_parallel_tools.py
  tests/unit/types/test_adapter.py
  tests/unit/types/test_canonical.py
  tests/unit/ui/test_agent_response.py
  tests/unit/ui/test_api_key_entry.py
  tests/unit/ui/test_app_latest_response_text.py
  tests/unit/ui/test_app_skills_entries.py
  tests/unit/ui/test_base_renderer.py
  tests/unit/ui/test_base_tool_renderer.py
  tests/unit/ui/test_chat_container.py
  tests/unit/ui/test_clipboard.py
  tests/unit/ui/test_command_autocomplete.py
  tests/unit/ui/test_command_contracts.py
  tests/unit/ui/test_context_panel_toggle.py
  tests/unit/ui/test_diagnostics_renderer.py
  tests/unit/ui/test_editor.py
  tests/unit/ui/test_error_renderer_authentication.py
  tests/unit/ui/test_hashline_edit_renderer.py
  tests/unit/ui/test_lifecycle.py
  tests/unit/ui/test_model_display.py
  tests/unit/ui/test_resource_bar_usage_cost.py
  tests/unit/ui/test_skills_command.py
  tests/unit/ui/test_stream_agent_text_setting.py
  tests/unit/ui/test_supported_themes.py
  tests/unit/ui/test_theme_variable_contract.py
  tests/unit/ui/test_thinking_renderer.py
  tests/unit/ui/test_tool_panel_css_flow.py
  tests/unit/ui/test_update_command.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove temporary tinyagent alchemy shim
  src/tunacode/_alchemy_provider.py
  src/tunacode/_tinyagent_alchemy.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/compaction/controller.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: fix type issues
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/helpers.py
  src/tunacode/tools/hashline_edit.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: fix type issues
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/tools/web_fetch.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove legacy tool compatibility surface
  AGENTS.md
  docs/modules/ui/ui.md
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/search.py
  src/tunacode/ui/styles/panels.tcss
  tests/unit/core/test_request_orchestrator_parallel_tools.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: document native tinyagent tool surface
  CHANGELOG.md
  README.md
  docs/modules/tools/tools.md
Due: none

Bump tiny-agent-os to 1.2.15
  pyproject.toml
  uv.lock
Due: none

chore: docs updates
  AGENTS.md
  README.md
  docs/modules/tools/hashline-subsystem.md
  docs/modules/tools/tools.md
Due: none

fix(build): exclude virtual environments from package
  MANIFEST.in
Due: none

fix(ci): add contents write permission for releases
  .github/workflows/release.yml
Due: none

fix(ci): add GH_TOKEN env var for semantic-release
  .github/workflows/release.yml
Due: none

docs: add tools system documentation
  docs/modules/tools/tools-system.md
  tests/unit/skills/test_registry.py
  tests/unit/skills/test_selection.py
Due: dead-imports

fix(ci): add verbose logging to semantic-release
  .github/workflows/release.yml
Due: none

docs: add message ingress research and architecture patterns
  .artifacts/research/2026-03-22_17-57-53_message-ingress-data-contract-map.md
  .gitignore
  docs/architecture/patterns/agent-message-serialization.md
Due: none

Simplify tinyagent message typing flow
  .artifacts/execute/2026-03-22_19-54-47_tinyagent-message-typing-cleanup.md
  .artifacts/plan/2026-03-22_18-08-41_tinyagent-message-typing-cleanup.md
  .artifacts/query_data_flow.md
  AGENTS.md
  src/tunacode/core/agents/helpers.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/session/state.py
  src/tunacode/core/types/state_structures.py
  src/tunacode/core/ui_api/messaging.py
  src/tunacode/ui/headless/output.py
  src/tunacode/utils/messaging/adapter.py
  src/tunacode/utils/messaging/token_counter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
