Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

chore: rollback point before removing debug print statements
  documentation/agent/how-tunacode-agent-works.md
  documentation/agent/swepmini-example.md
  documentation/ui/ui-architecture.md
  memory-bank/shared/done_tasks/default_Task_11:_Create_template_directory_structure_for_TunaCode_2025-08-02_132101_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_12:_Create_Template_dataclass_and_TemplateLoader_class_2025-08-02_132215_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_13:_Add_active_template_property_to_ToolHandler_2025-08-02_132326_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_14:_Create_TemplateCommand_class_with_subcommands_2025-08-02_132621_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_15:_Create_example_JSON_templates_2025-08-02_132813_scratchpad.md
Due: none

fix: remove debug print statements causing console pollution
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/main.py
  src/tunacode/ui/output.py
Due: dead-imports, vulture-changed

refactor: extract truncation checking to separate module to reduce node_processor.py to 438 lines
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/truncation_checker.py
  src/tunacode/tools/grep.py
  src/tunacode/ui/panels.py
Due: dead-imports, vulture-changed

fix: simplify type hint for asyncio.Task in StreamingAgentPanel
  src/tunacode/ui/panels.py
Due: dead-imports, vulture-changed

fix: handle JSON string args in get_tool_description call
  .claude/scratchpad/agents/default/scratchpad.md
  src/tunacode/core/agents/agent_components/node_processor.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.55
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

docs: update CHANGELOG.md for v0.0.55 and v0.0.54 releases
  CHANGELOG.md
Due: none

docs: add configuration file example and improve config documentation
  README.md
  documentation/README.md
  documentation/configuration/config-file-example.md
Due: none

fix: update test mocks for plan mode UI implementation
  .claude/test_suite_issues_resolved.md
  CLAUDE.md
  tests/characterization/agent/test_agent_creation.py
  tests/characterization/repl/test_output_display_logic.py
  tests/characterization/test_characterization_main.py
  tests/characterization/test_characterization_repl.py
  tests/characterization/ui/test_spinner_messages.py
  tests/test_agent_output_formatting.py
Due: dead-imports

chore: bump version to 0.0.56
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: complete Hatch migration - remove Makefile and update all references
  .claude/development/hatch-commands.md
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  Makefile.original
  NEXT_AGENT_DOC_SUMMARY.md
  documentation/README.md
  documentation/development/hatch-build-system.md
  pyproject.toml
  scripts/publish_to_pip.sh
  scripts/setup_dev_env.sh
  scripts/verify_dev_env.sh
Due: none

fix: remove unused variable and apply ruff formatting
  scripts/playwright_cache.py
  src/tunacode/cli/commands/implementations/plan.py
  src/tunacode/cli/commands/registry.py
  src/tunacode/cli/repl.py
  src/tunacode/cli/repl_components/output_display.py
  src/tunacode/cli/repl_components/tool_executor.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/state.py
  src/tunacode/core/tool_handler.py
  src/tunacode/tools/exit_plan_mode.py
  src/tunacode/tools/present_plan.py
  src/tunacode/types.py
  src/tunacode/ui/input.py
  src/tunacode/ui/keybindings.py
  src/tunacode/ui/panels.py
  src/tunacode/ui/prompt_manager.py
  tests/test_plan_mode.py
Due: dead-imports, vulture-changed

fix: restore Thinking dots animation with faster timing
  .claude/delta/task4_ui_formatting_fix.md
  .claude/scratchpad/archived/default_Fixed_Thinking_dots_animation_2025-08-11_121009_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_Fixed_Thinking_dots_animation_2025-08-11_121009_scratchpad.md
  CLAUDE.md
  NEXT_AGENT_DOC_SUMMARY.md
  src/components/Button.tsx
  src/tunacode/memory-bank/agents/default/knowledge.json
  src/tunacode/memory-bank/agents/ruff-migration/knowledge.json
  src/tunacode/memory-bank/locks/ruff-migration.lock
  src/tunacode/memory-bank/shared/done_tasks/ruff-migration_Unified_linting_system_to_Ruff_2025-06-26_123123_scratchpad.md
  src/tunacode/memory-bank/shared/knowledge_base.json
  src/tunacode/prompts/system.md
  src/tunacode/tools/read_file_async_poc.py
  src/tunacode/ui/panels.py
Due: dead-imports, vulture-changed

docs: update CHANGELOG for v0.0.56 and fix prompt test
  CHANGELOG.md
  tests/test_prompt_changes_validation.py
Due: dead-imports

refactor: reduce repl.py from 757 to 501 lines
  .claude/scratchpad/archived/default_GitHub_Directory_Review_2025-08-11_122451_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_GitHub_Directory_Review_2025-08-11_122451_scratchpad.md
  .github/pull_request_template.md
  .github/scripts/check_file_size.py
  .github/workflows/lint.yml
  scripts/check-file-length.sh
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed

feat: Major Performance Optimizations & JSON Recovery System (#82)
  .claude/development/cli-json-recovery-incident.md
  .claude/development/directory-caching-optimization.md
  .claude/patterns/json_retry_implementation.md
  .claude/scratchpad/archived/default_CLI_Agent_JSON_Recovery_Investigation_2025-08-12_124206_scratchpad.md
  .claude/scratchpad/archived/default_CLI_Agent_JSON_Recovery_Investigation_2025-08-12_124727_scratchpad.md
  .claude/scratchpad/archived/default_JSON_Recovery_Implementation_2025-08-12_130251_scratchpad.md
  .claude/scratchpad/archived/default_Update_Documentation_for_JSON_Recovery_System_2025-08-12_131127_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_CLI_Agent_JSON_Recovery_Investigation_2025-08-12_124206_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_CLI_Agent_JSON_Recovery_Investigation_2025-08-12_124727_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_JSON_Recovery_Implementation_2025-08-12_130251_scratchpad.md
  .claude/scratchpad/shared/done_tasks/default_Update_Documentation_for_JSON_Recovery_System_2025-08-12_131127_scratchpad.md
  .claude/tech-docs-maintainer.md
  .github/scripts/check_file_size.py
  .github/workflows/lint.yml
  CHANGELOG.md
  documentation/README.md
  documentation/development/performance-optimizations.md
  documentation/ui/ui-architecture.md
  scripts/check-file-length.sh
  src/tunacode/cli/repl.py
  src/tunacode/cli/repl_components/command_parser.py
  src/tunacode/cli/repl_components/error_recovery.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/code_index.py
  src/tunacode/prompts/system.md
  src/tunacode/tools/list_dir.py
  src/tunacode/utils/json_utils.py
  tests/characterization/agent/test_agent_creation.py
  tests/test_command_parser_retry.py
  tests/test_json_concatenation_recovery.py
  tools/emoji_cleaner.py
Due: dead-imports, vulture-changed

rollback: pre-benchmark implementation checkpoint
  .claude/scratchpad/agents/default/scratchpad.md
Due: none

rollback: before always-on model/context/price display implementation
  CLAUDE.md
Due: none

rollback: before running test suite
  .claude/scratchpad/agents/default/scratchpad.md
  src/tunacode/cli/repl.py
  src/tunacode/core/token_usage/usage_tracker.py
  tests/characterization/repl/test_repl_initialization.py
Due: dead-imports, vulture-changed
