Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))

feat: auto-copy highlighted text to clipboard on mouse release (#371)
  src/tunacode/ui/clipboard.py
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: use explicit RenderableType signature in CopyOnSelectStatic
  scripts/pydantic_usage_baseline.json
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

cater to coderabbit
  src/tunacode/core/logging/records.py
  src/tunacode/core/logging/sentry.py
  src/tunacode/core/session/state.py
  src/tunacode/ui/renderers/tools/read_file.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/configuration/test_models.py
  tests/unit/core/agents/agent_components/orchestrator/test_debug_format.py
  tests/unit/core/agents/agent_components/test_agent_helpers.py
  tests/unit/core/agents/agent_components/test_state_transition.py
  tests/unit/core/agents/resume/test_summary.py
  tests/unit/core/session/test_state.py
  tests/unit/core/test_text_match.py
  tests/unit/test_exceptions.py
  tests/unit/tools/parsing/test_command_parser.py
  tests/unit/tools/test_glob_helpers.py
  tests/unit/tools/test_grep_helpers.py
  tests/unit/tools/test_ripgrep_utils.py
  tests/unit/tools/test_web_fetch_helpers.py
  tests/unit/ui/renderers/test_search_render.py
  tests/unit/ui/renderers/tools/test_diagnostics.py
  tests/unit/ui/renderers/tools/test_renderer_bash_grep_glob.py
  tests/unit/ui/renderers/tools/test_renderer_listdir_readfile.py
  tests/unit/ui/renderers/tools/test_renderer_write_web_update.py
  tests/unit/utils/test_gitignore.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix precommit
  tests/unit/ui/renderers/tools/test_diagnostics.py
Due: dead-imports

refactor: rewrite system prompt -- describe tools by purpose, not signature
  src/tunacode/prompts/system_prompt.md
Due: none

fix(ui): normalize @mentions to absolute paths
  src/tunacode/ui/app.py
  src/tunacode/ui/repl_support.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore(master): smart sync pending updates
  .claude/delta/2026-02-21_minimax-tool-call-bugs.md
  plan.md
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.1.74
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/discover.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: add tmux-based E2E tool test suite
  pytest.ini
  tests/system/cli/test_tmux_tools.py
Due: dead-imports

feat: add content-hash line tagging and hashline_edit tool
  src/tunacode/configuration/models.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/tools/hashline.py
  src/tunacode/tools/hashline_edit.py
  src/tunacode/tools/line_cache.py
  src/tunacode/tools/prompts/hashline_edit_prompt.xml
  src/tunacode/tools/prompts/read_file_prompt.xml
  src/tunacode/tools/read_file.py
  tests/tools/__init__.py
  tests/tools/test_hashline.py
  tests/tools/test_hashline_edit.py
  tests/tools/test_line_cache.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: replace update_file with hashline_edit as sole edit tool
  src/tunacode/configuration/models.py
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system_prompt.md
  src/tunacode/tools/prompts/update_file_prompt.xml
  src/tunacode/tools/update_file.py
  src/tunacode/tools/utils/text_match.py
  src/tunacode/tools/write_file.py
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/diagnostics.py
  src/tunacode/ui/renderers/tools/hashline_edit.py
  src/tunacode/ui/repl_support.py
  tests/integration/tools/test_tool_conformance.py
  tests/system/cli/test_tmux_tools.py
  tests/unit/core/test_text_match.py
  tests/unit/ui/test_base_renderer.py
  tests/unit/ui/test_context_panel_summary.py
  tests/unit/ui/test_hashline_edit_renderer.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: deepcopy default config to prevent cross-test mutation
  src/tunacode/configuration/user_config.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

style: apply ruff linting and formatting
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/tools/discover.py
  src/tunacode/tools/hashline.py
  src/tunacode/tools/hashline_edit.py
  src/tunacode/tools/read_file.py
  tests/benchmarks/bench_discover.py
  tests/tools/test_hashline_edit.py
  tests/unit/tools/test_discover.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: address CodeRabbit findings in hashline edit flow
  src/tunacode/tools/hashline.py
  src/tunacode/tools/hashline_edit.py
  src/tunacode/tools/line_cache.py
  src/tunacode/tools/read_file.py
  tests/system/cli/test_tmux_tools.py
  tests/tools/test_hashline.py
  tests/tools/test_hashline_edit.py
  tests/tools/test_line_cache.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: split discover tool into helper modules
  src/tunacode/tools/discover.py
  src/tunacode/tools/utils/discover_pipeline.py
  src/tunacode/tools/utils/discover_terms.py
  src/tunacode/tools/utils/discover_types.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Improve compact command UX and add research documentation
  memory-bank/research/2026-02-22_compact-command-ux-mapping.md
  src/tunacode/ui/commands/compact.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix mypy typing contracts across ui/core/tools
  .claude/delta/2026-02-22-mypy-type-contract-fixes.md
  src/tunacode/core/compaction/types.py
  src/tunacode/tools/web_fetch.py
  src/tunacode/ui/shell_runner.py
  src/tunacode/ui/widgets/editor.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Run mypy at pre-commit and pre-push
  .claude/delta/2026-02-22-enable-mypy-pre-commit-hook.md
  .pre-commit-config.yaml
Due: none

docs: Update documentation for recent PRs (#394, #396)
  docs/modules/core/core.md
  docs/modules/tools/hashline-subsystem.md
  docs/modules/tools/tools.md
Due: none

feat: Tool panel CSS flow and compact command UX improvements
  memory-bank/research/2026-02-22_04-30-00_compact_ux_issues.md
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/compact.py
  src/tunacode/ui/context_panel.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/tools/read_file.py
  src/tunacode/ui/styles/panels.tcss
  tests/unit/ui/test_context_panel_summary.py
  tests/unit/ui/test_tool_panel_css_flow.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update changelog with PR #399 tool panel CSS and compact UX improvements
  CHANGELOG.md
Due: none

feat: parallel tool call execution with capped concurrency
  .claude/delta/2026-02-23_parallel-tool-call-rollout.md
  .claude/metadata/research/2026-02-23-parallel-tool-calls-rollout-plan.md
  CHANGELOG.md
  README.md
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/prompts/system_prompt.md
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/debug.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/widgets/status_bar.py
  tests/benchmarks/bench_discover.py
  tests/system/cli/test_repl_support.py
  tests/unit/core/test_request_orchestrator_parallel_tools.py
  tests/unit/core/test_tool_concurrency_limit.py
  tests/unit/ui/test_status_bar_layout.py
  tests/unit/ui/test_tool_panel_css_flow.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: exempt app.py from 600-line hook temporarily
  scripts/check-file-length.sh
Due: none

chore: bump version to 0.1.75
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: add CSS class flow tests for all 9 renderers + conformance gate
  src/tunacode/ui/styles/panels.tcss
  tests/unit/ui/test_tool_panel_css_flow.py
Due: dead-imports

test: require tool calls in tmux prompts
  tests/system/cli/test_tmux_tools.py
Due: dead-imports

docs: document tmux test suite requirements
  AGENTS.md
  CLAUDE.md
  pytest.ini
Due: none

docs: document ESC cancel UI behavior
  docs/modules/ui/ui.md
Due: none

style: reduce TUI chrome noise for clearer hierarchy
  src/tunacode/ui/styles/layout.tcss
  src/tunacode/ui/styles/panels.tcss
Due: none

style: soften thinking and user message presentation
  src/tunacode/ui/app.py
  src/tunacode/ui/styles/panels.tcss
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: catch subprocess errors with correct module type
  src/tunacode/tools/utils/ripgrep.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: honor file-length skip list for relative paths
  scripts/check-file-length.sh
Due: none

chore: bump version to 0.1.76
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

style: tighten session inspector and remove redundant compaction field
  src/tunacode/ui/app.py
  src/tunacode/ui/context_panel.py
  src/tunacode/ui/slopgotchi/panel.py
  src/tunacode/ui/styles/layout.tcss
  tests/unit/ui/test_context_panel_toggle.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.77
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove dead glob/grep/list_dir UI renderers (#405)
  .claude/delta/2026-02-24-remove-dead-tool-renderers.md
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/base.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/grep.py
  src/tunacode/ui/renderers/tools/list_dir.py
  tests/unit/ui/test_base_renderer.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.78
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: demo
  AGENTS.md
  CLAUDE.md
  memory-bank/plan/2026-02-28_15-45-00_prompt_versioning.md
  memory-bank/research/2026-02-28_15-17-48_system_prompt_architecture.md
  scripts/run_gates.py
Due: dead-imports, vulture-changed
