Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

chore: bump version to 0.0.78.10 and update changelog
  documentation/changelog/CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

Add configurable LLM request delay
  .claude/delta_summaries/api_change_logs.json
  .claude/manifest.json
  .claude/patterns/core.agents.agent_config.json
  documentation/configuration/chutes-ai-setup.md
  documentation/configuration/tunacode.json.example
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system.xml
  tests/test_agent_config_request_delay.py
Due: dead-imports, vulture-changed

Add configurable LLM request delay
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/agent_components/agent_config.py
  tests/test_agent_config_request_delay.py
Due: dead-imports, vulture-changed

Fix CodeRabbit AI issues: add validation, remove cache key, clean event_hooks
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed

Add validation tests for request_delay range
  tests/test_agent_config_request_delay.py
Due: dead-imports

Add focused error signaling implementation plans
  memory-bank/plan/2025-11-20_rate-limit-signaling-plan.md
  memory-bank/plan/2025-11-20_recovery-notification-plan.md
Due: none

Add comprehensive documentation and error signaling research
  memory-bank/research/2025-11-20_error_signaling_gaps_analysis.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/state.py
  src/tunacode/ui/panels.py
  tests/test_agent_config_request_delay.py
Due: dead-imports, vulture-changed

Fix formatting issues from pre-commit hooks
  memory-bank/research/2025-11-20_error_signaling_gaps_analysis.md
  src/tunacode/core/agents/agent_components/agent_config.py
  tests/test_agent_config_request_delay.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.11
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: Add global request timeout (default 90s, configurable) (#124)
  memory-bank/execute/2025-11-20_23-50-00_global-request-timeout.md
  memory-bank/plan/2025-11-20_global-request-timeout-plan.md
  memory-bank/plan/2025-11-20_rate-limit-signaling-plan.md
  memory-bank/research/2025-11-20_17-33-18_output_visibility_issues.md
  memory-bank/research/2025-11-20_23-45-24_global-request-timeout-architecture.md
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/exceptions.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.12
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: Enhance system prompts to prioritize read-only tools over bash for searching
  src/tunacode/prompts/system.xml
Due: none

chore: Skip prompt XML files from file length check
  scripts/check-file-length.sh
Due: none

chore: bump version to 0.0.78.13
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: Add fuzzy text matching for update_file tool
  documentation/configuration/chutes-ai-setup.md
  documentation/configuration/tunacode-json-example.md
  documentation/configuration/tunacode.json.example
  scripts/install_linux.sh
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/tools/grep.py
  src/tunacode/tools/update_file.py
  src/tunacode/tools_utils/__init__.py
  src/tunacode/tools_utils/ripgrep.py
  src/tunacode/tools_utils/text_match.py
  tests/test_edit_replacers.py
Due: dead-imports, vulture-changed

Refactor tests and enhance text matching validation
  .claude/manifest.json
  .claude/patterns/core.agents.agent_config.json
  memory-bank/plan/2025-11-20_recovery-notification-plan.md
  src/tunacode/tools_utils/text_match.py
  tests/conftest.py
  tests/test_agents_main.py
Due: dead-imports, vulture-changed

Improve text matching with CRLF support and fuzzy match safety
  src/tunacode/tools_utils/text_match.py
  tests/test_edit_replacers.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.14
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: Python 3.13 compatibility - update dependencies and UI components
  pyproject.toml
  src/tunacode/constants.py
  src/tunacode/ui/config_dashboard.py
Due: dead-imports, vulture-changed

Add StarCraft TUI demo
  .beads/issues.jsonl
  src/tunacode/ui/starcraft_tui.py
  src/tunacode/ui/test_tui.py
Due: dead-imports, vulture-changed

Remove .beads directory and add to gitignore
  .beads/issues.jsonl
  .gitignore
Due: none

Remove unused UI components to simplify Rich-to-Textual migration
  memory-bank/execute/2025-09-15_12-30-00_configuration_dashboard_implementation.md
  memory-bank/execute/2025-09-15_configuration_dashboard_ux_improvements.md
  memory-bank/plan/2025-09-15_12-29-04_configuration_dashboard_implementation.md
  memory-bank/research/2025-11-29_14-53-40_rich-to-textual-migration.md
  src/tunacode/cli/main.py
  src/tunacode/ui/config_dashboard.py
  src/tunacode/ui/starcraft_tui.py
  src/tunacode/ui/test_tui.py
Due: dead-imports, vulture-changed

docs: Update migration research and add communication log
  memory-bank/communication/2025-11-29_gemini_textual-migration-discussion.md
  memory-bank/research/2025-11-29_14-53-40_rich-to-textual-migration.md
Due: none

docs: Add Textual REPL migration plan (approved)
  README.md
  memory-bank/plan/2025-11-29_textual-repl-migration-plan.md
Due: none

feat: Add Textual REPL with ResourceBar and streaming support
  src/tunacode/cli/main.py
  src/tunacode/cli/repl.py
  src/tunacode/cli/textual_repl.py
Due: dead-imports, vulture-changed

fix: Handle PermissionError in path completion
  src/tunacode/cli/textual_repl.py
Due: dead-imports, vulture-changed

feat: Add TUI styling with external TCSS and custom theme
  memory-bank/plan/2025-11-29_17-15-00_textual-tui-modernization.md
  memory-bank/research/2025-11-29_textual-repl-tui-modernization.md
  src/tunacode/cli/textual_repl.py
  src/tunacode/cli/textual_repl.tcss
Due: dead-imports, vulture-changed

fix: CodeRabbit review - sync _on_key call and add type hints
  src/tunacode/cli/textual_repl.py
Due: dead-imports, vulture-changed

docs: Textual REPL migration progress and architecture documentation
  .claude/patterns/cli.textual_tui.json
  memory-bank/communication/2025-11-29_gemini_textual-migration-discussion.md
  memory-bank/plan/2025-11-29_textual-repl-migration-plan.md
  memory-bank/research/2025-11-29_textual-tui-architecture-and-style-guide.md
  memory-bank/research/2025-11-29_textual-tui-architecture-diagrams.md
Due: none

checkpoint: Pre-refactor rollback point for textual TUI architecture
  Screenshot 2025-11-29 165543.png
  memory-bank/plan/2025-11-29_17-20-38_textual-tui-architecture-refactor.md
  memory-bank/research/2025-11-29_textual-tui-architecture-and-style-guide.md
  memory-bank/research/2025-11-29_textual-tui-architecture-diagrams.md
Due: none

refactor(T1.1-T1.3): Extract theme builder to constants.py
  memory-bank/execute/2025-11-29_17-55-00_textual-tui-architecture-refactor.md
  src/tunacode/cli/textual_repl.py
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

refactor(T2.1-T3.4): Extract widgets and screens to separate modules
  src/tunacode/cli/screens.py
  src/tunacode/cli/textual_repl.py
  src/tunacode/cli/widgets.py
Due: dead-imports, vulture-changed

refactor(T4.1-T4.4): Replace hardcoded colors with theme variables in TCSS
  src/tunacode/cli/textual_repl.tcss
Due: none

refactor(T5.1-T5.5): Consolidate completion logic into ui/completers.py
  src/tunacode/cli/widgets.py
  src/tunacode/ui/completers.py
Due: dead-imports, vulture-changed

docs: Update execution log with completion status
  memory-bank/execute/2025-11-29_17-55-00_textual-tui-architecture-refactor.md
Due: none

chore: Pre-implementation rollback point for tool-activity-display
  .claude/patterns/tool-status-widget-pattern.md
  memory-bank/execute/2025-11-29_01-00-00_tool-activity-display.md
  memory-bank/plan/2025-11-29_00-45-00_tool-activity-display.md
  memory-bank/research/2025-11-29_tool-activity-display-blueprint.md
Due: none

feat(T1.1-T1.3): Add ToolStatusUpdate, ToolStatusClear messages and ToolStatusBar widget
  src/tunacode/cli/widgets.py
Due: dead-imports, vulture-changed

feat(T2.1-T2.5): Integrate ToolStatusBar widget into TextualReplApp
  src/tunacode/cli/textual_repl.py
Due: dead-imports, vulture-changed

feat(T3.1-T3.3): Thread tool_status_callback through agent orchestration
  src/tunacode/cli/textual_repl.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

feat(T4.1-T4.4): Replace ui.update_spinner_message() with tool_status_callback
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed
