Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

Update knowledge base with simplified agent handoff plan
  .claude/delta_summaries/reasoning_logs.json
  .claude/metadata/file_classifications.json
  .claude/qa/reasoning_docs/simplified-agent-handoff-20250929.md
  memory-bank/plan/2025-09-29_11-15-30_simplified_agent_implementation.md
  memory-bank/research/2025-09-29_11-08-14_state_and_task_logic.md
Due: none

Research: Comprehensive analysis of git safety branch removal
  memory-bank/research/2025-09-29_11-41-39_git_safety_branch_removal_analysis.md
Due: none

Style: Fix trailing whitespace in research document
  memory-bank/research/2025-09-29_11-41-39_git_safety_branch_removal_analysis.md
Due: none

Backup before git safety removal
  memory-bank/plan/2025-09-29_11-45-00_git_safety_branch_removal_plan.md
Due: none

feat: Remove GitSafetySetup from setup orchestration
  memory-bank/execute/2025-09-29_12-15-00_git_safety_branch_removal_log.md
  src/tunacode/core/setup/__init__.py
  src/tunacode/core/setup/git_safety_setup.py
  src/tunacode/setup.py
  tests/characterization/test_setup_flow.py
Due: dead-imports, vulture-changed

feat: Remove skip_git_safety configuration option
  memory-bank/execute/2025-09-29_12-15-00_git_safety_branch_removal_log.md
  src/tunacode/configuration/key_descriptions.py
  tests/CHARACTERIZATION_TEST_PLAN.md
  tests/characterization/test_setup_flow.py
  tests/characterization/utils/test_git_commands.py
Due: dead-imports, vulture-changed

docs: Remove git safety references from documentation
  documentation/configuration/config-file-example.md
  documentation/user/getting-started.md
  memory-bank/execute/2025-09-29_12-15-00_git_safety_branch_removal_log.md
Due: none

feat: Complete git safety branch removal implementation
  memory-bank/execute/2025-09-29_12-15-00_git_safety_branch_removal_log.md
Due: none

fix: change log level for user interruption
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

feat: add experimental ACP server UI
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/ui/acp/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.20
  CHANGELOG.md
  pyproject.toml
Due: none

chore: upgrade deps
  pyproject.toml
Due: none

feat: add `--print` and `--acp` options
  CHANGELOG.md
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

feat: improve `/release-notes` meta command
  CHANGELOG.md
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/utils/changelog.py
Due: dead-imports, vulture-changed

fix: fix pyinstaller spec
  kimi.spec
Due: none

chore: Update TunaCode banner and model limits validation
  src/tunacode/ui/output.py
  src/tunacode/utils/models_registry.py
  tests/unit/utils/test_models_registry_validation.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.77
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/development/version-management.md
  .claude/memory_anchors/anchors.json
  .gitignore
  documentation/changelog/CHANGELOG.md
  documentation/development/publishing-workflow.md
  pyproject.toml
  src/tunacode/constants.py
  tests/characterization/test_setup_flow.py
Due: dead-imports, vulture-changed

chore: loading docs
  .claude/rag_knowledge.db
  memory-bank/execute/2025-09-29_12-15-00_git_safety_branch_removal_log.md
  memory-bank/research/2025-10-01_11-15-38_model_validation_error.md
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/main.py
  src/tunacode/tools/grep.py
  src/tunacode/ui/output.py
Due: dead-imports, vulture-changed

chore: streamline publish workflow
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/development/version-management.md
  .github/workflows/publish-release-v2.yml
  documentation/development/publishing-workflow.md
Due: none

chore: bump version to 0.0.77.1
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: support `--output-format [text|stream-json]`
  src/kimi_cli/__init__.py
  src/kimi_cli/soul.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

feat: boxy startup banner
  AGENTS.md
Due: none

feat: minor adjustment to bash tool description
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/tools/bash/bash.md
  src/kimi_cli/tools/file/read.md
  tests/test_tool_descriptions.py
Due: dead-imports, vulture-changed

Remove logfire optional extra
  pyproject.toml
Due: none

rollback point: before lazy loading Rich UI components
  .claude/delta_summaries/2025-10-01-startup-banner-panel.md
  memory-bank/research/2025-10-02_12-19-05_startup_performance_analysis.md
Due: none

lazy-ui-imports
  scripts/ui_import_timer.py
  src/tunacode/ui/output.py
  src/tunacode/ui/panels.py
  tests/ui/test_lazy_rich_loading.py
Due: dead-imports, vulture-changed

Fix UI lazy Rich typing and dead-imports hook
  .claude/delta_summaries/behavior_changes.json
  .pre-commit-config.yaml
  memory-bank/research/2025-10-01_11-15-38_model_validation_error.md
  memory-bank/research/2025-10-02_12-19-05_startup_performance_analysis.md
  scripts/check-file-length.sh
  scripts/run-dead-imports.sh
  scripts/ui_import_timer.py
  src/tunacode/ui/console.py
  src/tunacode/ui/output.py
  src/tunacode/ui/panels.py
  tests/characterization/ui/test_console_output.py
  tests/ui/test_lazy_rich_loading.py
Due: dead-imports, vulture-changed

chore: prep v0.0.77.2 release
  .claude/debug_history/debug_sessions.json
  .claude/delta_summaries/api_change_logs.json
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/memory_anchors/anchors.json
  .claude/metadata/file_classifications.json
  .github/workflows/publish-release.yml
  documentation/changelog/CHANGELOG.md
  documentation/development/publishing-workflow.md
  pyproject.toml
  src/tunacode/constants.py
  tests/characterization/version/test_version_metadata.py
Due: dead-imports, vulture-changed

refactor: always try to restore context
  src/kimi_cli/__init__.py
  src/kimi_cli/context.py
  src/kimi_cli/metadata.py
Due: dead-imports, vulture-changed

feat: add WebSearch tool
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/config.py
  src/kimi_cli/tools/web/__init__.py
  src/kimi_cli/tools/web/search.md
  src/kimi_cli/tools/web/search.py
  tests/conftest.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports, vulture-changed

feat: enable SendDMail tool
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/tools/dmail/dmail.md
  tests/test_tool_descriptions.py
Due: dead-imports

feat: add `FetchURL` tool
  pyproject.toml
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/web/__init__.py
  src/kimi_cli/tools/web/fetch.md
  src/kimi_cli/tools/web/fetch.py
  tests/conftest.py
  tests/test_fetch_url.py
Due: dead-imports, vulture-changed

fix: fix MoonshotSearch tool
  src/kimi_cli/tools/web/search.py
Due: dead-imports, vulture-changed

test: add desc and params test for FetchURL
  tests/test_fetch_url.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports

feat: add `PatchFile` tool
  pyproject.toml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/file/__init__.py
  src/kimi_cli/tools/file/patch.md
  src/kimi_cli/tools/file/patch.py
  tests/conftest.py
  tests/test_patch_file.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports, vulture-changed

feat: add `ENSOUL_NOW` prompt variable
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/system.md
  tests/conftest.py
Due: dead-imports, vulture-changed

rollback point: before release process automation implementation
  memory-bank/execute/2025-10-02_14-45-00_release_process_automation.md
  memory-bank/plan/2025-10-02_14-30-45_release_process_automation.md
  memory-bank/research/2025-10-02_14-26-18_release_process_analysis.md
Due: none

chore: test clean up
  .claude/delta_summaries/behavior_changes.json
  memory-bank/research/2025-10-03_11-17-55_repl-test-analysis.md
  src/tunacode/context.py
  tests/characterization/context/README.md
  tests/characterization/context/__init__.py
  tests/characterization/context/test_context_acceptance.py
  tests/characterization/context/test_context_integration.py
  tests/characterization/context/test_context_loading.py
  tests/characterization/context/test_tunacode_logging.py
  tests/characterization/test_characterization_repl.py
Due: dead-imports, vulture-changed

Optimize tool_handler behavior documentation and test coverage
  .claude/delta_summaries/2025-10-03-tool_handler-behavior-optimization.md
  .claude/docs_model_friendly/component_purpose.md
  .claude/memory_anchors/anchors.json
  .claude/semantic_index/function_call_graphs.json
  tests/characterization/repl_components/test_tool_handler.py
  tests/characterization/test_characterization_repl.py
Due: dead-imports

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
