Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))

fix: reject empty bash commands
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  src/tunacode/tools/bash.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: stabilize cli help output
  tests/system/cli/test_cli_default_command.py
Due: dead-imports

test: stabilize headless cli help output
  tests/system/cli/test_headless_cli.py
Due: dead-imports

test: normalize cli help output
  tests/system/cli/test_cli_default_command.py
  tests/system/cli/test_headless_cli.py
Due: dead-imports

chore: bump version to 0.1.57
  CHANGELOG.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  pyproject.toml
  scripts/check-naming-conventions.py
  src/tunacode/cli/__init__.py
  src/tunacode/cli/main.py
  src/tunacode/constants.py
  src/tunacode/utils/messaging/adapter.py
  tests/architecture/test_imports_in_init.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: add delta card for cli import compatibility
  .claude/delta/2026-02-02-cli-main-compatibility.md
Due: none

refactor: remove cli compatibility shim
  .claude/delta/2026-02-02-remove-cli-shim.md
  CHANGELOG.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  src/tunacode/cli/__init__.py
  src/tunacode/cli/main.py
  src/tunacode/tools/parsing/command_parser.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove unused ToolBuffer shim
  .claude/delta/2026-02-02-remove-toolbuffer-shim.md
  src/tunacode/core/agents/__init__.py
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/tool_buffer.py
  src/tunacode/core/agents/main.py
  src/tunacode/prompts/system_prompt.md
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Extract ESC handler into ui/esc module (#354)
  .claude/delta/2026-02-02-esc-handler-extraction.md
  .gitignore
  memory-bank/plan/2026-02-02_13-29-36_esc-logic-module-extraction.md
  memory-bank/research/2026-02-02_12-56-40_esc-key-flow.md
  memory-bank/research/esc-key-flow-diagram.html
  pyproject.toml
  src/tunacode/ui/app.py
  src/tunacode/ui/esc/__init__.py
  src/tunacode/ui/esc/handler.py
  src/tunacode/ui/esc/types.py
  tests/unit/utils/test_shell_command_escape.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feature: new token count
  .claude/delta/2026-02-02-remove-heuristic-token-counting.md
  .claude/delta/2026-02-02-resource-bar-usage-totals.md
  .claude/patterns/usage-total-token-source.md
  memory-bank/plan/2026-02-02_16-46-20_pydantic-usage-token-counting.md
  memory-bank/research/.claude/settings.local.json
  src/tunacode/core/agents/main.py
  src/tunacode/core/state.py
  src/tunacode/core/types/state.py
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Optimize pruning token estimation
  .claude/delta/2026-02-02-pruning-token-estimation-optimization.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  src/tunacode/core/agents/resume/prune.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: remove duplicate __all__ from types/base.py
  src/tunacode/types/base.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Add planning artifacts
  .claude/delta/2026-02-02-token-pruning-efficiency-plan.md
  memory-bank/plan/2026-02-02_token-pruning-efficiency-plan.md
  memory-bank/research/2026-02-02_20-47-34_agent_bottlenecks.md
  memory-bank/research/2026-02-02_token_estimation_overhead.md
Due: none

feat: token usage totals (#356)
  .claude/delta/2026-02-02-remove-heuristic-token-counting.md
  .claude/delta/2026-02-02-resource-bar-usage-totals.md
  .claude/patterns/usage-total-token-source.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  memory-bank/plan/2026-02-02_16-46-20_pydantic-usage-token-counting.md
  memory-bank/research/.claude/settings.local.json
  src/tunacode/core/agents/main.py
  src/tunacode/core/state.py
  src/tunacode/core/types/state.py
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Improve pruning: skip re-estimation for old parts
  src/tunacode/core/agents/resume/prune.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Optimize sanitize canonicalization cache
  .claude/delta/2026-02-02-sanitize-canonical-cache.md
  memory-bank/plan/2026-02-02_sanitize-loop-canonicalization-bottleneck.md
  memory-bank/research/2026-02-02_sanitize_loop_canonicalization_bottleneck.md
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/utils/messaging/adapter.py
  tests/unit/test_sanitize_canonicalization.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.58
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: verify pre-commit hooks
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  scripts/dev-setup.sh
  uv.lock
Due: none

Remove prompt engine parsing to keep system prompt static (#357)
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/prompting/__init__.py
  src/tunacode/core/prompting/prompting_engine.py
  src/tunacode/prompts/system_prompt.md
  tests/unit/core/test_prompting_engine.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

perf: remove submit tool and JSON retry logic (#359)
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system_prompt.md
  src/tunacode/tools/parsing/command_parser.py
  src/tunacode/tools/parsing/retry.py
  src/tunacode/tools/prompts/submit_prompt.xml
  src/tunacode/tools/submit.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/unit/tools/test_submit.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.59
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: update changelog for PR #353
  CHANGELOG.md
Due: none

docs: enforce rebase, pre-commit hooks, and pydantic-ai containment
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

docs: clarify draft PRs ok, ready-for-review requires passing checks
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

docs: add issue standards (maintainer preferences)
  docs/contributing/issue-standards.md
Due: none

docs: add agent loop architecture documentation
  docs/architecture/agent-loop.md
Due: none

fix: auto-regenerate pydantic baseline on commit
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  scripts/pydantic_usage_baseline.json
Due: none

fix: skip pydantic-usage hook in CI
  .pre-commit-config.yaml
  scripts/pydantic_usage_baseline.json
Due: none

fix: skip pydantic-usage hook in CI environment
  .pre-commit-config.yaml
  scripts/pydantic_usage_baseline.json
Due: none

perf: speed up pre-commit hooks by moving slow checks to pre-push
  .pre-commit-config.yaml
Due: none

docs: Add Makefile for streamlined dev setup
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

chore: update docs
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
Due: none

chore: add python-semantic-release for automated releases
  .github/workflows/release.yml
  pyproject.toml
Due: none

ci: add deptry unused dependency check to lint workflow
  .github/workflows/lint.yml
Due: none

chore: declare transitive dependencies explicitly for deptry compliance
  pyproject.toml
Due: none

test: add pytest-json-report for test performance tracking
  .gitignore
  .test_reports/.gitkeep
  pyproject.toml
  pytest.ini
  scripts/pydantic_usage_baseline.json
  tests/conftest.py
  uv.lock
Due: dead-imports

refactor: simplify main.py by extracting HistoryPreparer and RequestLogger (#362)
  .claude/delta/2026-02-04-main-agent-refactoring.md
  .pre-commit-config.yaml
  docs/architecture/agent-loop.md
  docs/codebase-map/modules/core-agents.md
  pyproject.toml
  scripts/pydantic_usage_baseline.json
  scripts/utils/vulture_whitelist.py
  src/tunacode/core/agents/history_preparer.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/request_logger.py
  src/tunacode/tools/parsing/command_parser.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove truncation checker (#360)
  scripts/pydantic_usage_baseline.json
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/truncation_checker.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: remove unused session cleanup helper (#363)
  .claude/delta/remove-unused-cleanup-session.md
  src/tunacode/configuration/paths.py
  src/tunacode/utils/system/__init__.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: clean up docs
  PLAN.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: none
