Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

chore: bump version to 0.25
  CHANGELOG.md
  pyproject.toml
Due: none

fix: CHANGELOG format (#5)
  CHANGELOG.md
Due: none

fix: fix output format stream-json UnicodeDecodeError
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.26
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: rename `--agent` to `--agent-file`
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

feat: add MCP tool support
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/asyncio.py
  src/kimi_cli/tools/mcp.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  tests/test_load_agent.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

chore: improve option description
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.27
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: move `ToolResultBuilder` to `tools.utils`
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/tools/file/read.py
  src/kimi_cli/tools/result_builder.py
  src/kimi_cli/tools/utils.py
  src/kimi_cli/tools/web/fetch.py
  src/kimi_cli/tools/web/search.py
  tests/test_bash.py
  tests/test_pyinstaller_utils.py
  tests/test_result_builder.py
Due: dead-imports, vulture-changed

test: add snapshot test for ReadFile tool
  tests/test_read_file.py
Due: dead-imports

fix: fix ReadFile empty line bug
  src/kimi_cli/tools/file/read.py
  tests/test_read_file.py
Due: dead-imports, vulture-changed

fix: fix ReadFile truncation bug
  src/kimi_cli/tools/utils.py
  tests/test_read_file.py
Due: dead-imports, vulture-changed

chore: add `AGENTS.md`
  AGENTS.md
Due: none

feat: add `/init` meta command
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/prompts/metacmds/__init__.py
  src/kimi_cli/prompts/metacmds/init.md
  src/kimi_cli/ui/shell/metacmd.py
  tests/test_pyinstaller_utils.py
  tests/test_task_subagents.py
Due: dead-imports, vulture-changed

feat: add `/clear` meta command
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

chore: bump version to 0.28
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: rename `kimi_cli.asyncio` module
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/aioloop.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

feat: enter to accept suggestion in ShellApp
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

refactor: move prompt session to `prompt.py`
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

fix: fix ctrl-c interruption
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/aioloop.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/utils/aio.py
Due: dead-imports, vulture-changed

feat: disable `SendDMail` by default
  src/kimi_cli/agents/koder/agent.yaml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: remember user input history
  CHANGELOG.md
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

fix: fix test_load_agent
  tests/test_load_agent.py
Due: dead-imports

test: convert some Bash tests to use snapshot testing
  tests/test_bash.py
Due: dead-imports

test: add unit test for default agent prompts
  tests/test_default_agent.py
  tests/test_load_agent.py
Due: dead-imports

refactor: decouple BackToTheFuture with DMail
  src/kimi_cli/soul/kimisoul.py
Due: dead-imports, vulture-changed

feat: add alias `/reset` to `/clear` command
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

chore: bump version to 0.29
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add pydantic as dep
  pyproject.toml
Due: none

fix: fix aio.run not cancelling all tasks
  src/kimi_cli/utils/aio.py
Due: dead-imports, vulture-changed

feat: add `/compact` meta command
  CHANGELOG.md
  src/kimi_cli/prompts/metacmds/__init__.py
  src/kimi_cli/prompts/metacmds/compact.md
  src/kimi_cli/ui/shell/metacmd.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

fix: fix `/clear` when context is empty
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

fix: fix FetchURL tests
  tests/test_fetch_url.py
Due: dead-imports

chore: bump version to 0.30
  CHANGELOG.md
  pyproject.toml
Due: none

chore: upgrade ACP python sdk
  pyproject.toml
Due: none

fix: fix soul run interruption, for real...
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/prompt.py
  tests/test_default_agent.py
  tests/test_load_agent.py
Due: dead-imports, vulture-changed

fix: change some meta command to async, remove aio.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/utils/aio.py
Due: dead-imports, vulture-changed

chore: bump version to 0.31
  CHANGELOG.md
  pyproject.toml
Due: none

chore: change agent name in welcome message to `Kimi CLI`
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/ui/shell/__init__.py
  tests/test_default_agent.py
Due: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
