Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))

Simplify tinyagent message typing flow
  .artifacts/execute/2026-03-22_19-54-47_tinyagent-message-typing-cleanup.md
  .artifacts/plan/2026-03-22_18-08-41_tinyagent-message-typing-cleanup.md
  .artifacts/query_data_flow.md
  AGENTS.md
  src/tunacode/core/agents/helpers.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/session/state.py
  src/tunacode/core/types/state_structures.py
  src/tunacode/core/ui_api/messaging.py
  src/tunacode/ui/app.py
  src/tunacode/ui/headless/output.py
  src/tunacode/utils/messaging/adapter.py
  src/tunacode/utils/messaging/token_counter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore(deps): bump tiny-agent-os to 1.2.17
  pyproject.toml
  uv.lock
Due: none

rollback: before executing command-autocomplete-positioning plan
  .artifacts/plan/2026-03-23_15-35-00_command-autocomplete-positioning.md
  .artifacts/research/2026-03-23_15-30-00_command-autocomplete-positioning.md
Due: none

T001: Override _align_to_target() to position CommandAutoComplete above input bar
  src/tunacode/ui/widgets/command_autocomplete.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Add minimal tmux hello integration test
  tests/system/cli/test_tmux_tools.py
Due: dead-imports

chore(deps): bump tiny-agent-os to >=1.2.26
  pyproject.toml
  uv.lock
Due: none

Clamp command autocomplete dropdown within viewport
  AGENTS.md
  src/tunacode/ui/widgets/command_autocomplete.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix trailing whitespace in artifacts
  .artifacts/plan/2026-03-23_15-35-00_command-autocomplete-positioning.md
  .artifacts/research/2026-03-23_15-30-00_command-autocomplete-positioning.md
Due: none

chore: bump version to 0.1.97
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix(ui): show loading indicator immediately on submit
  .artifacts/debug_history/postmortem-loading-indicator-submit-regression-2026-03-24.md
  .artifacts/research/2026-03-24_16-58-32_tui-submit-latency.md
  src/tunacode/ui/app.py
  tests/integration/ui/test_submit_loading_lifecycle.py
  tests/unit/ui/test_app_loading_indicator.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.98
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: add input latency research and implementation plan artifacts
  .artifacts/plan/2026-03-24_19-15-16_input-latency-threaded-request-execution.md
  .artifacts/research/2026-03-24_18-46-40_input-latency-ui-loop-coupling.md
  docs/reviews/2026-03-24-input-latency-research-artifact.md
Due: none

T001: add thread-safe UI message types for cross-thread events
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/__init__.py
  src/tunacode/ui/widgets/messages.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: make TUI logger callback thread-safe via message posting
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/lifecycle.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T003: add RequestUiBridge for thread-safe callback adaptation
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/request_bridge.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T004: add UI-thread delta flush timer and drain helper
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/app.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T007: broaden ESC cancellation contract for worker handles
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/esc/types.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T005: run process_request in a threaded Textual worker
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/app.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Thread request execution and UI callback routing
  .artifacts/execute/2026-03-24_19-20-38_input-latency-threaded-request-execution.md
  src/tunacode/ui/app.py
  src/tunacode/ui/repl_support.py
  tests/integration/ui/test_submit_loading_lifecycle.py
  tests/system/cli/test_repl_support.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Re-ran the 200 ms thought refresh cadence after fixing benchmark lint so the improvement can land cleanly with passing hooks.
  .artifacts/research/2026-03-24_20-07-05_input-latency-regression-probe.md
  AGENTS.md
  autoresearch.checks.sh
  autoresearch.jsonl
  autoresearch.md
  autoresearch.sh
  scripts/benchmarks/input_latency.py
  src/tunacode/ui/app.py
  src/tunacode/ui/thinking_state.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Made thought refresh cadence adaptive: 100 ms normally, 300 ms only while the editor contains an in-progress draft, preserving fresher thoughts when idle while easing typing-time churn.
  autoresearch.jsonl
  src/tunacode/ui/app.py
  src/tunacode/ui/thinking_state.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Reduced the internal thinking-text buffer from 20k chars to 2.4k chars so live thought updates stop repeatedly copying far more hidden history than the UI can render.
  autoresearch.jsonl
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Re-ran the 150 ms recent-keypress thought deferral after formatting/hooks cleanup; the typing-burst grace window still beats the previous best and now lands with a clean validation path.
  autoresearch.checks.sh
  autoresearch.jsonl
  autoresearch.sh
  src/tunacode/ui/app.py
  src/tunacode/ui/thinking_state.py
  src/tunacode/ui/widgets/editor.py
  tests/unit/ui/test_thinking_state.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Re-ran the new keypress-to-render baseline after fixing benchmark script hook issues; current branch state still establishes a low-20 ms paint-latency baseline for the render-focused workload.
  autoresearch.ideas.md
  autoresearch.jsonl
  autoresearch.md
  autoresearch.sh
  scripts/benchmarks/input_paint_latency.py
Due: dead-imports, vulture-changed

Re-ran the tmux-pane baseline after landing the new benchmark files cleanly; current branch remains in the mid-30 ms range for real pane visibility during an active synthetic request.
  autoresearch.jsonl
  autoresearch.md
  autoresearch.sh
  scripts/benchmarks/input_tmux_latency.py
Due: dead-imports, vulture-changed

Shortened the recent-keypress thought deferral window from 150 ms to 125 ms under the real tmux-pane benchmark.
  autoresearch.jsonl
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Lowered the drafting-time thought throttle from 300 ms to 250 ms on top of the detached live-thinking widget path.
  autoresearch.jsonl
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Raised the detached-widget drafting-time thought throttle slightly from 250 ms to 275 ms.
  autoresearch.jsonl
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix request cancellation and tmux test gating
  src/tunacode/ui/app.py
  tests/integration/ui/test_submit_loading_lifecycle.py
  tests/system/cli/test_tmux_tools.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.99
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat: add provider stream lifecycle tracing for debug sessions
  AGENTS.md
  docs/reviews/2026-03-25-provider-stream-stall-artifact.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/logging/handlers.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/debug.py
  src/tunacode/ui/request_bridge.py
  src/tunacode/ui/request_debug.py
  src/tunacode/ui/widgets/editor.py
  tests/unit/core/test_agent_init_debug.py
  tests/unit/core/test_agent_stream_provider_debug.py
  tests/unit/core/test_stream_phase_debug.py
  tests/unit/ui/test_request_debug.py
  tests/unit/ui/test_request_threading.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: record tinyagent 1.2.27 GIL hotfix validation
  .artifacts/debug_history/2026-03-25_tinyagent-1-2-27-gil-hotfix-validation.md
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
  tests/integration/ui/test_submit_loading_lifecycle.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.100
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove unused feature flags and deduplicate file tool errors
  AGENTS.md
  docs/codebase-map/structure/tree-structure.txt
  docs/modules/configuration/configuration.md
  src/tunacode/configuration/feature_flags.py
  src/tunacode/tools/hashline_edit.py
  src/tunacode/tools/read_file.py
  src/tunacode/tools/utils/file_errors.py
  src/tunacode/tools/write_file.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Unify ignore pattern handling
  docs/modules/configuration/configuration.md
  docs/modules/utils/utils.md
  src/tunacode/configuration/ignore_patterns.py
  src/tunacode/infrastructure/file_filter.py
  src/tunacode/tools/ignore_manager.py
  src/tunacode/tools/utils/file_errors.py
  src/tunacode/utils/system/gitignore.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/infrastructure/test_file_filter.py
  tests/unit/utils/test_gitignore.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Remove unused max files limit accessor
  src/tunacode/configuration/limits.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan models-loading-unification
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/PLAN.md
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/tickets/INDEX.md
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/tickets/T001.md
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/tickets/T002.md
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/tickets/T003.md
  .artifacts/plan/2026-03-26_15-34-01_models-loading-unification/tickets/T004.md
  .artifacts/research/2026-03-26_15-29-02_models-loading-conflict-map.md
  src/tunacode/configuration/models.py
  src/tunacode/configuration/pricing.py
  src/tunacode/core/ui_api/configuration.py
  src/tunacode/infrastructure/cache/caches/models_registry.py
  src/tunacode/types/__init__.py
  src/tunacode/types/dataclasses.py
  src/tunacode/types/models_registry.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: lazy-load registry-backed metadata and pricing lookups
  src/tunacode/configuration/models.py
  src/tunacode/configuration/pricing.py
  tests/unit/configuration/test_models_registry_loading_behavior.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates
