Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

feat: improve ReadFile prompt
  src/kimi_cli/tools/file/read.md
Due: none

fix: limit the output size of Glob
  src/kimi_cli/tools/file/glob.md
  src/kimi_cli/tools/file/glob.py
  tests/test_glob.py
Due: dead-imports, vulture-changed

fix: truncate bash output
  src/kimi_cli/tools/bash/__init__.py
  tests/test_bash.py
Due: dead-imports, vulture-changed

perf: run glob in thread pool
  src/kimi_cli/tools/file/glob.py
Due: dead-imports, vulture-changed

chore: log exceptions properly
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

test: add tests for tool params schema
  tests/conftest.py
  tests/test_bash.py
  tests/test_glob.py
  tests/test_grep.py
  tests/test_read_file.py
  tests/test_str_replace_file.py
  tests/test_tool_schemas.py
  tests/test_write_file.py
Due: dead-imports

fix: better write tool mode check
  src/kimi_cli/tools/file/write.py
  tests/test_tool_schemas.py
  tests/test_write_file.py
Due: dead-imports, vulture-changed

chore: update changelog
  CHANGELOG.md
Due: none

chore: bump version 0.15.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add path utils
  src/kimi_cli/utils/path.py
  tests/test_utils_path.py
Due: dead-imports, vulture-changed

feat: add SendDMail tool
  src/kimi_cli/__init__.py
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/context.py
  src/kimi_cli/denwarenji.py
  src/kimi_cli/soul.py
  src/kimi_cli/tools/__init__.py
  src/kimi_cli/tools/dmail/__init__.py
  src/kimi_cli/tools/task/__init__.py
  tests/conftest.py
  tests/test_dmail.py
  tests/test_tool_schemas.py
Due: dead-imports, vulture-changed

refactor: use next_available_rotation in task tool
  src/kimi_cli/tools/task/__init__.py
Due: dead-imports, vulture-changed

chore: add a fixme comment
  src/kimi_cli/utils/path.py
Due: dead-imports, vulture-changed

feat: support specify history file for session
  src/kimi_cli/metadata.py
Due: dead-imports, vulture-changed

fix: grow context before handling pending dmail
  src/kimi_cli/soul.py
Due: dead-imports, vulture-changed

Migrate system prompt to XML (#109)
  .claude/delta_summaries/prompt_system_xml_migration.json
  .claude/semantic_index/prompt_system_changes.json
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system.xml
  tests/characterization/agent/test_agent_creation.py
  tests/test_prompt_changes_validation.py
Due: dead-imports, vulture-changed

chore: bump version to 0.16.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: migrate from TUNACODE.md to AGENTS.md and update documentation
  .claude/delta_summaries/behavior_changes.json
  .claude/docs_model_friendly/component_purpose.md
  .claude/metadata/file_classifications.json
  MANIFEST.in
  documentation/agent/TOOLS_WORKFLOW.md
  documentation/agent/agent-flow.md
  documentation/agent/how-tunacode-agent-works.md
  documentation/agent/main-agent-architecture.md
  documentation/agent/main-agent.md
  documentation/configuration/config-file-example.md
  documentation/configuration/tunacode-json-example.md
  documentation/configuration/tunacode.json.example
  documentation/development/performance-optimizations.md
  documentation/user/commands.md
  documentation/user/getting-started.md
  memory-bank/plan/2025-09-19_11-30-00_tunacode_md_to_agents_md_migration.md
  memory-bank/research/2025-09-15_12-19-00_configuration_system_and_dashboard.md
  memory-bank/research/2025-09-19_11-25-00_tunacode_md_to_agents_md_migration.md
  memory-bank/research/2025-09-26_10-56-29_main_agent_architecture.md
  scripts/install_linux.sh
  src/tunacode/cli/commands/implementations/development.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/constants.py
  src/tunacode/context.py
  src/tunacode/core/agents/agent_components/agent_config.py
  tests/characterization/commands/test_init_command.py
  tests/characterization/context/README.md
  tests/characterization/context/test_context_acceptance.py
  tests/characterization/test_characterization_main.py
Due: dead-imports, vulture-changed

Move empty response handler into agent helpers
  .gitignore
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

Update codebase: Test fixes, KB sync tool, and documentation cleanup
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/prompt_system_xml_migration.json
  .claude/kv/github-actions-release-fix.json
  .claude/memory_anchors/anchors.json
  .claude/qa/context_logs/smart-git-20250917-122934/commits.txt
  .claude/qa/context_logs/smart-git-20250917-122934/diffstat.txt
  .claude/qa/context_logs/smart-git-20250917-122934/files.json
  .claude/qa/reasoning_docs/smart-git-20250917-122934.md
  .claude/semantic_index/function_call_graphs.json
  .claude/semantic_index/prompt_system_changes.json
  AGENTS.md
  llm-agent-tools/kb_synch/Cargo.lock
  llm-agent-tools/kb_synch/Cargo.toml
  llm-agent-tools/kb_synch/anchor_drop.rs
  memory-bank/plan/2025-09-24_cli_prompt_toolkit_fuzzy_plan.md
  memory-bank/research/2025-01-19_react-shim-analysis.md
  reports/dead_code_vulture.txt
  reports/unused_imports.txt
  tests/characterization/agent/test_agent_creation.py
Due: dead-imports

fix: step count in MaxStepsReached exception
  src/kimi_cli/soul.py
Due: dead-imports, vulture-changed

fix: fix history file assertion
  src/kimi_cli/metadata.py
Due: dead-imports, vulture-changed

chore: increase default max_steps_per_run to 100
  src/kimi_cli/config.py
Due: dead-imports, vulture-changed

fix: fix error aborting in print mode and shell single command mode
  src/kimi_cli/__init__.py
  src/kimi_cli/soul.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

fix: better tool call interruption display
  src/kimi_cli/soul.py
  src/kimi_cli/ui/shell/liveview.py
Due: dead-imports, vulture-changed

fix: retry for APIConnectionError and APITimeoutError
  src/kimi_cli/soul.py
Due: dead-imports, vulture-changed

chore: bump version to 0.17
  CHANGELOG.md
  pyproject.toml
Due: none

feat: support configuring `max_context_size` in LLM models
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/config.py
  src/kimi_cli/constant.py
  src/kimi_cli/llm.py
  src/kimi_cli/soul.py
  src/kimi_cli/utils/provider.py
Due: dead-imports, vulture-changed

fix: improve ReadFile description
  src/kimi_cli/tools/file/read.md
Due: none

test: add tool description snapshot tests
  tests/test_tool_descriptions.py
Due: dead-imports

chore: add help line in welcome panel
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.18
  CHANGELOG.md
  pyproject.toml
Due: none

fix: remove checkpoint message when SendDMail tool is not enabled
  src/kimi_cli/context.py
  src/kimi_cli/soul.py
  src/kimi_cli/tools/dmail/__init__.py
Due: dead-imports, vulture-changed

feat: simplify print mode
  src/kimi_cli/event.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

feat: support reading command from non-tty stdin
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

feat: support `--input-format=stream-json`
  src/kimi_cli/__init__.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.19
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Create comprehensive plan for simplified agent implementation
  memory-bank/plan/2025-09-29_11-15-30_simplified_agent_implementation.md
  memory-bank/research/2025-09-29_11-08-14_state_and_task_logic.md
Due: none
