Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

dead-imports:
  name: Check for unused imports in changed files
  entry: scripts/run-dead-imports.sh
  language: script
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

naming-conventions:
  name: Check naming conventions
  entry: uv run python scripts/check-naming-conventions.py
  language: system

pylint-duplicates:
  name: Check for duplicate code
  entry: uv run pylint --disable=all --enable=R0801 --min-similarity-lines=15
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: update action_cancel_stream to action_cancel_request in test
  tests/unit/utils/test_shell_command_escape.py
Due: dead-imports

chore: bump version to 0.1.50
  pyproject.toml
  src/tunacode/constants.py
  tests/system/cli/test_startup.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update changelog with PRs #326 and #327
  CHANGELOG.md
Due: none

Refactor: Reorganize LLM framework types to infrastructure layer (#332)
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/orchestrator/usage_tracker.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/types/state_structures.py
  src/tunacode/infrastructure/llm_types.py
  src/tunacode/types/__init__.py
  src/tunacode/types/callbacks.py
  src/tunacode/types/canonical.py
  src/tunacode/types/pydantic_ai.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update changelog with PRs #322, #323, #325, #332 and regenerate dependency maps
  CHANGELOG.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
Due: none

chore: bump version to 0.1.52
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

ci: add Pydantic usage guard to CI pipeline
  .github/workflows/lint.yml
  scripts/pydantic_usage_baseline.json
  scripts/pydantic_usage_report.py
Due: dead-imports, vulture-changed

chore: use pytest config in only one place
  pyproject.toml
  pytest.ini
Due: none

chore: expand system prompt examples
  src/tunacode/prompts/system_prompt.md
Due: none

chore: bump version to 0.1.53
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: validate openai chat responses via http hook
  .claude/qa/raw.md
  docs/codebase-map/modules/core-agents.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/openai_response_validation.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

release: bump version and include prompts
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: document openai chat response failure
  .claude/debug_history/2026-02-01_openai-chat-invalid-response.md
Due: none

docs: note pydantic runtime removal attempt
  .claude/metadata/pydantic_runtime_removal_attempt.md
Due: none

docs: add bottleneck analysis research note
  memory-bank/research/bottleneck-analysis.md
Due: none

perf: Phase 1 bottleneck fixes (#341)
  .tickets/tun-0154.md
  .tickets/tun-2e7e.md
  .tickets/tun-386a.md
  .tickets/tun-6868.md
  .tickets/tun-7f83.md
  .tickets/tun-8168.md
  .tickets/tun-a07e.md
  .tickets/tun-da19.md
  .tickets/tun-fb61.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-state.md
  docs/codebase-map/modules/utils.md
  docs/refactoring/pydantic-removal-contract.md
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/state.py
  src/tunacode/core/types/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/utils/messaging/__init__.py
  src/tunacode/utils/messaging/token_counter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.55
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: add dev tooling for code quality, testing, and automation
  .tickets/tun-05f8.md
  .tickets/tun-3677.md
  .tickets/tun-a2eb.md
  .tickets/tun-bcea.md
  .tickets/tun-c89a.md
  .tickets/tun-d28a.md
  .tickets/tun-d9bc.md
  .tickets/tun-de63.md
  .tickets/tun-f090.md
  pyproject.toml
  pytest.ini
  scripts/dev-setup.sh
  scripts/generate-release-notes.sh
  src/tunacode/configuration/feature_flags.py
  tests/conftest.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: add freshness checks and normalize paths
  AGENTS.md
  CONTRIBUTING.md
  docs/codebase-map/MAP.md
  docs/codebase-map/architecture/architecture.md
  docs/codebase-map/state/state.md
  docs/codebase-map/structure/ANALYSIS_SUMMARY.md
  docs/codebase-map/structure/README.md
  docs/codebase-map/structure/tree-structure.txt
  scripts/check_agents_freshness.py
  scripts/generate_structure_tree.py
Due: dead-imports, vulture-changed

refactor: reduce request/streaming complexity
  .claude/metadata/issues.log
  pyproject.toml
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: resolve mypy and stream debug split
  docs/codebase-map/modules/core-agents.md
  scripts/check-file-length.sh
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/agent_components/streaming_debug.py
  src/tunacode/core/state.py
  src/tunacode/types/callbacks.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/shell_runner.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: improve summary module with local mode support
  src/tunacode/core/agents/resume/__init__.py
  src/tunacode/core/agents/resume/summary.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat: add manual compaction command and summary viewer
  docs/codebase-map/modules/configuration.md
  src/tunacode/configuration/limits.py
  src/tunacode/constants.py
  src/tunacode/core/configuration.py
  src/tunacode/core/constants.py
  src/tunacode/core/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/commands/compact.py
  src/tunacode/ui/screens/__init__.py
  src/tunacode/ui/screens/summary_viewer.py
  tests/unit/core/test_rolling_summary.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: add missing summary constants and improve error handling
  src/tunacode/constants.py
  src/tunacode/core/agents/resume/__init__.py
  src/tunacode/core/agents/resume/summary.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: regenerate pydantic usage baseline
  scripts/pydantic_usage_baseline.json
Due: none

chore: clean up token_counter and reorganize tests
  src/tunacode/utils/messaging/token_counter.py
  tests/unit/core/test_token_counter.py
  tests/unit/utils/test_token_counter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: remove unused callback constant (#349)
  tests/integration/tools/test_tool_retry.py
Due: dead-imports

refactor: simplify token_counter and update documentation (#350)
  .claude/metadata/research/2026-02-01-glob-text-match-research.md
  .gitignore
  docs/codebase-map/MAP.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/utils.md
  docs/codebase-map/state/state.md
  memory-bank/plan/2026-02-01_complexity-refactoring.md
  memory-bank/research/2026-02-01-token-counting-logic.md
  memory-bank/research/2026-02-01_complexity-hotspots.md
  problem_statement_model_api_error_logging.md
  pyproject.toml
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/core/state.py
  src/tunacode/utils/messaging/__init__.py
  src/tunacode/utils/messaging/token_counter.py
  tests/unit/utils/test_token_counter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: add test that captures missing imports
  tests/architecture/test_imports_in_init.py
Due: dead-imports

refactor: extract lexer color mapping
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/list_dir.py
  src/tunacode/ui/renderers/tools/syntax_utils.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: extract the gitignore traversal as a common utility
  src/tunacode/tools/glob.py
  src/tunacode/tools/grep_components/file_filter.py
  src/tunacode/tools/ignore.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

style: apply ruff fixes
  src/tunacode/tools/glob.py
  src/tunacode/tools/ignore.py
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/list_dir.py
  tests/architecture/test_imports_in_init.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

refactor: simplify block anchor replacer
  src/tunacode/tools/utils/text_match.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: refactor CLAUDE.md for progressive disclosure
  .claude/debug_history/continuous-learning.md
  AGENTS.md
  CLAUDE.md
  docs/agent-docs/card-format.md
  docs/agent-docs/quality-gates.md
Due: none

fix dependency layer and token estimate mocks
  .pre-commit-config.yaml
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  memory-bank/research/2026-02-01_19-43-34_prompt-engineer-remnants.md
  src/tunacode/core/shared_types.py
  src/tunacode/prompts/system_prompt.md
  src/tunacode/ui/repl_support.py
  tests/unit/core/test_compaction.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Normalize tool names before dispatch
  .claude/delta/2026-02-02-tool-name-normalization.md
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.56
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: update changelog for 0.1.56
  CHANGELOG.md
Due: none

diff master
  .pre-commit-config.yaml
  .tickets/tun-00de.md
  .tickets/tun-0154.md
  .tickets/tun-1c18.md
  .tickets/tun-1c2c.md
  .tickets/tun-2e7e.md
  .tickets/tun-3b54.md
  .tickets/tun-454b.md
  .tickets/tun-4a70.md
  .tickets/tun-4adc.md
  .tickets/tun-4de0.md
  .tickets/tun-61be.md
  .tickets/tun-65c6.md
  .tickets/tun-6868.md
  .tickets/tun-6927.md
  .tickets/tun-7a3b.md
  .tickets/tun-7f83.md
  .tickets/tun-85a9.md
  .tickets/tun-9a98.md
  .tickets/tun-a377.md
  .tickets/tun-a5f7.md
  .tickets/tun-bc8c.md
  .tickets/tun-cfa7.md
  .tickets/tun-d931.md
  .tickets/tun-da19.md
  .tickets/tun-e902.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  pyproject.toml
  src/tunacode/tools/bash.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
