Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

feat: complete Phase 2 Type Hints Enhancement
  refactoring_completion_plan.md
  src/tunacode/core/agents/main.py
  src/tunacode/ui/tool_ui.py
  tests/test_phase2_type_hints.py
Due: dead-imports, vulture-changed

fix: resolve 4 failing characterization tests
  src/tunacode/core/agents/main.py
  tests/characterization/agent/test_process_request.py
  tests/characterization/agent/test_tool_message_patching.py
Due: dead-imports, vulture-changed

docs: update refactoring plan to reflect all test fixes completed
  refactoring_completion_plan.md
Due: none

style: apply automatic formatting to test_process_request.py
  tests/characterization/agent/test_process_request.py
Due: dead-imports

feat: add memory-bank to version control and update with recent progress
  .gitignore
  memory-bank/activeContext.md
  memory-bank/memory-bank.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

chore: bump version to 0.0.52
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

Add memory-bank directories for agent knowledge persistence
  memory-bank/locks/claude.lock
  memory-bank/locks/default.lock
  memory-bank/locks/main.lock
  memory-bank/locks/task-15.lock
  memory-bank/locks/task17.lock
  memory-bank/locks/tunacode.lock
  memory-bank/shared/done_tasks/claude_Task_18:_Create_comprehensive_test_suite_for_multi-turn_retry_bug_fix_2025-07-29_153844_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_11:_Update_setup_dev_env.sh_script_-_COMPLETED_2025-07-29_111547_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_12:_pyproject.toml_updates_2025-07-29_112303_scratchpad.md
  memory-bank/shared/done_tasks/default_Tasks_11-13:_Setup_robustness_and_documentation_2025-07-29_113044_scratchpad.md
  memory-bank/shared/done_tasks/main_Task_16:_Error_synthesis_system_implementation_complete_2025-07-29_150745_scratchpad.md
  memory-bank/shared/done_tasks/task-15_Task_15:_Implement_retry_limit_mechanism_2025-07-29_145737_scratchpad.md
  memory-bank/shared/done_tasks/task17_Task_17:_Fix_message_history_cleanup_in_patch_tool_messages()_2025-07-29_152006_scratchpad.md
  memory-bank/shared/done_tasks/tunacode_Task_14_Completed:_Defensive_Type_Checking_in__attempt_tool_recovery()_2025-07-29_144542_scratchpad.md
Due: none

fix: resolve pre-commit hook issues and mypy errors
  .claude/agents/prompt-engineer.md
  .pre-commit-config.yaml
  CLAUDE.md
  MODERN_PYTHON_STANDARDS_UPDATES.md
  REFACTORING-PLAN.md
  memory-bank/activeContext.md
  memory-bank/memory-bank.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/shared/done_tasks/claude_Task_18:_Create_comprehensive_test_suite_for_multi-turn_retry_bug_fix_2025-07-29_153844_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_11:_Update_setup_dev_env.sh_script_-_COMPLETED_2025-07-29_111547_scratchpad.md
  memory-bank/shared/done_tasks/default_Task_12:_pyproject.toml_updates_2025-07-29_112303_scratchpad.md
  memory-bank/shared/done_tasks/default_Tasks_11-13:_Setup_robustness_and_documentation_2025-07-29_113044_scratchpad.md
  memory-bank/shared/done_tasks/main_Task_16:_Error_synthesis_system_implementation_complete_2025-07-29_150745_scratchpad.md
  memory-bank/shared/done_tasks/task-15_Task_15:_Implement_retry_limit_mechanism_2025-07-29_145737_scratchpad.md
  memory-bank/shared/done_tasks/task17_Task_17:_Fix_message_history_cleanup_in_patch_tool_messages()_2025-07-29_152006_scratchpad.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  pyproject.toml
  scripts/check-file-length.sh
  src/tunacode/cli/commands/implementations/development.py
  src/tunacode/cli/commands/template_shortcut.py
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/main.py
  tests/characterization/repl/test_repl_initialization.py
  tests/test_phase2_type_hints.py
  tests/unit/test_constants_enums.py
Due: dead-imports, vulture-changed

chore: apply ruff formatting to test files
  tests/characterization/repl/test_repl_initialization.py
  tests/test_phase2_type_hints.py
  tests/unit/test_constants_enums.py
Due: dead-imports

chore: disable file length check in pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: finalize test formatting
  tests/characterization/repl/test_repl_initialization.py
  tests/test_phase2_type_hints.py
  tests/unit/test_constants_enums.py
Due: dead-imports

chore: update pre-commit config and test formatting
  .pre-commit-config.yaml
  README.md
  tests/characterization/repl/test_repl_initialization.py
  tests/test_phase2_type_hints.py
  tests/unit/test_constants_enums.py
Due: dead-imports

fix: make publish script idempotent and handle partial completions
  scripts/publish_to_pip.sh
Due: none

fix: move cleanup section after version calculation
  scripts/publish_to_pip.sh
Due: none

chore: bump version to 0.0.54
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

Restore documentation folder and update .gitignore
  .gitignore
  documentation/2025-01-14-enhanced-thoughts-command.md
  documentation/2025-01-27-development-session.md
  documentation/2025-05-26-command-autocomplete-fix.md
  documentation/2025-05-27-pre-publication-audit-fixes.md
  documentation/2025-05-29-how-to-make-tools.md
  documentation/2025-05-30-fast-glob-prefilter-implementation.md
  documentation/2025-05-30-json-fallback-and-configuration-fixes.md
  documentation/2025-06-01-tunacode-v0.0.18-deployment-and-cleanup.md
  documentation/2025-06-14-file-context-visibility-improvements.md
  documentation/2025-06-14-file-context-visibility-update.md
  documentation/2025-06-14-orchestrator-response-handling.md
  documentation/ADVANCED-CONFIG.md
  documentation/ARCHITECTURE.md
  documentation/DEVELOPMENT.md
  documentation/FEATURES.md
  documentation/TOOLS.md
  documentation/agent_flows.md
  documentation/compact-command-improvement-plan.md
  documentation/fast-glob-prefilter-enhancement.md
  documentation/grep-search-improvements.md
  documentation/parallelization-analysis.md
  documentation/performance_improvement_qa_report.md
  documentation/qa_report.md
  documentation/react-agent-improvements.md
  documentation/security_review.md
  documentation/spelling-fixes.md
Due: none

feat: add Claude/LLM optimization infrastructure with in-file memory anchors
  .claude/NEXT_PR_RULES.md
  .claude/README.md
  .claude/SMELLS_REPORT.md
  .claude/anchors.json
  .claude/delta/2025-01-05-baseline.yml
  .claude/delta/v0.0.53_to_v0.0.54.diff
  .claude/metadata/components.yml
  .claude/metadata/hotspots.txt
  .claude/qa/fix-agent-errors.yml
  .claude/qa/fix-publish-script.yml
  .claude/qa/fix-runtime-warnings.yml
  .claude/scratchpad_log.txt
  =2.7
  src/tunacode/cli/commands/__init__.py
  src/tunacode/cli/commands/registry.py
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/state.py
  src/tunacode/tools/grep.py
  todo/agent-response-aggressive-fixes.md
  todo/agent-response-failures.md
  todo/agent-response-fixes-summary.md
  todo/agent-response-improvements-complete.md
  todo/fix-vulture-precommit-failures.md
  todo/smaller-prd.md
  todo/template-shortcut-issues.md
  todo/vulture-false-positives.md
Due: dead-imports, vulture-changed

docs: add memory anchor specification and mypy configuration
  .claude/MEMORY_ANCHOR_SPEC.md
  pyproject.toml
Due: none

docs: comprehensive documentation update for new features
  .claude/README.md
  .claude/agents/tech-docs-maintainer.md
  documentation/ADVANCED-CONFIG.md
  documentation/ARCHITECTURE.md
  documentation/DEVELOPMENT.md
  documentation/FEATURES.md
  documentation/TOOLS.md
Due: none

refactor: reorganize documentation structure and update vulture config
  .pre-commit-config.yaml
  documentation/2025-01-14-enhanced-thoughts-command.md
  documentation/2025-01-27-development-session.md
  documentation/2025-05-26-command-autocomplete-fix.md
  documentation/2025-05-27-pre-publication-audit-fixes.md
  documentation/2025-05-29-how-to-make-tools.md
  documentation/2025-05-30-fast-glob-prefilter-implementation.md
  documentation/2025-05-30-json-fallback-and-configuration-fixes.md
  documentation/2025-06-01-tunacode-v0.0.18-deployment-and-cleanup.md
  documentation/2025-06-14-file-context-visibility-improvements.md
  documentation/2025-06-14-file-context-visibility-update.md
  documentation/2025-06-14-orchestrator-response-handling.md
  documentation/ADVANCED-CONFIG.md
  documentation/ARCHITECTURE.md
  documentation/DEVELOPMENT.md
  documentation/FEATURES.md
  documentation/TOOLS.md
  documentation/agent/TOOLS_WORKFLOW.md
  documentation/agent/agent-inspo.md
  documentation/agent/main-agent-architecture.md
  documentation/agent_flows.md
  documentation/compact-command-improvement-plan.md
  documentation/configuration/logging-configuration.md
  documentation/development/codebase-hygiene.md
  documentation/development/prompt-principles.md
  documentation/fast-glob-prefilter-enhancement.md
  documentation/grep-search-improvements.md
  documentation/parallelization-analysis.md
  documentation/performance_improvement_qa_report.md
  documentation/qa_report.md
  documentation/react-agent-improvements.md
  documentation/security_review.md
  documentation/spelling-fixes.md
  refactoring_completion_plan.md
  scripts/utils/vulture_whitelist.py
  src/tunacode/memory-bank/agents/default/knowledge.json
  src/tunacode/memory-bank/agents/ruff-migration/knowledge.json
  src/tunacode/memory-bank/locks/ruff-migration.lock
  src/tunacode/memory-bank/shared/done_tasks/ruff-migration_Unified_linting_system_to_Ruff_2025-06-26_123123_scratchpad.md
  src/tunacode/memory-bank/shared/knowledge_base.json
Due: dead-imports, vulture-changed

rollback point: before updating scratchpad-multi.sh for new documentation structure
  CLAUDE.md
  llm-agent-tools/setup-multi-agent.sh
Due: none
