Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

chore: change name in system prompt
  src/kimi_cli/agents/koder/system.md
Due: none

chore: better logo
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: rename for clarification
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

feat: print error message according to api status code
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: let's don't be that bold
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/setup.py
  src/kimi_cli/ui/shell/update.py
Due: dead-imports, vulture-changed

test: fix ut
  tests/test_default_agent.py
  tests/test_task_subagents.py
Due: dead-imports

feat: get max context size from model data
  src/kimi_cli/ui/shell/setup.py
Due: dead-imports, vulture-changed

refactor: extract `USER_AGENT`
  src/kimi_cli/__init__.py
  src/kimi_cli/tools/web/search.py
  src/kimi_cli/utils/provider.py
Due: dead-imports, vulture-changed

chore: add job to publish python package in release workflow (#5)
  .github/workflows/release.yml
Due: none

feat: auto download ripgrep in Grep tool
  src/kimi_cli/tools/file/grep.py
Due: dead-imports, vulture-changed

fix: set Approval to yolo in print mode
  src/kimi_cli/soul/approval.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

feat: disable auto update
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/update.py
Due: dead-imports, vulture-changed

feat: add X-Msh-Tool-Call-Id to search api call
  src/kimi_cli/tools/web/search.py
Due: dead-imports, vulture-changed

feat: add `/feedback` meta command
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

chore: bump version to 0.35 (#7)
  CHANGELOG.md
  pyproject.toml
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/setup.py
  uv.lock
Due: dead-imports, vulture-changed

fix: fix ctrl-c interruption when running meta command (#8)
  CHANGELOG.md
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

feat: add /debug meta command (#9)
  CHANGELOG.md
  src/kimi_cli/ui/shell/debug.py
  src/kimi_cli/ui/shell/metacmd.py
Due: dead-imports, vulture-changed

refactor: extract compaction logic (#10)
  src/kimi_cli/prompts/__init__.py
  src/kimi_cli/prompts/compact.md
  src/kimi_cli/prompts/init.md
  src/kimi_cli/soul/compaction.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/setup.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

feat: support auto compaction by threshold (#11)
  CHANGELOG.md
  src/kimi_cli/soul/compaction.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

feat: pass session id as `prompt_cache_key` (#12)
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/utils/provider.py
  uv.lock
Due: dead-imports, vulture-changed

chore: rename platform name
  src/kimi_cli/ui/shell/setup.py
Due: dead-imports, vulture-changed

chore: add license
  LICENSE
Due: none

feat: approval request in shell mode (#13)
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/keyboard.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

feat: add `--yolo` option (#14)
  CHANGELOG.md
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

chore: add README
  README.md
  docs/images/setup.png
Due: none

chore: refine README
  README.md
Due: none

feat: render markdown content (#15)
  src/kimi_cli/ui/shell/console.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

fix: fix approval request from subagent (#21)
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/ui/shell/liveview.py
Due: dead-imports, vulture-changed

feat: request for approval in more tools (#22)
  src/kimi_cli/tools/file/__init__.py
  src/kimi_cli/tools/file/patch.py
  src/kimi_cli/tools/file/replace.py
  src/kimi_cli/tools/file/write.py
  tests/conftest.py
Due: dead-imports, vulture-changed

fix: fix context usage display
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

fix: do not ask for approval for every bash command
  src/kimi_cli/tools/bash/__init__.py
Due: dead-imports, vulture-changed

fix: approve for all should resolve all queued requests
  src/kimi_cli/soul/wire.py
  src/kimi_cli/ui/shell/liveview.py
Due: dead-imports, vulture-changed

chore: bump version to 0.36 (#33)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: fix upgrade command
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.37
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: minor
  README.md
Due: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: display a warning message when there's new version
  CHANGELOG.md
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/update.py
Due: dead-imports, vulture-changed

chore: bump version to 0.38
  pyproject.toml
  uv.lock
Due: none

fix: fix context compaction threshold check
  CHANGELOG.md
  src/kimi_cli/soul/kimisoul.py
Due: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
