Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

feat: temporarily remove `--session` option, add `--continue` option
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/soul.py
Due: dead-imports, vulture-changed

chore: bump version to 0.9.0
  pyproject.toml
Due: none

refactor: extract VisualizeFn from Soul
  src/kimi_cli/__init__.py
  src/kimi_cli/soul.py
  src/kimi_cli/ui/tui/__init__.py
  src/kimi_cli/ui/tui/console.py
  src/kimi_cli/ui/tui/liveview.py
  src/kimi_cli/ui/tui/metacmd.py
Due: dead-imports, vulture-changed

chore: move tools
  src/kimi_cli/tools/shell.py
  src/kimi_cli/tools/test.py
Due: dead-imports, vulture-changed

Sync local changes with remote on branch master
  .github/workflows/publish.yml
  README.md
  documentation/README.md
  documentation/configuration/config-flow-diagram.md
  documentation/configuration/config-touch-points.md
  documentation/development/hatch-build-system.md
  documentation/development/streaming-text-prefix-fix.md
  memory-bank/execute/2025-09-15_12-30-00_configuration_dashboard_implementation.md
  memory-bank/execute/2025-09-15_configuration_dashboard_ux_improvements.md
  memory-bank/plan/2025-09-15_12-29-04_configuration_dashboard_implementation.md
  memory-bank/research/2025-09-15_13-54-11_first-chunk_character_loss_investigation.md
  scripts/setup_dev_env.sh
  src/tunacode/cli/main.py
  src/tunacode/cli/repl.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/setup/config_wizard.py
  src/tunacode/ui/config_dashboard.py
  src/tunacode/ui/panels.py
  src/tunacode/utils/config_comparator.py
  tests/integration/test_startup_dashboard.py
  tests/ui/test_config_dashboard.py
  tests/utils/test_config_comparator.py
Due: dead-imports, vulture-changed

fix: remove newline in tool call status
  src/kimi_cli/utils/string.py
Due: dead-imports, vulture-changed

chore: introduce pyright type checker
  Makefile
  pyproject.toml
  pyrightconfig.json
Due: none

chore: add some todos
  src/kimi_cli/tools/shell.py
  src/kimi_cli/ui/tui/liveview.py
Due: dead-imports, vulture-changed

feat: better session concept
  src/kimi_cli/__init__.py
  src/kimi_cli/config.py
  src/kimi_cli/metadata.py
  src/kimi_cli/ui/tui/__init__.py
Due: dead-imports, vulture-changed

feat: restore context size from linear storage
  pyproject.toml
  src/kimi_cli/soul.py
Due: dead-imports, vulture-changed

feat: add `task` tool
  kimi.spec
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/explorer/system.md
  src/kimi_cli/agents/main/README.md
  src/kimi_cli/agents/main/agent.yaml
  src/kimi_cli/agents/main/system.md
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/task/description.md
  src/kimi_cli/ui/tui/liveview.py
Due: dead-imports, vulture-changed

feat: support BuiltinSystemPromptArgs injection into subagents
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder-sub/agent.yaml
  src/kimi_cli/agents/koder/README.md
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/task/description.md
Due: dead-imports, vulture-changed

refactor: extract agent loading logic
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/soul.py
  src/kimi_cli/tools/task/__init__.py
Due: dead-imports, vulture-changed

Sync local changes with remote on branch master
  CLAUDE.md
  memory-bank/research/2025-09-16_11-12-45_setup_py_usage_and_location_analysis.md
  setup.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.76.1
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.76.1
  TUNACODE.md
  pyproject.toml
  src/tunacode/constants.py
  tools/emoji_cleaner.py
Due: dead-imports, vulture-changed

docs: update CHANGELOG.md with versions 0.0.76 and 0.0.76.1
  documentation/changelog/CHANGELOG.md
Due: none

Sync local changes with remote on branch master
  documentation/changelog/CHANGELOG.md
Due: none

docs: add comprehensive Fagan inspection analysis for main.py
  docs/reports/subagent_analysis/code-synthesis-analyzer_report.md
  docs/reports/subagent_analysis/codebase-analyzer_report.md
  docs/reviews/FAGAN_PLAN.md
  docs/reviews/fagan_inspection_defects.json
  docs/reviews/fagan_inspection_summary.md
  src/agent.md
Due: none

docs: update documentation and remove obsolete agent file
  docs/reports/subagent_analysis/code-synthesis-analyzer_report.md
  docs/reviews/agent_seams.md
  src/agent.md
Due: none

refactor: implement `Context` instead of reuse the `LinearContext` in Kosong
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/context.py
  src/kimi_cli/soul.py
  src/kimi_cli/tools/task/__init__.py
Due: dead-imports, vulture-changed

feat: add read_file and write_file tools
  pyproject.toml
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/file/__init__.py
  src/kimi_cli/tools/file/read.md
  src/kimi_cli/tools/file/read.py
  src/kimi_cli/tools/file/write.md
  src/kimi_cli/tools/file/write.py
  src/kimi_cli/tools/task/description.md
Due: dead-imports, vulture-changed

test: add unit tests for shell and write_file tools
  Makefile
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_shell.py
  tests/test_write_file.py
Due: dead-imports

fix: fix read_file line number bug, add unit tests
  src/kimi_cli/tools/file/read.py
  tests/test_read_file.py
Due: dead-imports, vulture-changed

feat: add glob tool
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/file/__init__.py
  src/kimi_cli/tools/file/glob.md
  src/kimi_cli/tools/file/glob.py
  tests/test_glob.py
Due: dead-imports, vulture-changed

refactor: move test fixtures
  tests/conftest.py
  tests/test_read_file.py
  tests/test_shell.py
  tests/test_write_file.py
Due: dead-imports

refactor: make shell tool consistent with other tools
  src/kimi_cli/tools/shell/__init__.py
  src/kimi_cli/tools/shell/shell.md
Due: dead-imports, vulture-changed

feat: improve the response quality of subagent
  src/kimi_cli/agents/explorer/system.md
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/task/description.md
  src/kimi_cli/tools/task/task.md
  src/kimi_cli/utils/message.py
Due: dead-imports, vulture-changed

feat: improve tool call display
  src/kimi_cli/ui/tui/liveview.py
Due: dead-imports, vulture-changed

chore: increase max steps per run to 100
  src/kimi_cli/constant.py
Due: dead-imports, vulture-changed

chore: bump version to 0.10.0
  pyproject.toml
Due: none

fix: remove bad unit test
  tests/test_shell.py
Due: dead-imports

feat: ban glob pattern starting with **
  src/kimi_cli/tools/file/glob.md
  src/kimi_cli/tools/file/glob.py
  tests/test_glob.py
Due: dead-imports, vulture-changed

feat: support metacmd rename & alias
  pyproject.toml
  src/kimi_cli/ui/tui/__init__.py
  src/kimi_cli/ui/tui/metacmd.py
  tests/test_metacmd.py
Due: dead-imports, vulture-changed

test: fix unit test for glob tool
  tests/test_glob.py
Due: dead-imports

fix: remove max steps limit
  src/kimi_cli/constant.py
Due: dead-imports, vulture-changed

chore: bump version to 0.10.1
  pyproject.toml
Due: none

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
