Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))

Fix skills loading UX and slash command submit
  .claude/debug_history/2026-03-06-slash-command-exact-match-autocomplete-enter.md
  src/tunacode/skills/loader.py
  src/tunacode/skills/selection.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/skills.py
  src/tunacode/ui/widgets/__init__.py
  src/tunacode/ui/widgets/command_autocomplete.py
  src/tunacode/ui/widgets/skills_autocomplete.py
  tests/unit/skills/test_loader.py
  tests/unit/ui/test_command_autocomplete.py
  tests/unit/ui/test_skill_command.py
  tests/unit/ui/test_skills_autocomplete.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.84
  .claude/delta/2026-03-06-pypi-release-0.1.84.md
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

ci: skip existing PyPI uploads on GitHub release
  .claude/delta/2026-03-06-github-release-pypi-skip-existing.md
  .github/workflows/publish-release.yml
Due: none

fix: rank /skills autocomplete matches semantically
  .claude/debug_history/2026-03-06-skills-autocomplete-selection-ranking.md
  src/tunacode/skills/search.py
  src/tunacode/ui/commands/skills.py
  src/tunacode/ui/widgets/skills_autocomplete.py
  tests/unit/skills/test_search.py
  tests/unit/ui/test_skills_autocomplete.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: isolate slash command autocomplete to command names
  .claude/debug_history/2026-03-06-command-autocomplete-argument-interference.md
  src/tunacode/ui/widgets/command_autocomplete.py
  tests/unit/ui/test_command_autocomplete.py
  tests/unit/ui/test_skills_autocomplete.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.85
  .claude/delta/2026-03-06-pypi-release-0.1.85.md
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: improve skills UI styling and fix global skill loading
  src/tunacode/skills/selection.py
  src/tunacode/ui/commands/skills.py
  src/tunacode/ui/styles/panels.tcss
  src/tunacode/ui/styles/widgets.tcss
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

feat: add instruction prompt for loaded skills
  src/tunacode/skills/prompting.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

fix: resolve_selected_skills uses discovered path
  src/tunacode/skills/selection.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: remove skills tests
  tests/integration/core/test_skills_integration.py
  tests/unit/core/test_session_state_skills.py
  tests/unit/skills/test_discovery.py
  tests/unit/skills/test_loader.py
  tests/unit/skills/test_registry.py
  tests/unit/skills/test_search.py
  tests/unit/ui/test_command_autocomplete.py
  tests/unit/ui/test_skill_command.py
  tests/unit/ui/test_skills_autocomplete.py
Due: dead-imports

fix: include skill absolute paths in prompt context
  src/tunacode/skills/loader.py
  src/tunacode/skills/models.py
  src/tunacode/skills/prompting.py
  src/tunacode/skills/selection.py
  tests/integration/core/test_tinyagent_alchemy_usage_contract_live.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: prompt hacks for skills will revist time crunched
  .claude/JOURNAL.md
  .claude/debug_history/context-loss-bug.md
  .claude/debug_history/continuous-learning.md
  .claude/delta/2026-03-06-github-release-pypi-skip-existing.md
  .claude/delta/2026-03-06-pypi-release-0.1.84.md
  .claude/delta/2026-03-06-pypi-release-0.1.85.md
  .claude/metadata/pydantic_runtime_removal_attempt.md
  .claude/metadata/research/2026-02-01-glob-text-match-research.md
  .claude/metadata/research/2026-02-12-tinyagent-rust-only-migration-map.md
  .claude/qa/raw.md
  .claude/task/task_01_canonical_messaging_adoption.md
  .claude/task/task_02_session_state_decomposition.md
  .claude/task/task_03_message_parity_harness.md
  .claude/task/task_04_canonical_sanitization.md
  .claude/task/task_05_tool_call_registry_ownership.md
  .claude/task/task_06_react_state_alignment.md
  .claude/task/task_07_todo_state_alignment.md
  .claude/task/task_08_usage_metrics_consolidation.md
  .claude/task/task_09_architecture_enforcement_tests.md
  .claude/task/task_10_legacy_path_decommission.md
  AGENTS.md
  CLAUDE.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system_prompt.md
  src/tunacode/skills/prompting.py
  tests/unit/core/test_agent_skills_prompt_injection.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: bump version to 0.1.86
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Increase default shell timeout to 2 minutes
  scripts/preview_tool_panels.py
  src/tunacode/configuration/defaults.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/tools/bash.py
  src/tunacode/tools/prompts/bash_prompt.xml
  src/tunacode/ui/renderers/tools/bash.py
  src/tunacode/ui/shell_runner.py
  tests/unit/tools/test_bash.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: increase default shell timeout to 2 minutes
  docs/modules/core/core.md
  docs/modules/index.md
  docs/modules/infrastructure/infrastructure.md
  docs/modules/skills/skills.md
  docs/modules/ui/commands.md
Due: none

test: remove flaky headless CLI test
  tests/system/cli/test_headless_cli.py
Due: dead-imports

chore: bump version to 0.1.87
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  tests/system/cli/test_tmux_tools.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan skills lookup selection consolidation
  memory-bank/plan/2026-03-06_12-51-21_skills_lookup_selection_consolidation.md
  memory-bank/research/2026-03-06_skills_module_map.md
Due: none

T001: add canonical registry skill resolver
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  src/tunacode/skills/registry.py
  tests/unit/skills/test_registry.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: refactor skill selection onto registry loads
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  src/tunacode/skills/selection.py
  tests/unit/skills/test_selection.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T003: add selected-skill summary resolution model
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  src/tunacode/skills/models.py
  src/tunacode/skills/selection.py
  tests/unit/skills/test_selection.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T004: use shared selected-skill summaries in skills command
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  src/tunacode/ui/commands/skills.py
  tests/unit/ui/test_skills_command.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T005: share selected-skill summaries in session inspector
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  src/tunacode/ui/app.py
  tests/unit/ui/test_app_skills_entries.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T006: expand skills regression coverage
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  tests/unit/skills/test_registry.py
  tests/unit/skills/test_selection.py
Due: dead-imports

T007: expand UI skill display regressions
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  tests/unit/ui/test_app_skills_entries.py
  tests/unit/ui/test_skills_command.py
Due: dead-imports

T008: extend skills prompt injection coverage
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
  tests/unit/core/test_agent_skills_prompt_injection.py
Due: dead-imports

T009: record focused skills verification gates
  memory-bank/execute/2026-03-06_13-11-21_skills_lookup_selection_consolidation.md
Due: none

test: add tmux loaded-skill system coverage
  tests/system/cli/test_tmux_tools.py
Due: dead-imports

chore: bump version to 0.1.88
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

style: flatten Editor border to match panel design
  src/tunacode/ui/styles/layout.tcss
Due: none

refactor(ui): remove bottom status bar
  src/tunacode/ui/app.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/shell_runner.py
  src/tunacode/ui/styles/widgets.tcss
  src/tunacode/ui/widgets/__init__.py
  src/tunacode/ui/widgets/editor.py
  src/tunacode/ui/widgets/status_bar.py
  tests/system/cli/test_repl_support.py
  tests/unit/ui/test_status_bar_layout.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: remove tmux status bar dependency
  tests/system/cli/test_tmux_tools.py
Due: dead-imports

chore: bump version to 0.1.89
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

test: harden tool panel css conformance fixtures
  tests/unit/ui/test_tool_panel_css_flow.py
Due: dead-imports

docs: add model picker smoothing research map
  memory-bank/research/2026-03-08_recent-models-model-picker-map.md
Due: none

feat: smooth model picker flow
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/models.py
  src/tunacode/configuration/user_config.py
  src/tunacode/constants.py
  src/tunacode/core/ui_api/configuration.py
  src/tunacode/core/ui_api/constants.py
  src/tunacode/core/ui_api/user_configuration.py
  src/tunacode/ui/commands/model.py
  src/tunacode/ui/screens/__init__.py
  src/tunacode/ui/screens/model_picker.py
  src/tunacode/ui/screens/setup.py
  tests/unit/configuration/test_recent_models.py
  tests/unit/ui/test_model_command.py
  tests/unit/ui/test_model_picker.py
  tests/unit/ui/test_setup_screen.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: untrack model picker research note
  memory-bank/research/2026-03-08_recent-models-model-picker-map.md
Due: none

chore: remove model picker tests from pr
  tests/unit/configuration/test_recent_models.py
  tests/unit/ui/test_model_command.py
  tests/unit/ui/test_model_picker.py
  tests/unit/ui/test_setup_screen.py
Due: dead-imports

fix: harden model picker selection state
  src/tunacode/configuration/models.py
  src/tunacode/configuration/user_config.py
  src/tunacode/ui/commands/model.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates
