Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

docs: add slim panels UI redesign research and plan
  memory-bank/plan/2026-01-15_slim-panels-ui-update.md
  memory-bank/research/2026-01-15_tool-panel-redesign-options.md
  memory-bank/research/2026-01-15_tool-panel-scrolling-readability.md
Due: none

docs: add Option C grouped sections research
  memory-bank/research/2026-01-15_option-c-grouped-sections.md
Due: none

docs: update slim panels plan with dream mockup details
  memory-bank/plan/2026-01-15_slim-panels-ui-update.md
Due: none

docs: add dream mockup image for slim panels plan
  memory-bank/plan/assets/dream-mockup-slim-panels.webp
Due: none

docs: update plan with NeXTSTEP slim borders
  memory-bank/plan/2026-01-15_slim-panels-ui-update.md
Due: none

Fix message history persistence (#238)
  .claude/qa/raw.md
  docs/codebase-map/architecture/architecture.md
  docs/codebase-map/modules/core-agents.md
  memory-bank/plan/2026-01-15_slim-panels-ui-update.md
  memory-bank/plan/assets/dream-mockup-slim-panels.webp
  memory-bank/research/2026-01-15_option-c-grouped-sections.md
  memory-bank/research/2026-01-15_tool-panel-redesign-options.md
  memory-bank/research/2026-01-15_tool-panel-scrolling-readability.md
  src/tunacode/core/agents/__init__.py
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/agent_components/message_handler.py
  src/tunacode/core/agents/agent_components/orchestrator/message_recorder.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/state.py
  src/tunacode/types/__init__.py
  src/tunacode/types/callbacks.py
  src/tunacode/types/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
Due: dead-imports, vulture-changed

fix: remove synthetic message injections (#239)
  docs/codebase-map/modules/configuration.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-prompting.md
  docs/codebase-map/state/state.md
  docs/codebase-map/structure/02-core-directory.md
  docs/codebase-map/structure/tree-structure.txt
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/prompts.py
  src/tunacode/core/state.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.34
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

docs: update README version to v0.1.34
  README.md
Due: none

ui: hook-arrow params across tool panels (#243)
  .pre-commit-config.yaml
  docs/codebase-map/modules/constants.md
  docs/codebase-map/modules/ui-overview.md
  docs/ui/tool_renderers.md
  memory-bank/research/2026-01-16_10-59-35_tool-panel-architecture.md
  memory-bank/research/2026-01-16_11-04-37_streaming-architecture.md
  memory-bank/research/2026-01-16_13-57-44_hook-arrow-file-indicator.md
  scripts/check-unused-constants.py
  scripts/preview_tool_panels.py
  src/tunacode/constants.py
  src/tunacode/ui/app.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/tools/base.py
  src/tunacode/ui/renderers/tools/bash.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/grep.py
  src/tunacode/ui/renderers/tools/list_dir.py
  src/tunacode/ui/renderers/tools/read_file.py
  src/tunacode/ui/renderers/tools/research.py
  src/tunacode/ui/renderers/tools/syntax_utils.py
  src/tunacode/ui/renderers/tools/update_file.py
  src/tunacode/ui/renderers/tools/web_fetch.py
  src/tunacode/ui/renderers/tools/write_file.py
  src/tunacode/ui/shell_runner.py
  tests/test_update_file_renderer.py
  tools-small-termina.png
  uv.lock
Due: dead-imports, vulture-changed

docs: add Gate 5 - Indirection Requires Verification
  CLAUDE.md
Due: none

refactor: centralize panel width handling and simplify tool renderers (#244)
  .claude/qa/raw.md
  docs/codebase-map/modules/constants.md
  docs/codebase-map/modules/ui-overview.md
  docs/ui/tool_renderers.md
  memory-bank/research/2026-01-16_tool-panel-resize-truncation.md
  scripts/preview_tool_panels.py
  src/tunacode/constants.py
  src/tunacode/tools/authorization/requests.py
  src/tunacode/ui/app.py
  src/tunacode/ui/renderers/panel_widths.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/tools/base.py
  src/tunacode/ui/renderers/tools/bash.py
  src/tunacode/ui/renderers/tools/glob.py
  src/tunacode/ui/renderers/tools/grep.py
  src/tunacode/ui/renderers/tools/list_dir.py
  src/tunacode/ui/renderers/tools/read_file.py
  src/tunacode/ui/renderers/tools/research.py
  src/tunacode/ui/renderers/tools/update_file.py
  src/tunacode/ui/renderers/tools/web_fetch.py
  src/tunacode/ui/renderers/tools/write_file.py
  src/tunacode/ui/shell_runner.py
  tests/test_base_renderer.py
  tests/test_base_tool_renderer.py
  tests/test_shell_runner.py
  tests/test_update_file_renderer.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.35
  README.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed

docs: update CHANGELOG for v0.1.35
  CHANGELOG.md
Due: none

chore: remove unused local config and screenshot files
  CLAUDE_LOCAL.md
  tools-small-termina.png
Due: none

chore: arrow-cleanup - tool call handling, debug diagnostics, and panel width fixes (#246)
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/logging/manager.py
  src/tunacode/utils/parsing/tool_parser.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.36
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

docs: add conversation turn flow documentation
  docs/codebase-map/MAP.md
  docs/codebase-map/architecture/conversation-turns.md
Due: none

docs: add message invariants and dangling tool calls delta
  .claude/delta/2026-01-17-dangling-tool-calls.md
  docs/codebase-map/architecture/conversation-turns.md
Due: none

docs: add Gate 6 - Exception Paths Are First-Class
  CLAUDE.md
Due: none

change default behavior of /update to install (#247)
  src/tunacode/ui/commands/__init__.py
  uv.lock
Due: dead-imports, vulture-changed

implement better error handling on shell (#248)
  src/tunacode/ui/shell_runner.py
Due: dead-imports, vulture-changed

add TUI screenshot for issue
  assets/tunacode.png
Due: none

fix: add submit tool to READ_ONLY_TOOLS (#254)
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

refactor: remove duplicate startup index worker from app.py (#253)
  .claude/metadata/issues.log
  .gitignore
  docs/codebase-map/MAP.md
  docs/codebase-map/architecture/architecture.md
  docs/codebase-map/modules/00-overview.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/utils.md
  docs/codebase-map/structure/06-supporting-modules.md
  docs/codebase-map/structure/README.md
  docs/codebase-map/structure/tree-structure.txt
  memory-bank/research/2026-01-19_12-03-10_pydantic_ai_tool_call_wire_format.md
  memory-bank/research/2026-01-19_12-43-23_utils_code_smells_analysis.md
  memory-bank/research/2026-01-19_14-38-26_ui_code_smells_analysis.md
  scripts/check-file-length.sh
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/ui/app.py
  src/tunacode/ui/components/__init__.py
  src/tunacode/utils/parsing/json_utils.py
  src/tunacode/utils/security/__init__.py
  src/tunacode/utils/security/command.py
  tests/test_tool_call_lifecycle.py
  tests/test_tool_dispatcher_coverage.py
  tests/test_tool_parser.py
  tests/test_tool_retry.py
Due: dead-imports, vulture-changed

chore: add hypothesis marker for property-based tests
  pyproject.toml
  tests/test_tool_call_lifecycle.py
  uv.lock
Due: dead-imports

fix: remove lambda wrapper around async run_startup_index
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed

fix: handle CancelledError in timeout cleanup path
  src/tunacode/core/agents/main.py
  tests/test_tool_call_lifecycle.py
Due: dead-imports, vulture-changed

feat: add lifecycle debug logging (#256)
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-logging.md
  memory-bank/execute/2026-01-19_15-30-00_timeout_cleanup_gap.md
  memory-bank/plan/2026-01-19_15-00-00_timeout_cleanup_gap.md
  memory-bank/research/2026-01-19_14-30-00_dangling_tool_calls_timeout_gap.md
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/state_transition.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/logging/handlers.py
  src/tunacode/core/logging/manager.py
  src/tunacode/ui/commands/__init__.py
  tests/test_logging.py
  tests/test_tool_call_lifecycle.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.37
  pyproject.toml
  src/tunacode/constants.py
  tests/test_tool_call_lifecycle.py
Due: dead-imports, vulture-changed

docs: add context loss bug TODO
  TODO-context-loss-bug.md
Due: none

fix: persist messages on abort (#257)
  .claude/metadata/issues.log
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-state.md
  src/tunacode/core/agents/main.py
  src/tunacode/core/state.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.38
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

bug: dangling tool calls
  .claude/metadata/issues.log
  scripts/check-file-length.sh
  src/tunacode/core/agents/main.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_glob_grep_path_validation.py
  tests/integration/tools/test_shell_runner.py
  tests/integration/tools/test_tool_conformance.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/integration/tools/test_tool_performance.py
  tests/integration/tools/test_tool_retry.py
  tests/integration/tools/test_web_fetch.py
  tests/system/cli/test_cli_default_command.py
  tests/system/cli/test_headless_cli.py
  tests/system/cli/test_repl_support.py
  tests/unit/core/test_compaction.py
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_limits.py
  tests/unit/core/test_logging.py
  tests/unit/core/test_message_utils.py
  tests/unit/core/test_present_plan.py
  tests/unit/core/test_prompting_engine.py
  tests/unit/core/test_text_match.py
  tests/unit/core/test_todo_tools.py
  tests/unit/core/test_token_counter.py
  tests/unit/core/test_usage_tracker.py
  tests/unit/tools/test_tool_decorators.py
  tests/unit/tools/test_tool_parser.py
  tests/unit/ui/test_base_renderer.py
  tests/unit/ui/test_base_tool_renderer.py
  tests/unit/ui/test_confirmation_preview.py
  tests/unit/ui/test_diagnostics_renderer.py
  tests/unit/ui/test_update_file_renderer.py
  tests/unit/utils/test_shell_command_escape.py
  uv.lock
Due: dead-imports, vulture-changed

chore: bump version to 0.1.39
  pyproject.toml
  src/tunacode/constants.py
  tests/integration/tools/test_tool_conformance.py
Due: dead-imports, vulture-changed

fix: don't break agent loop when submit tool is called
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.40
  pyproject.toml
  src/tunacode/constants.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/unit/tools/test_submit.py
Due: dead-imports, vulture-changed

docs: document PR #244 panel width refactoring
  .claude/delta/2026-01-16-panel-width-refactoring.md
  docs/codebase-map/modules/ui-overview.md
  docs/ui/tool_renderers.md
Due: none

docs: add compaction system research and ontology documentation
  docs/codebase-map/architecture/compaction-ontology.md
  memory-bank/research/2026-01-20_16-25-07_compaction-system.md
  memory-bank/research/2026-01-20_compaction-integration.md
Due: none

fix: correct wiki-link to nextstep_panels
  .claude/delta/2026-01-16-panel-width-refactoring.md
Due: none

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
