Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: venv/bin/unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: venv/bin/vulture --min-confidence 80 src/ vulture_whitelist.py
  language: system
  stages:
  - pre-commit

chore: create rollback point before fixing pre-commit errors
  .claude/TM_COMMANDS_GUIDE.md
  .mcp.json
  TOOLS_WORKFLOW.md
  TUNACODE_COMPREHENSIVE_DOCS.md
  TUNACODE_DOCUMENTATION.md
  pre-commit-fixes-plan.md
  tests/TESTING_PHILOSOPHY.md
  tests/characterization/repl/test_repl_initialization.py
  todo/agent-response-aggressive-fixes.md
  todo/agent-response-fixes-summary.md
  todo/agent-response-improvements-complete.md
Due: dead-imports

fix: resolve pre-commit hook failures and test issues
  AGENT_FIX_SUMMARY.md
  AGENT_HANGING_ANALYSIS.md
  dead-code-analysis.md
  src/tunacode/core/agents/main.py
  src/tunacode/utils/message_utils.py
  tests/characterization/agent/test_process_request.py
Due: dead-imports, vulture-changed

test: add characterization tests for grep.py refactoring
  .pre-commit-config.yaml
  tests/characterization/test_characterization_grep.py
Due: dead-imports

test: add characterization tests for repl.py refactoring (partial)
  tests/characterization/test_characterization_repl.py
Due: dead-imports

test: add characterization tests for main.py refactoring
  tests/characterization/test_characterization_main.py
Due: dead-imports

chore: create rollback point before refactoring grep.py, repl.py, and main.py
  .claude/agents/prompt-engineer.md
  CLAUDE.md
  pre-commit-fixes-plan.md
  refactoring-prompt.md
  scripts/check-file-length.sh
  scripts/startup_timer.py
  src/tunacode/cli/commands/implementations/conversation.py
  src/tunacode/cli/commands/implementations/development.py
  src/tunacode/cli/commands/registry.py
  src/tunacode/cli/commands/template_shortcut.py
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/background/manager.py
  src/tunacode/core/logging/formatters.py
  src/tunacode/tools/grep.py
  src/tunacode/tools/todo.py
  src/tunacode/types.py
  src/tunacode/ui/decorators.py
  src/tunacode/ui/panels.py
  src/tunacode/ui/tool_ui.py
  src/tunacode/utils/bm25.py
  src/tunacode/utils/file_utils.py
  src/tunacode/utils/text_utils.py
  src/tunacode/utils/token_counter.py
  tests/characterization/test_characterization_commands.py
Due: dead-imports, vulture-changed

refactor: remove dead code from grep.py
  src/tunacode/tools/grep.py
  tests/characterization/test_characterization_main.py
  tests/characterization/test_characterization_repl.py
Due: dead-imports, vulture-changed

refactor: decompose grep.py into smaller modules
  src/tunacode/tools/grep.py
  src/tunacode/tools/grep_components/__init__.py
  src/tunacode/tools/grep_components/file_filter.py
  src/tunacode/tools/grep_components/pattern_matcher.py
  src/tunacode/tools/grep_components/result_formatter.py
  src/tunacode/tools/grep_components/search_result.py
  tests/characterization/test_characterization_grep.py
Due: dead-imports, vulture-changed

docs: update refactoring plan with completed Phase 3 and grep.py decomposition
  REFACTORING-PLAN.md
Due: none

refactor: decompose repl.py into smaller modules
  REFACTORING-PLAN.md
  src/tunacode/cli/repl.py
  src/tunacode/cli/repl_components/__init__.py
  src/tunacode/cli/repl_components/command_parser.py
  src/tunacode/cli/repl_components/error_recovery.py
  src/tunacode/cli/repl_components/output_display.py
  src/tunacode/cli/repl_components/tool_executor.py
  tests/characterization/test_characterization_repl.py
Due: dead-imports, vulture-changed

refactor: decompose main.py into agent_components modules
  REFACTORING-PLAN.md
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/json_tool_parser.py
  src/tunacode/core/agents/agent_components/message_handler.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/response_state.py
  src/tunacode/core/agents/agent_components/result_wrapper.py
  src/tunacode/core/agents/agent_components/task_completion.py
  src/tunacode/core/agents/agent_components/tool_buffer.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/main.py
  tests/characterization/agent/test_json_tool_parsing.py
  tests/characterization/test_characterization_main.py
Due: dead-imports, vulture-changed

docs: add clear instructions for fixing test imports after refactoring
  REFACTORING-PLAN.md
Due: none

docs: mark Phase 4 complete and add success summary
  REFACTORING-PLAN.md
Due: none

docs: add detailed test fix instructions with exact changes needed
  REFACTORING-PLAN.md
Due: none

fix: resolve critical agent errors after refactoring
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

feat: complete Phase 1 modern Python standards and fix critical import issues
  MODERN_PYTHON_STANDARDS_UPDATES.md
  refactoring_completion_plan.md
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/main.py
  src/tunacode/tools/todo.py
  tests/characterization/agent/test_agent_creation.py
  tests/characterization/agent/test_process_node.py
  tests/characterization/agent/test_process_request.py
  tests/characterization/agent/test_tool_message_patching.py
  tests/characterization/context/test_tunacode_logging.py
  tests/unit/test_constants_enums.py
Due: dead-imports, vulture-changed

checkpoint: create rollback point before fixing remaining 18 test failures
  src/tunacode/constants.py
  src/tunacode/core/agents/main.py
  src/tunacode/tools/todo.py
  tests/characterization/agent/test_agent_creation.py
  tests/characterization/agent/test_process_request.py
  tests/characterization/repl/test_repl_initialization.py
  tests/unit/test_constants_enums.py
Due: dead-imports, vulture-changed

docs: document Phase 1 completion and remaining test failures
  refactoring_completion_plan.md
  src/tunacode/core/agents/main.py
  tests/characterization/agent/test_json_tool_parsing.py
  tests/characterization/agent/test_process_node.py
  tests/characterization/agent/test_process_request.py
Due: dead-imports, vulture-changed

docs: mark Phase 2 Type Hints Enhancement as starting - rollback point
  refactoring_completion_plan.md
Due: none

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
