Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

docs: add retry and rate-limiting research document
  memory-bank/research/2025-11-17_15-00-59_todo-tool-architecture-map.md
  memory-bank/research/2025-11-17_15-06-17_retry-rate-limit-configuration.md
  pyproject.toml
  src/tunacode/cli/commands/implementations/__init__.py
  src/tunacode/cli/commands/implementations/todo.py
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/state.py
  src/tunacode/tools/prompts/todo_prompt.xml
  src/tunacode/tools/todo.py
  src/tunacode/types.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.1
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.2
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: remove non-existent TodoCommand import
  pyproject.toml
  src/tunacode/cli/commands/__init__.py
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: remove all TodoCommand references
  pyproject.toml
  src/tunacode/cli/commands/registry.py
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: remove emojis from parallel batch output and add research doc
  .claude/manifest.json
  .claude/patterns/agents.parallel_execution.json
  AGENTS.md
  memory-bank/research/2025-11-17_16-49-12_parallel-tool-calling-single-batch-issue.md
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/prompts/system.xml
  src/tunacode/tools/prompts/glob_prompt.xml
  src/tunacode/tools/prompts/grep_prompt.xml
  src/tunacode/tools/prompts/list_dir_prompt.xml
  src/tunacode/tools/prompts/read_file_prompt.xml
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.5
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: add green Rich panels for parallel batch tool execution
  memory-bank/research/2025-11-17_23-35-02_tool-output-formatting-inconsistency.md
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/main.py
  src/tunacode/prompts/system.xml
  src/tunacode/ui/console.py
  src/tunacode/ui/panels.py
  tests/unit/test_agents_main.py
Due: dead-imports, vulture-changed

feat: enhance system prompt with ReAct patterns and few-shot examples
  src/tunacode/prompts/system.xml
Due: none

feat: enhance UI styling with subtle blue accent for session cost
  memory-bank/research/2025-11-17_18-24-31_input-display-truncation.md
  src/tunacode/cli/repl.py
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: Smart commit on master
  .claude/debug_history/agent_components.streaming.json
  .claude/manifest.json
  AGENTS.md
  memory-bank/plan/plan-1.md
  memory-bank/research/2025-11-18_13-08-42_streaming-retry-state-corruption.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/streaming.py
  tests/test_agents_main.py
  tests/test_tool_buffer.py
Due: dead-imports, vulture-changed

feat: enhance HTTP retry logic and model configuration
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed

fix: reset node state after mid-stream failures to prevent crash
  .claude/debug_history/streaming.json
  .claude/manifest.json
  memory-bank/research/2025-11-18_14-00-45_http-retry-vs-streaming-state-corruption.md
  src/tunacode/core/agents/agent_components/streaming.py
Due: dead-imports, vulture-changed

Refactor: Improve agent configuration and update system prompts
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/prompts/system.xml
Due: dead-imports, vulture-changed

feat: enhance UI styling and agent codebase organization
  .claude/debug_history/core.agents.prompts.json
  .claude/manifest.json
  .claude/patterns/core.agents.main.json
  .claude/qa/core.agents.main.json
  memory-bank/research/2025-11-18_main-py-refactoring-logic-map.md
  plan.md
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/main_legact.py
  src/tunacode/core/agents/prompts.py
Due: dead-imports, vulture-changed

feat: enhance test coverage and update dependency versions
  .claude/debug_history/agent_components.streaming.json
  .claude/debug_history/core.agents.prompts.json
  .claude/debug_history/streaming.json
  .claude/manifest.json
  .claude/patterns/core.agents.main.json
  .claude/qa/core.agents.main.json
  .github/scripts/check_file_size.py
  memory-bank/research/2025-11-18_main-py-refactoring-logic-map.md
  pyproject.toml
  scripts/check-file-length.sh
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/prompts.py
  tests/test_agents_main.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.6 and update file length ignore
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

Rollback point: Before implementing multi-agent delegation pattern
  memory-bank/plan/2025-11-18_17-09-12_multi-agent-delegation-implementation.md
  memory-bank/research/2025-11-18_17-01-30_multi-agent-delegation-pydantic-ai.md
Due: none

feat: implement research agent factory with read-only tools
  src/tunacode/core/agents/research_agent.py
  src/tunacode/prompts/research/system.xml
Due: dead-imports, vulture-changed

docs: add execution log for first 3 tasks of delegation implementation
  memory-bank/execute/2025-11-18_17-15-00_multi-agent-delegation-implementation.md
Due: none

feat: implement delegation tool and integration tests (tasks 2.2-4.1)
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/delegation_tools.py
  tests/test_research_agent_delegation.py
Due: dead-imports, vulture-changed

docs: update execution log with tasks 2.2-4.1 details
  memory-bank/execute/2025-11-18_17-15-00_multi-agent-delegation-implementation.md
Due: none

fix: add tool rejection feedback handling to system prompt
  src/tunacode/prompts/system.xml
Due: none

feat: enhance research agent UI with distinctive purple panel (#122)
  .claude/debug_history/core.agents.main.json
  .claude/manifest.json
  .claude/patterns/ui.research_agent.json
  memory-bank/research/2025-11-18_agent-feedback-visibility-issue.md
  src/tunacode/configuration/settings.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/ui/console.py
  src/tunacode/ui/panels.py
Due: dead-imports, vulture-changed

feat: enforce hard limit of 3 files for research agent
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/prompts/research/system.xml
  tests/test_research_agent_delegation.py
Due: dead-imports, vulture-changed

feat: implement professional monochromatic cyan color scheme
  src/tunacode/cli/repl.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/research_agent.py
  src/tunacode/ui/config_dashboard.py
  src/tunacode/ui/prompt_manager.py
  tests/test_agent_helpers.py
  tests/test_research_agent_delegation.py
Due: dead-imports, vulture-changed

fix: prevent research agent crash when hitting 3-file limit
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/research_agent.py
Due: dead-imports, vulture-changed

fix: resolve line length linting error in test file
  tests/test_agent_helpers.py
Due: dead-imports

chore: bump version to 0.0.78.7
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: enhance research agent delegation with parallel execution support
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/prompts/system.xml
  tests/test_research_agent_delegation.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.8
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: rollback point before error handling hardening tasks 4-6
  documentation/changelog/CHANGELOG.md
  memory-bank/plan/2025-11-19_10-00-00_main_agent_error_handling_hardening.md
  memory-bank/research/2025-11-19_09-45-17_main_agent_error_handling_analysis.md
  memory-bank/research/2025-11-19_11-30-00_node_processor_refactoring_analysis.md
  src/tunacode/cli/main.py
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

feat: add comprehensive error boundary integration tests
  memory-bank/execute/2025-11-19_error_handling_hardening.md
  tests/test_error_boundaries.py
Due: dead-imports

docs: complete error handling hardening execution
  .claude/debug_history/error-handling.json
  .claude/manifest.json
  .claude/patterns/error-handling.json
  memory-bank/execute/2025-11-19_error_handling_hardening.md
  memory-bank/execute/2025-11-19_error_handling_hardening_REPORT.md
Due: none

feat: comprehensive error handling hardening across CLI and agent systems
  .claude/debug_history/agents.delegation.json
  .claude/debug_history/ui.panels.json
  .claude/debug_history/ui.research_agent.json
  .claude/manifest.json
  .claude/patterns/agents.delegation.json
  .claude/patterns/ui.concurrent_updates.json
  .claude/patterns/ui.research_agent_panel.json
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/main.py
  src/tunacode/ui/panels.py
Due: dead-imports, vulture-changed

feat: enhance research agent UI feedback and completion summary
  .claude/debug_history/agents.delegation.json
  .claude/debug_history/core.agents.main.json
  .claude/debug_history/error-handling.json
  .claude/debug_history/ui.panels.json
  .claude/debug_history/ui.research_agent.json
  .claude/debug_history/ui.research_feedback.json
  .claude/manifest.json
  .claude/patterns/agents.delegation.json
  .claude/patterns/error-handling.json
  .claude/patterns/ui.concurrent_updates.json
  .claude/patterns/ui.research_agent.json
  .claude/patterns/ui.research_agent_panel.json
  memory-bank/research/2025-11-19_09-45-17_main_agent_error_handling_analysis.md
  memory-bank/research/2025-11-19_11-30-00_node_processor_refactoring_analysis.md
  src/tunacode/cli/main.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/main.py
  src/tunacode/ui/prompt_manager.py
  tests/test_agent_helpers.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.9 and update changelog
  documentation/changelog/CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: enhance research agent system prompt with structured output requirements
  documentation/configuration/chutes-ai-setup.md
  src/tunacode/prompts/research/system.xml
  src/tunacode/prompts/system.xml
Due: none

chore: update research agent constraints and usage guidelines
  src/tunacode/prompts/system.xml
Due: none

chore: add research agent constraint to system prompt
  src/tunacode/prompts/system.xml
Due: none

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
