Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

fix: add sockets depend close #37 (#42)
  pyproject.toml
  uv.lock
Due: none

chore: use fixed version of ruff and pyright (#48)
  Makefile
Due: none

chore: add notice in readme
  README.md
Due: none

chore: bump version to 0.39 (#49)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: support ESC to interrupt agent run (#50)
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

fix: fix ssl cert verification error
  CHANGELOG.md
  src/kimi_cli/tools/file/grep.py
  src/kimi_cli/tools/web/fetch.py
  src/kimi_cli/tools/web/search.py
  src/kimi_cli/ui/shell/setup.py
  src/kimi_cli/ui/shell/update.py
  src/kimi_cli/utils/aiohttp.py
Due: dead-imports, vulture-changed

refactor: make pyright strict in `kimi_cli/soul`, `kimi_cli/utils` (#65)
  pyrightconfig.json
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/compaction.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/message.py
  src/kimi_cli/utils/provider.py
Due: dead-imports, vulture-changed

chore: update changelog
  CHANGELOG.md
Due: none

feat: add make help command (#34)
  Makefile
Due: none

docs: fix config directory path in AGENTS.md (#61)
  AGENTS.md
Due: none

fix: grammatical errors (#62)
  README.md
Due: none

fix: bash decode (#63)
  src/kimi_cli/tools/bash/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.40 (#66)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: remove unnecessary pydantic-ai import fallbacks
  src/tunacode/types.py
Due: dead-imports, vulture-changed

docs: update .claude kb with pydantic-ai defensive removal
  .claude/delta_summaries/behavior_changes.json
Due: none

chore: fix typos & add CI (#67)
  .github/workflows/typos.yml
  pyproject.toml
  src/kimi_cli/tools/file/glob.md
  src/kimi_cli/tools/task/task.md
  tests/test_default_agent.py
  tests/test_tool_descriptions.py
Due: dead-imports

ci: add pr-title-checker (#68)
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yml
Due: none

feat: add Windows support for directory listing (#72)
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/system.md
  tests/test_default_agent.py
  tests/test_task_subagents.py
Due: dead-imports, vulture-changed

chore: add dependabot config file
  .github/dependabot.yml
Due: none

ci: add GitHub Actions workflow for automatic translation (#74)
  .github/workflows/translator.yml
Due: none

refactor(compaction): move MAX_PRESERVED_MESSAGES constant into SimpleCompaction
  src/kimi_cli/soul/compaction.py
Due: dead-imports, vulture-changed

chore: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add development and contributing sections
  README.md
Due: none

chore: add badges to readme
  README.md
Due: none

refactor: make `PrintApp` not restricted to `KimiSoul`
  src/kimi_cli/__init__.py
  src/kimi_cli/soul/context.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

refactor: move cli entrypoint to cli.py
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/cli.py
Due: dead-imports, vulture-changed

refactor: log instead of printing in `kimi_run`
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/cli.py
Due: dead-imports, vulture-changed

fix: fix Reload import
  src/kimi_cli/ui/shell/setup.py
Due: dead-imports, vulture-changed

refactor(wire): split Wire to UISide and SoulSide, move run_soul to wire.py
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/approval.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/visualize.py
  src/kimi_cli/wire/__init__.py
  src/kimi_cli/wire/message.py
Due: dead-imports, vulture-changed

fix(glob): use f-string for no matches message (#54)
  .gitignore
  src/kimi_cli/tools/file/glob.py
Due: dead-imports, vulture-changed

fix(io): ensure UTF-8 encoding when reading text files (#51)
  src/kimi_cli/agent.py
  src/kimi_cli/prompts/__init__.py
  src/kimi_cli/tools/dmail/__init__.py
  src/kimi_cli/tools/file/grep.py
  src/kimi_cli/tools/file/patch.py
  src/kimi_cli/tools/file/replace.py
  src/kimi_cli/tools/file/write.py
  src/kimi_cli/tools/todo/__init__.py
  src/kimi_cli/tools/utils.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/update.py
  src/kimi_cli/utils/changelog.py
Due: dead-imports, vulture-changed

refactor: minor renaming
  src/kimi_cli/ui/acp/__init__.py
Due: dead-imports, vulture-changed

feat: disable reading command from stdin in shell mode
  src/kimi_cli/__init__.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

refactor: move `Reload` to `cli.py`
  src/kimi_cli/cli.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

refactor: move llm-related functions and avoid circular import
  src/kimi_cli/__init__.py
  src/kimi_cli/cli.py
  src/kimi_cli/constant.py
  src/kimi_cli/llm.py
  src/kimi_cli/tools/web/search.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/metacmd.py
  src/kimi_cli/ui/shell/update.py
  src/kimi_cli/utils/provider.py
Due: dead-imports, vulture-changed

refactor: move `RunCancelled` and `run_soul` to `kimi_cli.soul`
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/wire.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/wire/__init__.py
  src/kimi_cli/wire/message.py
Due: dead-imports, vulture-changed

refactor: move `AgentGlobals` into `kimi_cli.soul.globals`
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/soul/globals.py
  src/kimi_cli/ui/shell/metacmd.py
  tests/test_load_agent.py
  tests/test_load_agents_md.py
Due: dead-imports, vulture-changed

refactor: move `AgentSpec` things to `agentspec.py`
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agentspec.py
  src/kimi_cli/cli.py
  src/kimi_cli/tools/task/__init__.py
  tests/conftest.py
  tests/test_agent_spec.py
  tests/test_default_agent.py
  tests/test_load_agent.py
Due: dead-imports, vulture-changed

refactor(test): move some tests
  tests/test_agent_spec.py
  tests/test_load_agent.py
Due: dead-imports
