Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

chore: delete src/tunacode/lsp/ directory (tun-486f)
  .tickets/tun-22f7.md
  .tickets/tun-2cd6.md
  .tickets/tun-2d43.md
  .tickets/tun-3149.md
  .tickets/tun-486f.md
  .tickets/tun-c2f8.md
  .tickets/tun-d150.md
  src/tunacode/lsp/__init__.py
  src/tunacode/lsp/client.py
  src/tunacode/lsp/servers.py
Due: dead-imports, vulture-changed

chore: remove LSP status files and UI indicator (tun-d9c6, tun-0db4)
  .tickets/tun-486f.md
  .tickets/tun-d9c6.md
  src/tunacode/core/lsp_status.py
  src/tunacode/tools/lsp_status.py
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed

feat: create tools/lsp/ sub-package (tun-d150)
  .tickets/tun-0db4.md
  .tickets/tun-c2f8.md
  .tickets/tun-d150.md
  .tickets/tun-d9c6.md
  src/tunacode/tools/lsp/__init__.py
  src/tunacode/tools/lsp/client.py
  src/tunacode/tools/lsp/servers.py
Due: dead-imports, vulture-changed

feat: add LSP diagnostics to write_file and update_file (tun-2d43, tun-22f7)
  .tickets/tun-22f7.md
  .tickets/tun-2d43.md
  .tickets/tun-d150.md
  src/tunacode/tools/update_file.py
  src/tunacode/tools/write_file.py
Due: dead-imports, vulture-changed

feat: LSP complete - diagnostics in write_file and update_file
  .tickets/tun-22f7.md
  .tickets/tun-c2f8.md
  docs/architecture/DEPENDENCY_LAYERS.dot
  docs/architecture/DEPENDENCY_LAYERS.md
  scripts/grimp_layers_report.py
Due: dead-imports, vulture-changed

docs: add LSP diagnostics documentation
  docs/lsp-diagnostics.md
Due: none

docs: add frontmatter and file map to LSP diagnostics doc
  docs/lsp-diagnostics.md
Due: none

fix: remove LSP feedback collection from grimp_layers_report.py
  docs/architecture/DEPENDENCY_LAYERS.md
  scripts/grimp_layers_report.py
Due: dead-imports, vulture-changed

docs: regenerate dependency layers PNG from updated dot file
  docs/architecture/DEPENDENCY_LAYERS.png
Due: none

feat: grimp_layers_report.py now generates PNG automatically
  scripts/grimp_layers_report.py
Due: dead-imports, vulture-changed

fix: resolve mypy batches and update plan
  .tickets/tun-63c5.md
  .tickets/tun-7fd3.md
  .tickets/tun-b0c3.md
  .tickets/tun-c3c4.md
  .tickets/tun-c4ab.md
  PLAN.md
  src/tunacode/configuration/paths.py
  src/tunacode/configuration/settings.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/orchestrator/message_recorder.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/orchestrator/usage_tracker.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/state.py
  src/tunacode/core/types/state.py
  src/tunacode/tools/__init__.py
  src/tunacode/tools/bash.py
  src/tunacode/tools/glob.py
  src/tunacode/tools/grep.py
  src/tunacode/tools/grep_components/pattern_matcher.py
  src/tunacode/tools/ignore.py
  src/tunacode/tools/parsing/retry.py
  src/tunacode/tools/utils/ripgrep.py
  src/tunacode/ui/app.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/shell_runner.py
  src/tunacode/utils/system/gitignore.py
Due: dead-imports, vulture-changed

chore: add research notes
  memory-bank/research/2026-01-27_16-11-11_streaming_and_panels.md
  memory-bank/research/2026-01-27_17-45-00_chatcontainer_refactor.md
Due: none

feat(ui): add ChatContainer with insertion tracking for tool panels
  memory-bank/execute/2026-01-27_17-52-14_insert-before-stream-fix.md
  memory-bank/plan/reserch.md
  src/tunacode/ui/app.py
  src/tunacode/ui/welcome.py
  src/tunacode/ui/widgets/__init__.py
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed

docs: finalize execution log for insert-before-stream fix
  memory-bank/execute/2026-01-27_17-52-14_insert-before-stream-fix.md
Due: none

refactor(infra): make file_filter.py standalone with dependency injection
  src/tunacode/core/file_filter.py
  src/tunacode/infrastructure/file_filter.py
Due: dead-imports, vulture-changed

feat(ui): add LSP server status to ResourceBar
  docs/architecture/DEPENDENCY_LAYERS.dot
  docs/architecture/DEPENDENCY_LAYERS.md
  docs/architecture/DEPENDENCY_LAYERS.png
  src/tunacode/core/lsp_status.py
  src/tunacode/ui/app.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed

docs: regenerate dependency layers after file_filter refactor
  docs/architecture/DEPENDENCY_LAYERS.dot
  docs/architecture/DEPENDENCY_LAYERS.md
  docs/architecture/DEPENDENCY_LAYERS.png
Due: none

chore: add tickets, research docs, and minor fixes
  .tickets/tun-4d1e.md
  .tickets/tun-9d06.md
  .tickets/tun-a101.md
  hello.py
  memory-bank/execute/2026-01-27_18-00-00_insert-before-stream-fix.md
  memory-bank/research/2026-01-28_00-25-00_api-error-logging-gaps.md
  problem_statement_model_api_error_logging.md
  src/tunacode/infrastructure/file_filter.py
  tests/architecture/test_import_order.py
Due: dead-imports, vulture-changed

chore: remove broken hello.py test file
  hello.py
Due: dead-imports, vulture-changed

fix: remove unused FuzzySearch import
  src/tunacode/infrastructure/file_filter.py
Due: dead-imports, vulture-changed

Fix fuzzy matching in file filter
  docs/codebase-map/modules/core-file-filter.md
  src/tunacode/infrastructure/file_filter.py
Due: dead-imports, vulture-changed

Automated commit by pi agent
  .tickets/tun-31ec.md
  .tickets/tun-32f0.md
  .tickets/tun-33a8.md
  .tickets/tun-544b.md
  .tickets/tun-5ec8.md
  .tickets/tun-81da.md
  .tickets/tun-90a9.md
  .tickets/tun-aee9.md
  .tickets/tun-d98c.md
  .tickets/tun-ddb2.md
  .tickets/tun-ea6b.md
  .tickets/tun-ef47.md
  CHANGELOG.md
  README.md
  docs/codebase-map/modules/tools-overview.md
  docs/media/plan-approval.png
  memory-bank/plan/2026-01-27_17-41-42_insert-before-stream-fix.md
  memory-bank/plan/2026-01-27_chat-container-refactor.md
  memory-bank/research/2026-01-27_17-28-01_lsp-panel-integration.md
  memory-bank/research/2026-01-27_insert-before-stream-investigation.md
  memory-bank/research/2026-01-28_01-15-00_file-autocomplete-fuzzy-matching.md
  memory-bank/research/2026-01-28_recent-changes-summary.md
  src/tunacode/configuration/models_registry.json
Due: none

chore: bump version to 0.1.47
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed

chore: bump version to 0.1.48 and update UI
  docs/ui/agent_response_panel.md
  pyproject.toml
  src/tunacode/constants.py
  src/tunacode/ui/renderers/agent_response.py
  tests/unit/ui/test_agent_response.py
  uv.lock
Due: dead-imports, vulture-changed

refactor: remove tools utils dependency
  .tickets/tun-ba75.md
  docs/architecture/DEPENDENCY_LAYERS.dot
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/agents/resume/sanitize_debug.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/core/messaging.py
  src/tunacode/core/state.py
  src/tunacode/tools/lsp/__init__.py
  src/tunacode/tools/messaging/__init__.py
  src/tunacode/tools/utils/formatting.py
Due: dead-imports, vulture-changed

fix: preserve partial response on user abort (#323)
  .pre-commit-config.yaml
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

chore: close completed tickets and update dependency layers
  .tickets/tun-4d1e.md
  .tickets/tun-5a52.md
  .tickets/tun-81da.md
  .tickets/tun-90a9.md
  .tickets/tun-9d06.md
  .tickets/tun-aee9.md
  .tickets/tun-be14.md
  .tickets/tun-c2f8.md
  .tickets/tun-c36f.md
  .tickets/tun-ef47.md
  docs/architecture/DEPENDENCY_LAYERS.md
  docs/architecture/DEPENDENCY_LAYERS.png
  docs/architecture/layers_html.html
  memory-bank/research/2026-01-27_alchemy-rs-migration.md
  memory-bank/research/2026-01-27_streaming-abort-context-loss.md
Due: none

docs: sync tools utils references
  docs/architecture/layers_html.html
  docs/codebase-map/modules/tools-overview.md
  docs/codebase-map/modules/utils.md
Due: none

refactor: remove tools -> types dependency (ToolArgs alias)
  docs/architecture/DEPENDENCY_LAYERS.dot
  docs/architecture/DEPENDENCY_LAYERS.md
  docs/architecture/DEPENDENCY_LAYERS.png
  src/tunacode/tools/parsing/command_parser.py
Due: dead-imports, vulture-changed

[Branch: tools-dep-cleanup] Changes Summary
  .tickets/tun-0535.md
  AGENTS.md
  CLAUDE.md
  docs/architecture/DEPENDENCY_LAYERS.png
  docs/architecture/NEW_layers.html
  docs/architecture/dependencies/DEPENDENCY_LAYERS.dot
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  docs/architecture/dependencies/DEPENDENCY_LAYERS.png
  docs/architecture/dependencies/layer_dependency_tests.md
  docs/codebase-map/modules/utils-limits.md
  docs/configuration/README.md
  memory-bank/research/2026-01-28_11-33-05_utils-cross-layer-imports.md
  memory-bank/research/2026-01-28_11-38-38_tools-cross-layer-imports.md
  scripts/grimp_layers_report.py
  src/tunacode/tools/bash.py
  src/tunacode/tools/parsing/command_parser.py
  src/tunacode/tools/read_file.py
Due: dead-imports, vulture-changed

Refresh dependency layers report after gate run
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
Due: none

chore: remove unused limits and doc refs (tun-795f, tun-2667, tun-8bb7)
  .tickets/tun-2667.md
  .tickets/tun-795f.md
  .tickets/tun-8bb7.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/constants.md
  docs/codebase-map/modules/utils-limits.md
  docs/codebase-map/structure/03-tools-directory.md
  docs/codebase-map/structure/06-supporting-modules.md
  docs/codebase-map/structure/ANALYSIS_SUMMARY.md
  docs/codebase-map/structure/README.md
  docs/configuration/README.md
  docs/configuration/tunacode.json.example
  src/tunacode/configuration/limits.py
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.49
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed

chore: update app.py
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed

fix: disable streaming in TUI
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed

nukink streaming to clean up codebase
  docs/architecture/dependencies/DEPENDENCY_LAYERS.md
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/chat.py
Due: dead-imports, vulture-changed

docs: update UI overview to reflect removal of streaming and addition of ChatContainer
  docs/codebase-map/modules/ui-overview.md
Due: none

refactor: decouple tools from pydantic-ai exception
  memory-bank/delta/2026-01-28_decoupled-tools.md
  memory-bank/plan/2026-01-28_pydantic-ai-adapter-layer.md
  src/tunacode/exceptions.py
  src/tunacode/tools/bash.py
  src/tunacode/tools/decorators.py
  src/tunacode/tools/glob.py
  src/tunacode/tools/grep.py
  src/tunacode/tools/list_dir.py
  src/tunacode/tools/update_file.py
  src/tunacode/tools/web_fetch.py
  src/tunacode/tools/write_file.py
Due: dead-imports, vulture-changed

test: update web_fetch tests to expect ToolRetryError
  tests/integration/tools/test_web_fetch.py
Due: dead-imports

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
