Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

refactor: make tool config type safe
  src/kimi_cli/agent.py
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/config.py
  src/kimi_cli/tools/web/__init__.py
  src/kimi_cli/tools/web/search.py
Due: dead-imports, vulture-changed

fix: fix unit tests
  tests/conftest.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports

test: add config test
  src/kimi_cli/config.py
  tests/test_config.py
Due: dead-imports, vulture-changed

feat: allow configuring moonshot search base url
  src/kimi_cli/config.py
  src/kimi_cli/tools/web/search.py
  tests/test_config.py
Due: dead-imports, vulture-changed

feat: introduce `ToolResultBuilder` for unified output truncation
  src/kimi_cli/tools/file/read.py
  src/kimi_cli/tools/result_builder.py
  src/kimi_cli/tools/utils.py
  tests/test_result_builder.py
Due: dead-imports, vulture-changed

refactor: use `ToolResultBuilder` in Bash and SearchWeb tool
  src/kimi_cli/tools/bash/__init__.py
  src/kimi_cli/tools/result_builder.py
  src/kimi_cli/tools/web/search.py
  tests/test_bash.py
  tests/test_result_builder.py
Due: dead-imports, vulture-changed

refactor: use `ToolResultBuilder` in FetchURL tool
  src/kimi_cli/tools/web/fetch.py
Due: dead-imports, vulture-changed

feat: maybe better Task tool prompt
  src/kimi_cli/agents/explorer/agent.yaml
  src/kimi_cli/agents/explorer/system.md
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/task/task.md
Due: dead-imports, vulture-changed

feat: minor updates to SendDMail, PatchFile and StrReplaceFile tools
  src/kimi_cli/tools/dmail/dmail.md
  src/kimi_cli/tools/file/patch.md
  src/kimi_cli/tools/file/replace.md
  tests/test_tool_descriptions.py
Due: dead-imports

test: add desc and schema test for Task tool
  tests/conftest.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports

fix: fix subagent loading
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/task/__init__.py
Due: dead-imports, vulture-changed

feat: add Think tool
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/__init__.py
  src/kimi_cli/tools/think/__init__.py
  src/kimi_cli/tools/think/think.md
  tests/conftest.py
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports, vulture-changed

feat: improve `--output-format` option
  src/kimi_cli/__init__.py
Due: dead-imports, vulture-changed

chore: update changelog
  CHANGELOG.md
Due: none

feat: better Task tool
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/tools/task/task.md
Due: dead-imports, vulture-changed

test: fix task tool desc and schema test
  tests/test_tool_descriptions.py
  tests/test_tool_schemas.py
Due: dead-imports

chore: fix pyinstaller packing
  kimi.spec
  src/kimi_cli/utils/pyinstaller.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

chore: bump version to 0.21
  CHANGELOG.md
  pyproject.toml
Due: none

feat: improve search result format
  src/kimi_cli/tools/web/search.py
Due: dead-imports, vulture-changed

fix: fix typing
  src/kimi_cli/agent.py
Due: dead-imports, vulture-changed

fix: fix web search and fetch tool call display
  src/kimi_cli/tools/__init__.py
Due: dead-imports, vulture-changed

test: fix pyinstaller util test
  tests/test_pyinstaller_utils.py
Due: dead-imports

chore: bump version to 0.22
  CHANGELOG.md
  pyproject.toml
Due: none

feat: support agent file extending
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/sub.yaml
Due: dead-imports, vulture-changed

feat: define subagents in agent file
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/agent.yaml
  src/kimi_cli/agents/koder/sub.yaml
  src/kimi_cli/tools/task/__init__.py
Due: dead-imports, vulture-changed

test: add tests for loading agent and subagent
  tests/conftest.py
  tests/test_load_agent.py
  tests/test_task_subagents.py
Due: dead-imports

chore: bump version to 0.23
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: simplify config models
  src/kimi_cli/config.py
Due: dead-imports, vulture-changed

chore: bump deps
  pyproject.toml
  src/kimi_cli/ui/acp/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.24
  CHANGELOG.md
  pyproject.toml
Due: none

feat: surface tool rejection guidance without abort noise
  .claude/debug_history/debug_sessions.json
  .claude/delta_summaries/api_change_logs.json
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/docs_model_friendly/component_relationships.md
  .claude/memory_anchors/anchors.json
  .claude/metadata/file_classifications.json
  .claude/qa/context_logs/latest_session.txt
  .claude/qa/context_logs/tool-rejection-feedback-20251010-000001/summary.md
  .claude/qa/reasoning_docs/tool-rejection-feedback-20251010-000001.md
  .claude/semantic_index/function_call_graphs.json
  .claude/semantic_index/intent_mappings.json
  .claude/semantic_index/type_relationships.json
  src/tunacode/cli/repl.py
  src/tunacode/core/tool_handler.py
  src/tunacode/types.py
  src/tunacode/ui/tool_ui.py
  tests/characterization/repl/test_error_handling.py
  tests/characterization/ui/test_tool_confirmations.py
  tests/test_plan_mode.py
Due: dead-imports, vulture-changed

fix: ensure aborted tools stop execution
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/tool_handler.py
  tests/test_plan_mode.py
Due: dead-imports, vulture-changed

chore:bump
  .claude/delta_summaries/api_change_logs.json
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/memory_anchors/anchors.json
  documentation/changelog/CHANGELOG.md
  documentation/development/publishing-workflow.md
  memory-bank/research/2025-10-10_11-44-51_userabort_error_analysis.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

refactor: further decouple App and Soul
  src/kimi_cli/event.py
  src/kimi_cli/soul.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

refactor: remove unnecessary `BaseApp`
  src/kimi_cli/__init__.py
  src/kimi_cli/ui/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed

refactor: split `Soul` protocol and `KimiSoul` implementation
  src/kimi_cli/__init__.py
  src/kimi_cli/soul.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/print/__init__.py
Due: dead-imports, vulture-changed

refactor: move `Soul` related things to `soul` module
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/constant.py
  src/kimi_cli/soul/__init__.py
  src/kimi_cli/soul/context.py
  src/kimi_cli/soul/denwarenji.py
  src/kimi_cli/soul/event.py
  src/kimi_cli/soul/kimisoul.py
  src/kimi_cli/soul/message.py
  src/kimi_cli/tools/dmail/__init__.py
  src/kimi_cli/tools/task/__init__.py
  src/kimi_cli/ui/acp/__init__.py
  src/kimi_cli/ui/print/__init__.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/utils/message.py
  tests/conftest.py
  tests/test_dmail.py
  tests/test_load_agent.py
  tests/test_message_utils.py
  tests/test_soul_message.py
Due: dead-imports, vulture-changed

refactor: rename ensoul to kimi-cli
  README.md
  pyproject.toml
  src/kimi_cli/__init__.py
  src/kimi_cli/agent.py
  src/kimi_cli/agents/koder/system.md
  src/kimi_cli/tools/file/glob.py
  src/kimi_cli/tools/file/patch.py
  src/kimi_cli/tools/file/read.py
  src/kimi_cli/tools/file/replace.py
  src/kimi_cli/tools/file/write.py
  tests/conftest.py
  tests/test_load_agent.py
  tests/test_pyinstaller_utils.py
Due: dead-imports, vulture-changed

refactor: make `welcome_info` optional
  src/kimi_cli/ui/shell/__init__.py
Due: dead-imports, vulture-changed
