Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

fix: /update command crashes when update is available
  src/tunacode/ui/commands/__init__.py
Due: dead-imports, vulture-changed

feat: enhance debug mode with actionable logs and colors (#263)
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/orchestrator/usage_tracker.py
  src/tunacode/core/agents/agent_components/state_transition.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/logging/handlers.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  uv.lock
Due: dead-imports, vulture-changed

chore: bump version to 0.1.41
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: resolve session resume hangs after user abort
  .claude/debug_history/2026-01-21_abort-hang-investigation.md
  .claude/debug_history/2026-01-21_stream-hang-timeout.md
  memory-bank/research/2026-01-21_13-05-53_stream-hang-abort-root-cause.md
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/unit/core/test_agent_cache_abort.py
Due: dead-imports, vulture-changed

docs: journal entry for abort recovery modularization
  .claude/JOURNAL.md
  .claude/qa/raw.md
  memory-bank/research/2026-01-21_13-48-19_abort-recovery-modularization.md
  uv.lock
Due: none

feat: extract session resume logic into dedicated resume/ module (#272)
  .claude/JOURNAL.md
  .claude/debug_history/2026-01-21_resume-hang-investigation-updated.md
  .claude/debug_history/2026-01-21_resume-hang-investigation.md
  memory-bank/execute/2026-01-21_16-30-00_resume-module-refactor.md
  memory-bank/plan/2026-01-21_16-15-00_resume-module-refactor.md
  memory-bank/research/2026-01-21_15-27-57_session-resume-logic.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/__init__.py
  src/tunacode/core/agents/resume/filter.py
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/agents/resume/summary.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/unit/core/test_compaction.py
Due: dead-imports, vulture-changed

style: fix line length in test_agent_cache_abort.py
  tests/unit/core/test_agent_cache_abort.py
Due: dead-imports

chore: bump version to 0.1.42
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

refactor: remove streaming watchdog and silent fallback
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.43
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

chore: add Dependabot configuration for uv-based Python project (#277)
  .github/dependabot.yml
Due: none

fix: enable strict mypy for core/agents (25 → 0 errors) (#278)
  pyproject.toml
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/message_handler.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/response_state.py
  src/tunacode/core/agents/agent_components/state_transition.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/agent_components/tool_buffer.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/research_agent.py
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/types/callbacks.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_retry.py
  uv.lock
Due: dead-imports, vulture-changed

chore: exclude agents dir from mypy pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: preserve conversation messages in /clear command (#275)
  .claude/debug_history/2026-01-21_resume-hang-investigation-updated.md
  README.md
  docs/codebase-map/modules/ui-overview.md
  memory-bank/delta/2026-01-22_clear-command-preserve-messages.md
  memory-bank/research/2026-01-21_23-03-44_streaming-watchdog-removal.md
  memory-bank/research/2026-01-21_23-21-48_unprocessed-tool-calls-issue-map.md
  memory-bank/research/2026-01-22_21-50-08_clear-command-behavior-analysis.md
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/__init__.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/agents/resume/sanitize_debug.py
  src/tunacode/core/state.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/welcome.py
Due: dead-imports, vulture-changed

feat: add naming conventions and pre-commit enforcement
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  scripts/check-naming-conventions.py
Due: dead-imports, vulture-changed

fix: use dataclasses.replace() for frozen pydantic messages in cleanup (#279)
  src/tunacode/core/agents/resume/sanitize.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.44
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed

Claude/cleanup codebase ks qrh (#280)
  .claude/debug_history/context-loss-bug.md
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/utils/ui/helpers.py
Due: dead-imports, vulture-changed

docs: add research documents and update mypy exclusions
  .pre-commit-config.yaml
  memory-bank/research/2026-01-19_submit-tool-permission-issue.md
  memory-bank/research/2026-01-23_clear-command-fix-verification.md
  memory-bank/research/2026-01-23_type-errors-mapping.md
Due: none

fix: don't persist agent_run messages on abort to prevent dangling tool calls
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

fix: don't persist agent_run messages on abort to prevent dangling tool calls (#283)
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

docs: update CHANGELOG with this week's releases (0.1.36-0.1.43) (#281)
  CHANGELOG.md
Due: none

chore: bump version to 0.1.45
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

chore: stop writing provider base_url during setup (#289)
  .claude/JOURNAL.md
  .claude/delta/remove-all-exports-use-direct-imports.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/ui-overview.md
  docs/codebase-map/state/state.md
  memory-bank/plan/2026-01-24_12-15-00_tokens-per-second-display.md
  memory-bank/research/2026-01-24_11-47-37_tokens-per-second-display.md
  memory-bank/research/2026-01-24_15-32-00_first-run-config-broken.md
  memory-bank/research/2026-01-24_15-32-00_task.md
  memory-bank/research/2026-01-24_16-00-00_model-change-url-not-updating.md
  scripts/utils/vulture_whitelist.py
  src/tunacode/configuration/defaults.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/__init__.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/state.py
  src/tunacode/types/__init__.py
  src/tunacode/types/dataclasses.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/main.py
  src/tunacode/ui/screens/setup.py
  src/tunacode/ui/styles/modals.tcss
  src/tunacode/utils/config/__init__.py
  src/tunacode/utils/config/user_configuration.py
  uv.lock
Due: dead-imports, vulture-changed

docs: update codebase-map for PR #289 changes
  docs/codebase-map/modules/ui-overview.md
  docs/codebase-map/state/state.md
  docs/codebase-map/structure/04-configuration-directory.md
Due: none

chore: bump version to 0.1.46
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

add rolling summary and manual compaction
  src/tunacode/configuration/defaults.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/__init__.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/core/limits.py
  src/tunacode/core/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/screens/__init__.py
  src/tunacode/ui/screens/summary_viewer.py
  tests/unit/core/test_rolling_summary.py
Due: dead-imports, vulture-changed

feat: show tokens/second in agent panel status bar (#284)
  src/tunacode/ui/renderers/agent_response.py
Due: dead-imports, vulture-changed

chore: remove dead code and duplicate config defaults (#292)
  docs/codebase-map/modules/types.md
  docs/codebase-map/structure/04-configuration-directory.md
  docs/configuration/README.md
  docs/configuration/tunacode.json.example
  docs/configuration/tunacode.local.json.example
  memory-bank/research/2026-01-24_config-boundary-mapping.md
  scripts/check-file-length.sh
  scripts/install_linux.sh
  scripts/utils/vulture_whitelist.py
  src/tunacode/configuration/defaults.py
  src/tunacode/constants.py
  src/tunacode/core/state.py
  src/tunacode/tools/decorators.py
  src/tunacode/tools/grep.py
  src/tunacode/types/__init__.py
  src/tunacode/types/base.py
  src/tunacode/utils/system/__init__.py
  src/tunacode/utils/system/paths.py
  uv.lock
Due: dead-imports, vulture-changed

docs: Add architecture refactoring plan and canonical types foundation (#293)
  docs/refactoring/architecture-refactor-plan.md
  docs/refactoring/dependency-diagram.md
  docs/refactoring/message-flow-map.md
  src/tunacode/types/__init__.py
  src/tunacode/types/canonical.py
  src/tunacode/utils/messaging/__init__.py
  src/tunacode/utils/messaging/adapter.py
  tests/unit/types/test_adapter.py
  tests/unit/types/test_canonical.py
Due: dead-imports, vulture-changed

address coderabbit issues
  docs/codebase-map/modules/configuration.md
  docs/codebase-map/modules/ui-overview.md
  src/tunacode/constants.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/core/limits.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/commands/base.py
  src/tunacode/ui/commands/compact.py
  uv.lock
Due: dead-imports, vulture-changed

feat: complete Task 01 canonical messaging adoption
  .claude/JOURNAL.md
  .claude/delta/2026-01-25_orphaned_retry_prompt_on_dangling_cleanup.md
  .claude/task/task_01_canonical_messaging_adoption.md
  .claude/task/task_02_session_state_decomposition.md
  .claude/task/task_03_message_parity_harness.md
  .claude/task/task_04_canonical_sanitization.md
  .claude/task/task_05_tool_call_registry_ownership.md
  .claude/task/task_06_react_state_alignment.md
  .claude/task/task_07_todo_state_alignment.md
  .claude/task/task_08_usage_metrics_consolidation.md
  .claude/task/task_09_architecture_enforcement_tests.md
  .claude/task/task_10_legacy_path_decommission.md
  .coderabbit.yaml
  CLAUDE.md
  PLAN.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/core-sanitize.md
  memory-bank/research/2026-01-25_architecture-refactor-status.md
  memory-bank/research/2026-01-25_limited-read-file-parameter-mismatch.md
  memory-bank/research/2026-01-25_task-01-canonical-messaging-adoption.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/research_agent.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/agents/resume/sanitize_debug.py
  src/tunacode/core/state.py
  src/tunacode/types/__init__.py
  src/tunacode/ui/app.py
  src/tunacode/ui/headless/output.py
  src/tunacode/utils/messaging/__init__.py
  src/tunacode/utils/messaging/adapter.py
  tests/integration/core/test_tool_call_lifecycle.py
Due: dead-imports, vulture-changed

Task 02: SessionState decomposition (#297)
  .claude/task/task_02_session_state_decomposition.md
  .claude/task/task_04_canonical_sanitization.md
  docs/codebase-map/architecture/compaction-ontology.md
  docs/codebase-map/architecture/conversation-turns.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-compaction.md
  docs/codebase-map/modules/core-state.md
  docs/codebase-map/modules/types.md
  docs/codebase-map/state/state.md
  docs/refactoring/architecture-refactor-plan.md
  docs/refactoring/dependency-diagram.md
  docs/refactoring/message-flow-map.md
  src/tunacode/core/agents/agent_components/orchestrator/message_recorder.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/orchestrator/usage_tracker.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/logging/records.py
  src/tunacode/core/state.py
  src/tunacode/tools/authorization/notifier.py
  src/tunacode/types/__init__.py
  src/tunacode/types/canonical.py
  src/tunacode/types/state.py
  src/tunacode/types/state_structures.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/main.py
  src/tunacode/utils/config/user_configuration.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/unit/core/test_usage_tracker.py
Due: dead-imports, vulture-changed

feat: add message parity harness and canonical sanitization (#298)
  docs/codebase-map/modules/core-sanitize.md
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/types/__init__.py
  src/tunacode/types/canonical.py
  src/tunacode/utils/messaging/adapter.py
  tests/parity/test_message_parity.py
  tests/unit/types/test_adapter.py
  tests/unit/types/test_canonical.py
Due: dead-imports, vulture-changed

fix: reduce custom_checks to 5 for CodeRabbit schema limit
  .coderabbit.yaml
Due: none

feat: add tool registry and typed todos (#299)
  .claude/delta/2026-01-25_tool-registry-todo-alignment.md
  docs/codebase-map/architecture/conversation-turns.md
  docs/codebase-map/modules/core-sanitize.md
  docs/codebase-map/modules/core-state.md
  docs/codebase-map/modules/types.md
  docs/codebase-map/state/state.md
  docs/refactoring/architecture-refactor-plan.md
  docs/refactoring/dependency-diagram.md
  docs/refactoring/message-flow-map.md
  src/tunacode/core/agents/agent_components/agent_helpers.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/state.py
  src/tunacode/tools/todo.py
  src/tunacode/types/__init__.py
  src/tunacode/types/canonical.py
  src/tunacode/types/state.py
  src/tunacode/types/state_structures.py
  src/tunacode/types/tool_registry.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/main.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/integration/tools/test_tool_retry.py
  tests/unit/types/test_tool_registry.py
Due: dead-imports, vulture-changed

feat(types): migrate ReAct/Usage state to typed dataclasses (#300)
  memory-bank/execute/2026-01-25_18-00-00_task-06-08-react-usage-alignment.md
  memory-bank/plan/2026-01-25_17-46-24_task-06-08-react-usage-alignment.md
  memory-bank/research/2026-01-25_17-43-52_task-06-08-react-usage-alignment.md
  src/tunacode/core/agents/agent_components/orchestrator/usage_tracker.py
  src/tunacode/core/state.py
  src/tunacode/tools/react.py
  src/tunacode/types/canonical.py
  src/tunacode/types/state.py
  src/tunacode/types/state_structures.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/main.py
  tests/unit/core/test_usage_tracker.py
  tests/unit/types/test_canonical.py
Due: dead-imports, vulture-changed
