Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

feat: fix UI dependency direction violations (#305)
  .tickets/t-06af.md
  .tickets/t-6162.md
  .tickets/t-69f0.md
  .tickets/t-6f0e.md
  .tickets/t-7e92.md
  .tickets/t-9fa8.md
  .tickets/t-e5bf.md
  .tickets/t-ea8a.md
  .tickets/tun-41f6.md
  .tickets/tun-7099.md
  .tickets/tun-7395.md
  .tickets/tun-dcb8.md
  AGENTS.md
  CLAUDE.md
  deps.dot
  docs/architecture/DEPENDENCY_MAP.md
  docs/architecture/layers.dot
  docs/architecture/layers.png
  docs/codebase-map/modules/utils.md
  memory-bank/execute/2026-01-26_11-00-00_tickets.md
  memory-bank/execute/2026-01-26_11-51-44_tickets.md
  memory-bank/execute/2026-01-26_12-04-27_tickets.md
  memory-bank/plan/2026-01-26_10-53-47_ui-dependency-violations.md
  memory-bank/research/2026-01-26_01-19-21_evict-indexing-from-ui-layer.md
  memory-bank/research/2026-01-26_ui-dependency-violations.md
  src/tunacode/core/indexing_service.py
  src/tunacode/core/state.py
  src/tunacode/indexing/constants.py
  src/tunacode/lsp/__init__.py
  src/tunacode/tools/authorization/handler.py
  src/tunacode/tools/list_dir.py
  src/tunacode/types/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/main.py
  src/tunacode/ui/renderers/tools/diagnostics.py
  src/tunacode/ui/renderers/tools/list_dir.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/startup.py
  src/tunacode/utils/formatting.py
  tests/system/cli/test_startup.py
Due: dead-imports, vulture-changed

feat: add grimp-based dependency layer enforcement (#305)
  .gitignore
  deps.dot
  docs/architecture/DEPENDENCY_MAP.md
  docs/architecture/dependency/dependency_map.md
  docs/refactoring/dependency-diagram.md
  pyproject.toml
  scripts/generate-dependency-map.py
  tests/test_dependency_layers.py
  uv.lock
Due: dead-imports, vulture-changed

fix: eliminate UI→LSP dependency violation via core facade
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/core-lsp-status.md
  docs/codebase-map/modules/tools-overview.md
  src/tunacode/core/lsp_status.py
  src/tunacode/tools/lsp_status.py
  src/tunacode/ui/widgets/resource_bar.py
  tests/test_dependency_layers.py
Due: dead-imports, vulture-changed

fix: tighten UI layer rules - track all ui→core violations
  tests/test_dependency_layers.py
Due: dead-imports

refactor: remove todo system from runtime
  .tickets/tun-4ee0.md
  .tickets/tun-9b76.md
  .tickets/tun-c259.md
  .tickets/tun-e22f.md
  .tickets/tun-fc71.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/state.py
  src/tunacode/tools/prompts/todoclear_prompt.xml
  src/tunacode/tools/prompts/todoread_prompt.xml
  src/tunacode/tools/prompts/todowrite_prompt.xml
  src/tunacode/tools/todo.py
  src/tunacode/types/__init__.py
  src/tunacode/types/canonical.py
  src/tunacode/types/state.py
  src/tunacode/types/state_structures.py
  src/tunacode/ui/commands/__init__.py
  tests/unit/core/test_todo_tools.py
  tests/unit/types/test_canonical.py
Due: dead-imports, vulture-changed

chore: close todo removal tickets
  .tickets/tun-4ee0.md
  .tickets/tun-9b76.md
  .tickets/tun-c259.md
  .tickets/tun-e22f.md
  .tickets/tun-fc71.md
Due: none

feat: remove planning feature
  .tickets/tun-0de7.md
  .tickets/tun-216b.md
  .tickets/tun-2ef4.md
  .tickets/tun-4014.md
  .tickets/tun-6d0a.md
  docs/codebase-map/modules/types.md
  docs/codebase-map/modules/ui-overview.md
  docs/codebase-map/structure/02-core-directory.md
  docs/codebase-map/structure/tree-structure.txt
  memory-bank/plan/2026-01-26_14-30-00_planning-feature-deletion.md
  memory-bank/research/2026-01-26_planning-feature-deletion.md
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/state.py
  src/tunacode/tools/authorization/context.py
  src/tunacode/tools/authorization/factory.py
  src/tunacode/tools/authorization/rules.py
  src/tunacode/tools/present_plan.py
  src/tunacode/tools/prompts/present_plan_prompt.xml
  src/tunacode/types/__init__.py
  src/tunacode/types/callbacks.py
  src/tunacode/types/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/plan_approval.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/welcome.py
  tests/unit/core/test_present_plan.py
Due: dead-imports, vulture-changed

feat: complete removal of local_mode feature and associated constants/logic
  .tickets/tun-18bc.md
  .tickets/tun-4086.md
  .tickets/tun-6a86.md
  .tickets/tun-8468.md
  .tickets/tun-9fa2.md
  .tickets/tun-cf18.md
  docs/codebase-map/architecture/architecture.md
  docs/codebase-map/architecture/compaction-ontology.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/core-agents.md
  docs/codebase-map/modules/core-compaction.md
  docs/codebase-map/modules/utils-limits.md
  docs/configuration/README.md
  docs/configuration/tunacode.json.example
  docs/configuration/tunacode.local.json.example
  memory-bank/research/2026-01-26_17-34-12_permission-system-removal-map.md
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/resume/prune.py
  src/tunacode/core/agents/resume/summary.py
  src/tunacode/utils/limits.py
  tests/unit/utils/test_limits.py
Due: dead-imports, vulture-changed

Remove /branch command from UI and docs
  .tickets/tun-6a86.md
  README.md
  docs/codebase-map/modules/ui-overview.md
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/welcome.py
Due: dead-imports, vulture-changed

docs: update tools and UI overviews for permission system removal
  README.md
  docs/codebase-map/modules/tools-overview.md
  docs/codebase-map/modules/ui-overview.md
Due: none

chore: close completed tickets
  .tickets/psr-3149.md
  .tickets/psr-53c0.md
  .tickets/psr-b89d.md
  .tickets/psr-ba9c.md
  .tickets/psr-e147.md
  .tickets/psr-e90f.md
  memory-bank/research/2026-01-26_18-26-16_yolo-system-removal-verification.md
Due: none

fix: resolve core types layering and refresh dependency maps
  .tickets/tun-3cde.md
  .tickets/tun-3f92.md
  .tickets/tun-48fe.md
  .tickets/tun-979a.md
  .tickets/tun-f096.md
  docs/architecture/DEPENDENCY_MAP.md
  layers.dot
  layers.png
  memory-bank/plan/2026-01-27_00-19-58_issue-311-core-types-layer.md
  memory-bank/research/2026-01-27_00-10-38_issue-311-core-types-layer-violation.md
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/orchestrator/orchestrator.py
  src/tunacode/core/agents/agent_components/orchestrator/tool_dispatcher.py
  src/tunacode/core/agents/agent_components/response_state.py
  src/tunacode/core/agents/agent_components/state_transition.py
  src/tunacode/core/agents/main.py
  src/tunacode/core/agents/resume/sanitize.py
  src/tunacode/core/logging/manager.py
  src/tunacode/core/shared_types.py
  src/tunacode/core/state.py
  src/tunacode/core/types/__init__.py
  src/tunacode/core/types/agent_state.py
  src/tunacode/core/types/state.py
  src/tunacode/core/types/state_structures.py
  src/tunacode/core/types/tool_registry.py
  src/tunacode/core/user_configuration.py
  src/tunacode/types/__init__.py
  src/tunacode/types/callbacks.py
  src/tunacode/types/dataclasses.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/widgets/messages.py
  src/tunacode/ui/widgets/resource_bar.py
  src/tunacode/utils/config/user_configuration.py
  tests/integration/core/test_tool_call_lifecycle.py
  tests/integration/tools/test_tool_dispatcher_coverage.py
  tests/unit/types/test_tool_registry.py
Due: dead-imports, vulture-changed

chore: close tickets for merged PR #316
  .tickets/tun-3cde.md
  .tickets/tun-48fe.md
  .tickets/tun-979a.md
  .tickets/tun-f096.md
Due: none

docs: update mypy status and baseline date after Gate 2 completion
  CLAUDE.md
Due: none

docs: add lesson about only formatting new/changed code
  CLAUDE.md
Due: none

docs: remove redundant lesson (already covered in existing rules)
  CLAUDE.md
Due: none

docs: add architecture layers visualization
  docs/architecture/layers_html.html
Due: none

chore: close tickets for merged PR #317
  .tickets/tun-7246.md
  .tickets/tun-8812.md
  .tickets/tun-a3d5.md
  .tickets/tun-b098.md
  .tickets/tun-b9c8.md
Due: none

docs: update architecture diagram after PR #317
  docs/architecture/layers_html.html
Due: none

docs: update NEW_layers.html for issue #314 planning
  docs/architecture/NEW_layers.html
Due: none

chore: pre-checkout save
  .tickets/tun-1012.md
  .tickets/tun-27ea.md
  .tickets/tun-2ddf.md
  .tickets/tun-5681.md
  .tickets/tun-5f58.md
  .tickets/tun-8218.md
  .tickets/tun-be3d.md
  docs/codebase-map/modules/prompts.md
  memory-bank/plan/2026-01-27_21-30-00_issue-314-lateral-coupling.md
  memory-bank/plan/2026-01-27_21-45-00_delete-indexing-system.md
  memory-bank/research/2026-01-27_13-11-55_issue-314-lateral-coupling-tools-indexing-lsp.md
Due: none

refactor(tun-27ea): delete indexing/ module and core/indexing_service.py
  src/tunacode/core/indexing_service.py
  src/tunacode/indexing/__init__.py
  src/tunacode/indexing/code_index.py
  src/tunacode/indexing/constants.py
Due: dead-imports, vulture-changed

refactor(tun-5f58): clean glob.py, state.py, ui/app.py after indexing deletion
  .tickets/tun-27ea.md
  .tickets/tun-5f58.md
  memory-bank/execute/2026-01-27_21-50-00_tickets.md
  src/tunacode/core/state.py
  src/tunacode/tools/glob.py
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed

refactor(tun-8218): update tests and docs for indexing removal
  .tickets/tun-5f58.md
  .tickets/tun-8218.md
  docs/architecture/DEPENDENCY_MAP.md
  docs/codebase-map/MAP.md
  docs/codebase-map/modules/00-overview.md
  docs/codebase-map/modules/INDEX.md
  docs/codebase-map/modules/indexing.md
  tests/architecture/test_import_order.py
  tests/test_dependency_layers.py
Due: dead-imports

refactor(tun-2ddf): merge tools/lsp_status.py into core/lsp_status.py
  .tickets/tun-2ddf.md
  .tickets/tun-8218.md
  src/tunacode/core/lsp_status.py
  src/tunacode/tools/lsp_status.py
Due: dead-imports, vulture-changed

refactor(tun-be3d): remove LSP import from file_tool decorator
  .tickets/tun-2ddf.md
  .tickets/tun-be3d.md
  src/tunacode/tools/decorators.py
  src/tunacode/tools/update_file.py
  src/tunacode/tools/write_file.py
Due: dead-imports, vulture-changed

docs: update execution log with final summary
  .tickets/tun-be3d.md
  memory-bank/execute/2026-01-27_21-50-00_tickets.md
Due: none

fix: restore lsp status facade and adjust tests
  src/tunacode/core/lsp_status.py
  src/tunacode/tools/decorators.py
  src/tunacode/tools/lsp_status.py
  src/tunacode/ui/app.py
  tests/unit/core/test_text_match.py
  tests/unit/tools/test_tool_decorators.py
Due: dead-imports, vulture-changed

chore: update pre-commit config (to be uncommented later)
  .pre-commit-config.yaml
Due: none

docs: update changelog with today's architectural refactor PRs (#316, #317, #318)
  CHANGELOG.md
Due: none

docs: add LSP architecture analysis and removal/reimplementation plan
  PLAN.md
Due: none

feat: add grimp layer dependency report
  .tickets/tun-0db4.md
  .tickets/tun-2cd6.md
  .tickets/tun-3149.md
  .tickets/tun-486f.md
  .tickets/tun-c2f8.md
  .tickets/tun-d150.md
  .tickets/tun-d9c6.md
  PLAN.md
  docs/architecture/DEPENDENCY_LAYERS.dot
  docs/architecture/DEPENDENCY_LAYERS.md
  docs/architecture/DEPENDENCY_LAYERS.png
  docs/architecture/DEPENDENCY_MAP.md
  docs/architecture/layers.dot
  docs/architecture/layers.png
  scripts/dep-graph.py
  scripts/generate-dependency-map.py
  scripts/grimp_layers_report.py
Due: dead-imports, vulture-changed

chore: pre lsp CLEAN up
  .tickets/tun-2cd6.md
  .tickets/tun-3149.md
  .tickets/tun-c2f8.md
  .tickets/tun-d150.md
Due: none
