Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

dead-imports:
  name: Check for unused imports in changed files
  entry: uv run unimport --check --diff --exclude "venv/*" --gitignore
  language: system
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

feat: Add multi-line paste support with collapsed display
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/editor.py
  src/tunacode/ui/widgets/messages.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.8
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

refactor: extract methods from watch_value for better SRP
  src/tunacode/ui/widgets/editor.py
Due: dead-imports, vulture-changed

fix: export screen classes from ui/screens package
  src/tunacode/ui/screens/__init__.py
Due: dead-imports, vulture-changed

chore: bump version to 0.1.9
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: pass parent state_manager to research agent for API key access (#170)
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/research_agent.py
Due: dead-imports, vulture-changed

docs: add delta summary for PR #170 research agent fix
  .claude/code_index/kb-claude-code-touchpoints.md
  .claude/delta/research-agent-state-manager-fix.md
Due: none

docs: update .claude/ structure to match actual layout
  AGENTS.md
  CLAUDE.md
Due: none

Remove unused typing scaffolding from state transition (#171)
  src/tunacode/core/agents/agent_components/state_transition.py
Due: dead-imports, vulture-changed

chore: remove unused GUIDE_FILE_PATTERN constant
  memory-bank/cleanup-sweep/dead-code.md
  memory-bank/cleanup-sweep/duplication.md
  memory-bank/cleanup-sweep/imports.md
  memory-bank/cleanup-sweep/tasks.md
  memory-bank/plan/2025-12-14_12-15-00_issue144_headless_cli_mode.md
  memory-bank/research/2025-12-14_11-30-00_issue144_headless_cli_mode.md
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: add headless CLI mode for benchmark execution (#174)
  memory-bank/execute/2025-12-14_12-30-00_issue144_headless_cli_mode.md
  src/tunacode/ui/main.py
  tests/test_headless_cli.py
Due: dead-imports, vulture-changed

feat: add tool start callback for UI feedback
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed

fix: clarify tool running status
  src/tunacode/ui/app.py
  src/tunacode/ui/widgets/status_bar.py
Due: dead-imports, vulture-changed

fix(cli): default to TUI when no subcommand
  src/tunacode/ui/main.py
  tests/test_cli_default_command.py
Due: dead-imports, vulture-changed

chore: ruff format
  src/tunacode/ui/main.py
  src/tunacode/ui/widgets/editor.py
  tests/test_cli_default_command.py
Due: dead-imports, vulture-changed

chore: pin ruff to 0.14.9
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: add subagent UI loading states with progress feedback (#180)
  src/tunacode/core/agents/delegation_tools.py
  src/tunacode/core/agents/research_agent.py
  src/tunacode/core/state.py
  src/tunacode/types.py
  src/tunacode/ui/app.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/tools/__init__.py
  src/tunacode/ui/renderers/tools/research.py
  src/tunacode/ui/widgets/status_bar.py
Due: dead-imports, vulture-changed

docs: add subagent UI loading states research and CLI scaffold
  memory-bank/research/2025-12-16_subagent-ui-loading-states.md
  src/tunacode/cli/textual_repl.tcss
  subagents.png
Due: none

chore: bump version to 0.1.10
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

feat: add todowrite and todoread tools for task tracking
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/state.py
  src/tunacode/tools/prompts/todoread_prompt.xml
  src/tunacode/tools/prompts/todowrite_prompt.xml
  src/tunacode/tools/todo.py
Due: dead-imports, vulture-changed

implement update
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/screens/__init__.py
  src/tunacode/ui/screens/update_confirm.py
Due: dead-imports, vulture-changed

fix #155 and #154
  .github/scripts/check_file_size.py
  src/tunacode/indexing/code_index.py
  src/tunacode/indexing/constants.py
  src/tunacode/ui/app.py
  src/tunacode/ui/callbacks.py
  src/tunacode/ui/styles/layout.tcss
  src/tunacode/ui/styles/modals.tcss
  src/tunacode/ui/styles/panels.tcss
  src/tunacode/ui/styles/theme-nextstep.tcss
  src/tunacode/ui/styles/widgets.tcss
Due: dead-imports, vulture-changed

fix #155 and #154
  src/tunacode/ui/app.py
Due: dead-imports, vulture-changed

fix coderabbit comments
  src/tunacode/indexing/constants.py
  src/tunacode/ui/callbacks.py
  src/tunacode/ui/styles/theme-nextstep.tcss
  src/tunacode/ui/styles/widgets.tcss
Due: dead-imports, vulture-changed

fix nitpicks
  src/tunacode/ui/commands/__init__.py
  src/tunacode/ui/screens/update_confirm.py
Due: dead-imports, vulture-changed

feat: register todoclear and enforce todo invariants
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/tools/prompts/todoclear_prompt.xml
  src/tunacode/tools/todo.py
  tests/test_todo_tools.py
Due: dead-imports, vulture-changed

chore: add todo tool attribution
  src/tunacode/tools/todo.py
Due: dead-imports, vulture-changed

chore: update changelog for PR #182
  CHANGELOG.md
Due: none

Simplify concatenated JSON parsing (#175)
  src/tunacode/utils/parsing/json_utils.py
Due: dead-imports, vulture-changed

chore: update changelog for PR #175
  CHANGELOG.md
Due: none

chore: rollback point before LSP detection implementation
  memory-bank/execute/2025-12-17_12-15-00_lsp-detection.md
  memory-bank/plan/2025-12-17_12-00-00_lsp-detection.md
  memory-bank/research/2025-12-17_10-50-05_input-text-wrapping.md
  memory-bank/research/2025-12-17_11-35-51_lsp-detection-tunacode.md
Due: none

feat(lsp): M1 - add core LSP client module (T1, T2, T3)
  src/tunacode/lsp/__init__.py
  src/tunacode/lsp/client.py
  src/tunacode/lsp/servers.py
Due: dead-imports, vulture-changed

feat(lsp): M2+M3 - integrate LSP into file tools (T4-T8)
  src/tunacode/configuration/defaults.py
  src/tunacode/tools/decorators.py
  src/tunacode/tools/update_file.py
  src/tunacode/tools/write_file.py
Due: dead-imports, vulture-changed

test(lsp): add integration tests for LSP client
  tests/test_lsp_client.py
Due: dead-imports

fix(lsp): address lint issues in client.py
  src/tunacode/lsp/client.py
  src/tunacode/tools/decorators.py
Due: dead-imports, vulture-changed

docs: update execution log with final results
  memory-bank/execute/2025-12-17_12-15-00_lsp-detection.md
Due: none

fix(lsp): resolve race condition with single reader task
  src/tunacode/lsp/client.py
Due: dead-imports, vulture-changed

feat(ui): add LSP status indicator to resource bar
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed

feat(ui): show LSP server name when enabled
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed

feat(lsp): switch Python LSP from pyright to ruff
  research.md
  src/tunacode/lsp/servers.py
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))
