Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

dead-imports:
  name: Check for unused imports in changed files
  entry: scripts/run-dead-imports.sh
  language: script
  stages:
  - pre-commit

vulture-changed:
  name: Check for dead code in changed files
  entry: uv run vulture --min-confidence 80 src/ scripts/utils/vulture_whitelist.py
  language: system
  stages:
  - pre-commit

naming-conventions:
  name: Check naming conventions
  entry: uv run python scripts/check-naming-conventions.py
  language: system

pylint-duplicates:
  name: Check for duplicate code
  entry: uv run pylint --disable=all --enable=R0801 --min-similarity-lines=15
  language: system
  pass_filenames: true
  stages:
  - pre-commit

T003: remove correctness preloads from runtime model paths
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/compaction/controller.py
  src/tunacode/ui/commands/model.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T004: add cold-cache regression tests for session and pricing
  tests/unit/configuration/test_pricing_registry_loading.py
  tests/unit/core/test_session_state_model_registry_loading.py
Due: dead-imports

T004: resolve make check lint blockers
  .artifacts/execute/2026-03-26_16-20-32_models-loading-unification.md
  src/tunacode/constants.py
  src/tunacode/infrastructure/cache/caches/models_registry.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/configuration/test_models_registry_loading_behavior.py
  tests/unit/configuration/test_pricing_registry_loading.py
  tests/unit/core/test_session_state_model_registry_loading.py
  tests/unit/infrastructure/test_file_filter.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan pr-444-review-fixes
  .artifacts/execute/2026-03-28_12-18-53_pr-444-review-fixes.md
  .artifacts/plan/2026-03-27_13-59-15_pr-444-review-fixes/PLAN.md
Due: none

T001: restore ignore-file fallback behavior
  AGENTS.md
  src/tunacode/configuration/ignore_patterns.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: add ignore fault-tolerance regressions
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/infrastructure/test_file_filter.py
  tests/unit/tools/test_ignore_manager.py
  tests/unit/utils/test_gitignore.py
Due: dead-imports

T003: align public model types with registry schema
  src/tunacode/types/__init__.py
  src/tunacode/types/models_registry.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Fix gitignore fallback and types docs
  docs/modules/types/types.md
  src/tunacode/configuration/ignore_patterns.py
  tests/unit/configuration/test_ignore_patterns.py
  tests/unit/utils/test_gitignore.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Update documentation artifacts for current module state
  docs/codebase-map/structure/tree-structure.txt
  docs/modules/configuration/configuration.md
  docs/modules/infrastructure/infrastructure.md
  docs/modules/tools/tools.md
  docs/modules/types/types.md
  docs/modules/utils/utils.md
Due: none

Introduce typed UserConfig/UserSettings with validated config loading (#445)
  AGENTS.md
  src/tunacode/configuration/defaults.py
  src/tunacode/configuration/limits.py
  src/tunacode/configuration/models.py
  src/tunacode/configuration/user_config.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/agent_session_config.py
  src/tunacode/core/compaction/controller.py
  src/tunacode/core/session/state.py
  src/tunacode/core/types/state.py
  src/tunacode/core/ui_api/configuration.py
  src/tunacode/core/ui_api/user_configuration.py
  src/tunacode/infrastructure/cache/caches/limits_settings.py
  src/tunacode/tools/lsp/diagnostics.py
  src/tunacode/types/__init__.py
  src/tunacode/types/base.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/model.py
  src/tunacode/ui/commands/theme.py
  src/tunacode/ui/lifecycle.py
  src/tunacode/ui/main.py
  src/tunacode/ui/screens/api_key_entry.py
  tests/conftest.py
  tests/integration/ui/test_submit_loading_lifecycle.py
  tests/system/cli/test_startup.py
  tests/system/cli/test_tmux_tools.py
  tests/unit/configuration/test_provider_api_key_env_fallback.py
  tests/unit/configuration/test_user_config_loading.py
  tests/unit/core/test_session_state_model_registry_loading.py
  tests/unit/infrastructure/test_migrated_lru_cache_replacements.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Drop unused defusedxml dependency from packaging metadata
  pyproject.toml
  uv.lock
Due: none

chore: remove temporary autoresearch and agents-typed artifacts
  agents-typed.md
  autoresearch.checks.sh
  autoresearch.ideas.md
  autoresearch.jsonl
  autoresearch.md
  autoresearch.sh
Due: none

chore: remove typed.md typing cleanup report
  typed.md
Due: none

refactor: remove headless mode in preparation for RPC implementation
  LOG.md
  plan.md
  src/tunacode/ui/headless/__init__.py
  src/tunacode/ui/headless/output.py
  src/tunacode/ui/main.py
  tests/system/cli/test_cli_default_command.py
  tests/system/cli/test_startup.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: align master docs with current config and UI
  README.md
  docs/codebase-map/structure/tree-structure.txt
  docs/modules/configuration/configuration.md
  docs/modules/types/types.md
  docs/modules/ui/commands.md
  docs/modules/ui/ui.md
Due: none

ci: add manual PyPI publish workflow
  .github/workflows/publish-release.yml
  skills/pypi-release/SKILL.md
  skills/pypi-release/references/common-issues.md
  skills/pypi-release/references/workflow-structure.md
  skills/pypi-release/scripts/bump_version.py
  skills/pypi-release/scripts/local_publish.py
  skills/pypi-release/scripts/release.py
Due: dead-imports, vulture-changed

chore: fix vendored pypi-release lint blockers
  skills/pypi-release/scripts/bump_version.py
  skills/pypi-release/scripts/local_publish.py
  skills/pypi-release/scripts/release.py
Due: dead-imports, vulture-changed

chore(release): bump version to 0.1.101
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs(ci): document deployment flow and refresh workflow actions
  .github/workflows/dependency-map.yml
  .github/workflows/empty-dir-check.yml
  .github/workflows/lint.yml
  .github/workflows/publish-release.yml
  .github/workflows/release.yml
  .github/workflows/tech-debt.yml
  AGENTS.md
  docs/deployment.md
Due: none

chore: harden harness audit workflow (#449)
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/PLAN.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/INDEX.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T001.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T002.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T003.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T004.md
  .artifacts/research/2026-03-31_11-32-31_theme-switch-dim-background-crash.md
  .artifacts/research/2026-03-31_16-51-07_ui-api.md
  AGENTS.md
  HARNESS.md
  Makefile
  docs/skills/audit-harness/SKILL.md
  skills/pypi-release/scripts/bump_version.py
  skills/pypi-release/scripts/local_publish.py
  skills/pypi-release/scripts/release.py
  src/tunacode/ui/commands/help.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan ui-api-passthrough-reduction
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/PLAN.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/INDEX.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T001.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T002.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T003.md
  .artifacts/plan/2026-03-31_17-00-48_ui-api-passthrough-reduction/tickets/T004.md
Due: none

T001: migrate startup and model-selection imports
  .artifacts/execute/2026-04-01_23-07-36_ui-api-passthrough-reduction.md
  src/tunacode/ui/commands/model.py
  src/tunacode/ui/commands/resume.py
  src/tunacode/ui/commands/theme.py
  src/tunacode/ui/commands/update.py
  src/tunacode/ui/lifecycle.py
  src/tunacode/ui/main.py
  src/tunacode/ui/screens/api_key_entry.py
  src/tunacode/ui/screens/model_picker.py
  src/tunacode/ui/screens/setup.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: migrate runtime and renderer imports
  .artifacts/execute/2026-04-01_23-07-36_ui-api-passthrough-reduction.md
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/clear.py
  src/tunacode/ui/commands/compact.py
  src/tunacode/ui/renderers/agent_response.py
  src/tunacode/ui/renderers/panel_widths.py
  src/tunacode/ui/renderers/panels.py
  src/tunacode/ui/renderers/search.py
  src/tunacode/ui/renderers/tools/base.py
  src/tunacode/ui/renderers/tools/bash.py
  src/tunacode/ui/renderers/tools/diagnostics.py
  src/tunacode/ui/renderers/tools/discover.py
  src/tunacode/ui/renderers/tools/hashline_edit.py
  src/tunacode/ui/renderers/tools/read_file.py
  src/tunacode/ui/renderers/tools/web_fetch.py
  src/tunacode/ui/renderers/tools/write_file.py
  src/tunacode/ui/repl_support.py
  src/tunacode/ui/screens/session_picker.py
  src/tunacode/ui/styles.py
  src/tunacode/ui/welcome.py
  src/tunacode/ui/widgets/messages.py
  src/tunacode/ui/widgets/resource_bar.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T003: delete passthrough ui_api facades
  .artifacts/execute/2026-04-01_23-07-36_ui-api-passthrough-reduction.md
  src/tunacode/constants.py
  src/tunacode/core/ui_api/configuration.py
  src/tunacode/core/ui_api/constants.py
  src/tunacode/core/ui_api/messaging.py
  src/tunacode/core/ui_api/shared_types.py
  src/tunacode/core/ui_api/system_paths.py
  src/tunacode/core/ui_api/user_configuration.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T004: ratchet reduced ui_api surface
  .artifacts/execute/2026-04-01_23-07-36_ui-api-passthrough-reduction.md
  src/tunacode/core/ui_api/__init__.py
  src/tunacode/core/ui_api/file_filter.py
  src/tunacode/core/ui_api/lsp_status.py
  tests/architecture/test_ui_api_surface.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

docs: finalize ui-api passthrough execution log
  .artifacts/execute/2026-04-01_23-07-36_ui-api-passthrough-reduction.md
Due: none

[codex] perf: cache conversation total tokens and improve request debug flow (#451)
  .artifacts/research/2026-04-01_23-32-20_session-save-tail-and-message-boundary.md
  .artifacts/research/2026-04-01_tinyagent-boundary.md
  AGENTS.md
  src/tunacode/core/agents/main.py
  src/tunacode/core/compaction/controller.py
  src/tunacode/core/session/state.py
  src/tunacode/ui/app.py
  src/tunacode/ui/commands/debug.py
  src/tunacode/ui/request_debug.py
  tests/test_compaction.py
  tests/unit/core/test_request_orchestrator_parallel_tools.py
  tests/unit/ui/test_request_debug.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore(release): bump version to 0.2.0
  CHANGELOG.md
  pyproject.toml
  src/tunacode/constants.py
  uv.lock
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

rollback: before executing plan textual-dim-crash
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/PLAN.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/INDEX.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/T001.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/T002.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/T003.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/T004.md
  .artifacts/plan/2026-04-02_18-14-37_textual-dim-crash/tickets/T005.md
  .artifacts/research/2026-04-02_18-10-50_textual-dim-crash.md
Due: none

T001: Harden wrapped built-in themes against unresolved colors
  .artifacts/execute/2026-04-02_18-24-12_textual-dim-crash.md
  src/tunacode/constants.py
  tests/unit/ui/test_theme_wrapping.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T002: Normalize Rich segment styles before Textual filter execution
  .artifacts/execute/2026-04-02_18-24-12_textual-dim-crash.md
  src/tunacode/ui/render_safety.py
  src/tunacode/ui/welcome.py
  src/tunacode/ui/widgets/chat.py
  tests/unit/ui/test_render_safety.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

T003: Add a startup and theme-switch crash regression harness
  .artifacts/execute/2026-04-02_18-24-12_textual-dim-crash.md
  tests/integration/ui/test_theme_render_crash_regression.py
Due: dead-imports

T004: Refresh developer docs and AGENTS metadata for render safety
  .artifacts/execute/2026-04-02_18-24-12_textual-dim-crash.md
  AGENTS.md
  docs/modules/ui/ui.md
  docs/ui/css-architecture.md
Due: none

T002: Finalize render_safety validation fixes
  .artifacts/execute/2026-04-02_18-24-12_textual-dim-crash.md
  src/tunacode/ui/render_safety.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

chore: doc updates
  .artifacts/issue_analysis_report_2026-04-04.md
  .pre-commit-config.yaml
  Untitled
  docs/workflows/DEBUG.md
  docs/workflows/DOCS.md
  docs/workflows/DREAM.md
  docs/workflows/HARNESS.md
  docs/workflows/HOTFIX.md
  docs/workflows/QA.md
  docs/workflows/README.md
  scripts/check_markdown_frontmatter.py
Due: dead-imports, vulture-changed

bootstrap make install
  AGENTS.md
  Makefile
  README.md
  docs/workflows/FEATURES.md
  scripts/dev-setup.sh
Due: none

Fix harness fallout after rebase
  src/tunacode/constants.py
  src/tunacode/ui/welcome.py
  tests/integration/ui/test_theme_render_crash_regression.py
  tests/unit/ui/test_render_safety.py
Due: dead-imports, vulture-changed, naming-conventions, pylint-duplicates

Expand workflow documentation guidance
  AGENTS.md
  docs/workflows/DEBUG.md
  docs/workflows/DREAM.md
  docs/workflows/FEATURES.md
  docs/workflows/HARNESS.md
  docs/workflows/QA.md
  docs/workflows/README.md
Due: none

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  naming-conventions: any of: ^src/.*\.py$ and not (^(tests/|scripts/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
  pylint-duplicates: any of: ^src/.*\.py$ and not (^(tests/|scripts/|__pycache__/)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.uv-cache/|\.uv_cache/|htmlcov/|\.coverage|reports/|llm-agent-tools/|\.tickets/))
