Repository ryumacodes/tunacode: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-imports, vulture-changed

Path conditions:
  dead-imports: any of: \.py$, but not: ^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/)
  vulture-changed: any of: \.py$ and not (^(tests/|test_)) and not (^(venv/|build/|dist/|\.git/|__pycache__/|.*\.egg-info/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|htmlcov/|\.coverage|reports/))

fix(shell): remove possible \x00 bytes
  src/kimi_cli/ui/shell/prompt.py
Due: dead-imports, vulture-changed

perf: list working dir and load agents.md concurrently (#133)
  src/kimi_cli/soul/runtime.py
Due: dead-imports, vulture-changed

chore: change kimi-for-coding platform display name
  src/kimi_cli/ui/shell/setup.py
Due: dead-imports, vulture-changed

chore: bump version to 0.44 (#134)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: allow `KIMI_MODEL_CAPABILITIES` env var to override mode capabilities
  src/kimi_cli/llm.py
Due: dead-imports, vulture-changed

feat: add `--no-markdown` option to allow disabling markdown rendering
  src/kimi_cli/app.py
  src/kimi_cli/cli.py
  src/kimi_cli/ui/shell/__init__.py
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

fix: bump kosong to fix session continue panic
  pyproject.toml
  uv.lock
Due: none

feat: introduces openai_responses chat provider and supports think part UI (#6)
  src/kimi_cli/config.py
  src/kimi_cli/llm.py
  src/kimi_cli/ui/shell/liveview.py
  src/kimi_cli/ui/shell/visualize.py
Due: dead-imports, vulture-changed

chore: bump version to 0.45 (#139)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: document src-layout pattern in src/__init__.py
  src/__init__.py
Due: dead-imports, vulture-changed

fix: scope @src/ validation to actual reference expansion
  src/tunacode/utils/text_utils.py
Due: dead-imports, vulture-changed

chore: add *.bak to .gitignore
  .gitignore
Due: none

chore: major cleanup and removal of unused components
  scratch.sh
Due: none

refactor: remove test pollution from src/ directory
  src/README.md
Due: none

fix: prevent --show-config dashboard from blocking on user input
  src/tunacode/ui/config_dashboard.py
Due: dead-imports, vulture-changed

perf: add autouse fixture to mock time.sleep in retry logic
  tests/conftest.py
Due: dead-imports

fix: prevent @src/ expansion from TunaCode's own directory
  src/tunacode/utils/text_utils.py
Due: dead-imports, vulture-changed

fix: set terminal width in integration tests to prevent help text truncation
  tests/integration/test_startup_dashboard.py
Due: dead-imports

Fix failing async mock and test errors (#111)
  tests/conftest.py
  tests/test_onboarding_features.py
  tests/test_tool_batching_retry.py
  tests/ui/test_config_dashboard.py
  tests/unit/test_constants_enums.py
Due: dead-imports

chore: code cleanup - fix linting, remove clutter, format code (#112)
  .gitignore
  src/tunacode/cli/commands/implementations/template.py
  src/tunacode/cli/repl.py
  src/tunacode/configuration/key_descriptions.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/tool_handler.py
  src/tunacode/ui/config_dashboard.py
  src/tunacode/ui/panels.py
  src/tunacode/ui/path_heuristics.py
  tests/characterization/agent/test_json_tool_parsing.py
  tests/characterization/services/test_error_recovery.py
  tests/characterization/services/test_llm_routing.py
  tests/characterization/services/test_mcp_integration.py
  tests/characterization/test_characterization_commands.py
  tests/conftest.py
  tests/test_command_parser_retry.py
  tests/test_json_concatenation_recovery.py
  tests/test_prompt_changes_validation.py
Due: dead-imports, vulture-changed

docs: update documentation structure and KB tool instructions
  AGENTS.md
  CLAUDE.md
  tests/test_onboarding_features.py
Due: dead-imports

docs: add comprehensive tool_handler.py architecture analysis
  memory-bank/research/2025-11-05_17-35-17_tool_handler_mapping.md
Due: none

Remove unused setup agent helper (#114)
  src/tunacode/setup.py
Due: dead-imports, vulture-changed

refactor: separate tool authorization concerns and eliminate God Object (#113)
  .claude/debug_history/2025-11-05_tool_handler_refactoring.md
  .claude/delta_summaries/2025-11-05_tool_handler_api_changes.md
  .claude/patterns/tool_handler_refactoring_pattern.md
  memory-bank/research/2025-11-05_refactored_tool_handler_design.md
  src/tunacode/core/tool_authorization.py
  src/tunacode/core/tool_handler.py
  tests/golden_baseline_tool_handler_authorization.py
Due: dead-imports, vulture-changed

refactor: remove plan mode architecture and simplify tool flow (#115)
  .claude/debug_history/cli.tool_confirmation.json
  .claude/docs_model_friendly/option3_feedback_flow.md
  .claude/manifest.json
  memory-bank/research/2025-11-11_12-12-42_option3_feedback_flow.md
  memory-bank/research/2025-11-11_12-23-58_plan_mode_architecture.md
  src/tunacode/cli/commands/implementations/plan.py
  src/tunacode/cli/commands/registry.py
  src/tunacode/cli/repl.py
  src/tunacode/cli/repl_components/output_display.py
  src/tunacode/cli/repl_components/tool_executor.py
  src/tunacode/constants.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/state.py
  src/tunacode/core/tool_authorization.py
  src/tunacode/core/tool_handler.py
  src/tunacode/prompts/system.md.bak
  src/tunacode/tools/exit_plan_mode.py
  src/tunacode/tools/present_plan.py
  src/tunacode/tools/prompts/exit_plan_mode_prompt.xml
  src/tunacode/tools/prompts/present_plan_prompt.xml
  src/tunacode/types.py
  src/tunacode/ui/input.py
  src/tunacode/ui/keybindings.py
  src/tunacode/ui/output.py
  src/tunacode/ui/panels.py
  src/tunacode/ui/prompt_manager.py
  tests/FILE_OPERATIONS_TEST_GUIDE.md
  tests/characterization/agent/test_agent_creation.py
  tests/characterization/repl/test_output_display_logic.py
  tests/characterization/repl_components/test_tool_handler.py
  tests/characterization/test_characterization_main.py
  tests/characterization/ui/test_spinner_messages.py
  tests/golden_baseline_tool_handler_authorization.py
  tests/test_agent_output_formatting.py
  tests/test_plan_mode.py
Due: dead-imports, vulture-changed

fix: align agent cache version hash to include tool_strict_validation (#116)
  src/tunacode/core/agents/agent_components/agent_config.py
Due: dead-imports, vulture-changed

fix: enhance thread safety and resource cleanup in agent components
  memory-bank/plan/2025-11-12_15-50-42_critical_thread_safety_resource_fixes.md
  memory-bank/research/2025-11-12_15-48-04_ai_agent_system_mapping.md
  memory-bank/research/2025-11-12_permission_system_map.md
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/response_state.py
  src/tunacode/core/agents/agent_components/tool_executor.py
Due: dead-imports, vulture-changed

chore: update knowledge base entries and add thread safety test
  .claude/debug_history/agent.state.json
  .claude/debug_history/agent.tool_execution.json
  .claude/manifest.json
  .claude/patterns/agent.state.json
  tests/golden_baseline_thread_safety_resources.py
Due: dead-imports

fix: implement actual resource cleanup in tools (Phase 1)
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/tool_executor.py
  src/tunacode/tools/base.py
  src/tunacode/tools/bash.py
  src/tunacode/tools/run_command.py
Due: dead-imports, vulture-changed

dummy commit to confirm
  dummy.txt
  memory-bank/research/2025-11-16_venv_setup_complexity_analysis.md
  scripts/setup_dev_env.sh
  scripts/verify_dev_env.sh
Due: none

remove: complex development setup scripts and update related files
  .claude/debug_history/agent.state.json
  .claude/debug_history/agent.tool_execution.json
  .claude/debug_history/cli.tool_confirmation.json
  .claude/docs_model_friendly/option3_feedback_flow.md
  .claude/manifest.json
  .claude/patterns/agent.state.json
  documentation/development/hatch-build-system.md
  dummy.txt
  memory-bank/research/2025-11-05_17-35-17_tool_handler_mapping.md
  memory-bank/research/2025-11-12_15-48-04_ai_agent_system_mapping.md
  memory-bank/research/2025-11-12_permission_system_map.md
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/setup.py
  tests/conftest.py
  tests/golden_baseline_thread_safety_resources.py
  tests/test_onboarding_features.py
Due: dead-imports, vulture-changed

chore: Smart commit on master
  .claude/debug_history/debug_sessions.json
  .claude/delta_summaries/behavior_changes.json
  .claude/delta_summaries/reasoning_logs.json
  .claude/manifest.json
  .gitignore
  docs/reports/subagent_analysis/code-synthesis-analyzer_report.md
  docs/reports/subagent_analysis/codebase-analyzer_report.md
  docs/reviews/FAGAN_PLAN.md
  docs/reviews/agent_seams.md
  docs/reviews/fagan_inspection_defects.json
  docs/reviews/fagan_inspection_summary.md
  docs/reviews/main_agent_refactor_issues.md
  docs/reviews/main_agent_refactor_plan.md
  pyproject.toml
  scripts/setup_dev_env.sh
  src/tunacode/core/agents/main.py
  src/tunacode/tools/base.py
  src/tunacode/ui/config_dashboard.py
  tests/characterization/code_index/test_cache_management.py
  tests/characterization/code_index/test_file_scanning.py
  tests/characterization/code_index/test_index_building.py
  tests/characterization/code_index/test_search_operations.py
  tests/characterization/conftest.py
Due: dead-imports, vulture-changed

docs: add main agent architecture research and implementation plan
  memory-bank/research/2025-11-16_main-agent-architecture-map.md
  plan.md
Due: none

feat: implement MCP server cache cleanup mechanisms (Phase 2) (#119)
  src/tunacode/cli/main.py
  src/tunacode/cli/repl.py
  src/tunacode/core/agents/__init__.py
  src/tunacode/core/agents/agent_components/agent_config.py
  src/tunacode/core/agents/main.py
  src/tunacode/services/mcp.py
  tests/characterization/test_mcp_cleanup.py
Due: dead-imports, vulture-changed

refactor: agent system cleanup and knowledge base updates
  .claude/cheatsheets/agents.core.json
  .claude/delta_summaries/behavior_changes.json
  .claude/manifest.json
  .claude/patterns/agents.main_beta.json
  .claude/qa/agents.core.json
  documentation/agent/main-agent-key-sections.md
  src/tunacode/core/agents/agent_components/node_processor.py
  src/tunacode/core/agents/agent_components/streaming.py
  src/tunacode/core/agents/main.py
Due: dead-imports, vulture-changed

chore: bump version to 0.0.78.0
  pyproject.toml
  src/tunacode/constants.py
Due: dead-imports, vulture-changed

fix: pin Python version to 3.12 in publish workflow
  .github/workflows/publish-release.yml
Due: none
